/* line 10, normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 13, normalize.sass */
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

/* line 19, normalize.sass */
audio, canvas, video {
  display: inline-block; }

/* line 25, normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 31, normalize.sass */
[hidden] {
  display: none; }

/* line 42, normalize.sass */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 53, normalize.sass */
body {
  margin: 0; }

/* line 64, normalize.sass */
a:focus {
  outline: thin dotted; }
/* line 66, normalize.sass */
a:active, a:hover {
  outline: 0; }

/* line 86, normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 92, normalize.sass */
b, strong {
  font-weight: bold; }

/* line 98, normalize.sass */
dfn {
  font-style: italic; }

/* line 103, normalize.sass */
mark {
  background: yellow;
  color: black; }

/* line 109, normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif; }

/* line 115, normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 122, normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 130, normalize.sass */
sub {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 136, normalize.sass */
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

/* line 143, normalize.sass */
sub {
  bottom: -0.25em; }

/* line 150, normalize.sass */
img {
  border: 0; }

/* line 152, normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 159, normalize.sass */
figure {
  margin: 0; }

/* line 166, normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 171, normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 175, normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  margin: 0;
  border: 0; }

/* line 181, normalize.sass */
input:focus {
  outline: none; }

/* line 187, normalize.sass */
button,
input {
  line-height: normal; }

/* line 191, normalize.sass */
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 197, normalize.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 202, normalize.sass */
button[disabled] {
  cursor: default; }

/* line 206, normalize.sass */
input[disabled] {
  cursor: default; }
/* line 208, normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
/* line 212, normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  /* line 217, normalize.sass */
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/* line 233, normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 241, normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 254, normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }
