@import url(../webfonts/ss-social-circle.css);
/* line 10, normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 13, normalize.sass */
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

/* line 19, normalize.sass */
audio, canvas, video {
  display: inline-block; }

/* line 25, normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 31, normalize.sass */
[hidden] {
  display: none; }

/* line 42, normalize.sass */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 53, normalize.sass */
body {
  margin: 0; }

/* line 64, normalize.sass */
a:focus {
  outline: thin dotted; }
/* line 66, normalize.sass */
a:active, a:hover {
  outline: 0; }

/* line 86, normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 92, normalize.sass */
b, strong {
  font-weight: bold; }

/* line 98, normalize.sass */
dfn {
  font-style: italic; }

/* line 103, normalize.sass */
mark {
  background: yellow;
  color: black; }

/* line 109, normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif; }

/* line 115, normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 122, normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 130, normalize.sass */
sub {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 136, normalize.sass */
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

/* line 143, normalize.sass */
sub {
  bottom: -0.25em; }

/* line 150, normalize.sass */
img {
  border: 0; }

/* line 152, normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 159, normalize.sass */
figure {
  margin: 0; }

/* line 166, normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 171, normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 175, normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  margin: 0;
  border: 0; }

/* line 181, normalize.sass */
input:focus {
  outline: none; }

/* line 187, normalize.sass */
button,
input {
  line-height: normal; }

/* line 191, normalize.sass */
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 197, normalize.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 202, normalize.sass */
button[disabled] {
  cursor: default; }

/* line 206, normalize.sass */
input[disabled] {
  cursor: default; }
/* line 208, normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
/* line 212, normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  /* line 217, normalize.sass */
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/* line 233, normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 241, normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 254, normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, partials/typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, arial, sans-serif;
  font-weight: 900; }

/* line 5, partials/typography.sass */
p {
  font-family: Helvetica, arial, sans-serif;
  font-weight: 100;
  color: #5f6163;
  line-height: 1.625;
  margin-bottom: 0.82341em; }

/* line 11, partials/typography.sass */
.subhead--grey {
  color: #5f6163;
  font-size: 1.118em;
  line-height: 1;
  margin-bottom: 0.82341em; }

/* line 17, partials/typography.sass */
.header--red {
  color: #bc2f33;
  font-size: 1.5em;
  font-weight: 100; }

/* line 23, partials/typography.sass */
.header--grey {
  color: #5f6163;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  line-height: 2; }
  @media only screen and (min-width: 770px) {
    /* line 23, partials/typography.sass */
    .header--grey {
      font-size: 2.688em; } }

/* line 33, partials/typography.sass */
.txt-center {
  text-align: center; }

/* line 35, partials/typography.sass */
.txt-bold {
  font-weight: 900; }

/* line 38, partials/typography.sass */
.intro-subhead {
  font-weight: 100;
  font-size: 1.118em;
  color: #7c7c7c; }
  @media only screen and (min-width: 770px) {
    /* line 38, partials/typography.sass */
    .intro-subhead {
      font-size: 1.5em;
      line-height: 1.4; } }

/* line 3, partials/navigation.sass */
.page-work .page-work__link {
  color: #bc2f33 !important; }

/* line 6, partials/navigation.sass */
.page-profile .page-profile__link {
  color: #bc2f33 !important; }

/* line 9, partials/navigation.sass */
.page-services .page-services__link {
  color: #bc2f33 !important; }

/* line 12, partials/navigation.sass */
.page-blog .page-blog__link {
  color: #bc2f33 !important; }

/* line 16, partials/navigation.sass */
.nav-bg {
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
  z-index: 3;
  position: relative;
  background: rgba(255, 255, 255, 0.96);
  z-index: 100; }
  @media only screen and (min-width: 960px) {
    /* line 16, partials/navigation.sass */
    .nav-bg {
      position: fixed; } }

@media only screen and (min-width: 960px) {
  /* line 25, partials/navigation.sass */
  .nav-fixed-fix {
    width: 100%;
    height: 5em;
    display: block; } }

/* line 31, partials/navigation.sass */
a.logo, a.logo:visited {
  color: #bc2f33;
  width: 120px;
  float: left;
  margin-top: 1.25em; }
  /* line 36, partials/navigation.sass */
  a.logo h1, a.logo:visited h1 {
    font-size: 1.875em; }
  @media only screen and (min-width: 770px) {
    /* line 31, partials/navigation.sass */
    a.logo, a.logo:visited {
      width: 300px; } }
  @media only screen and (min-width: 960px) {
    /* line 31, partials/navigation.sass */
    a.logo, a.logo:visited {
      width: 120px; } }

/* line 43, partials/navigation.sass */
.nav-bar {
  width: 100%;
  display: block;
  overflow: hidden; }
  @media only screen and (min-width: 770px) {
    /* line 43, partials/navigation.sass */
    .nav-bar {
      display: initial;
      overflow: visible; } }

/* line 51, partials/navigation.sass */
.red-bar {
  width: 100%;
  height: 0.3em;
  display: block;
  background: #bc2f33; }

/* line 57, partials/navigation.sass */
.language {
  position: absolute;
  right: 0;
  font-weight: 100;
  font-size: 0.875em;
  color: #c9c9c9;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  /* line 64, partials/navigation.sass */
  .language:hover, .language:focus {
    color: #bc2f33; }

/* line 67, partials/navigation.sass */
.nav-container {
  max-height: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  @media only screen and (min-width: 770px) {
    /* line 67, partials/navigation.sass */
    .nav-container {
      float: left;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      max-height: auto;
      padding-bottom: 1.64681em;
      margin-top: 1.25em; } }
  @media only screen and (min-width: 960px) {
    /* line 67, partials/navigation.sass */
    .nav-container {
      float: right;
      margin-top: 2.2em; } }

/* line 81, partials/navigation.sass */
.nav-wrap {
  position: relative;
  padding: 1em 0; }

@media only screen and (min-width: 770px) {
  /* line 85, partials/navigation.sass */
  .nav-links {
    float: left; } }
/* line 88, partials/navigation.sass */
.nav-links li {
  padding: 0.82341em 0;
  border-bottom: 1px solid #dddddd; }
  /* line 91, partials/navigation.sass */
  .nav-links li:first-child {
    padding-left: 0; }
  /* line 93, partials/navigation.sass */
  .nav-links li a, .nav-links li a:visited {
    color: #5f6163;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block; }
    /* line 97, partials/navigation.sass */
    .nav-links li a:hover, .nav-links li a:focus, .nav-links li a:visited:hover, .nav-links li a:visited:focus {
      color: #bc2f33; }
  @media only screen and (min-width: 770px) {
    /* line 88, partials/navigation.sass */
    .nav-links li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      border-bottom: none;
      padding: 0 0.82341em;
      border-right: 1px solid #dddddd; } }

/* line 106, partials/navigation.sass */
.nav-social {
  margin-top: 0.82341em; }
  /* line 108, partials/navigation.sass */
  .nav-social li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-right: 0.3em;
    font-size: 1.33em; }
    /* line 112, partials/navigation.sass */
    .nav-social li:last-child {
      margin-right: 0; }
    /* line 114, partials/navigation.sass */
    .nav-social li a, .nav-social li a:visited {
      color: #5f6163;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      display: block; }
      /* line 118, partials/navigation.sass */
      .nav-social li a:hover, .nav-social li a:focus, .nav-social li a:visited:hover, .nav-social li a:visited:focus {
        color: #bc2f33; }
  @media only screen and (min-width: 770px) {
    /* line 106, partials/navigation.sass */
    .nav-social {
      float: right;
      margin-left: 0.82341em;
      margin-top: -3px; } }

/* line 126, partials/navigation.sass */
.nav-btn {
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0.65em;
  width: 1.5em;
  position: relative;
  float: right;
  margin-top: 1.5em; }
  @media only screen and (min-width: 770px) {
    /* line 126, partials/navigation.sass */
    .nav-btn {
      display: none; } }
  /* line 136, partials/navigation.sass */
  .nav-btn .nav-icon {
    width: 100%;
    height: 2px;
    margin-top: 2px;
    display: block;
    background: #7c7c7c; }
    /* line 142, partials/navigation.sass */
    .nav-btn .nav-icon:first-child {
      margin-top: 0; }

/* line 144, partials/navigation.sass */
#toggle {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 44px;
  right: 10px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
  /* line 153, partials/navigation.sass */
  #toggle:checked ~ div {
    max-height: 1000px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  @media only screen and (min-width: 770px) {
    /* line 144, partials/navigation.sass */
    #toggle {
      display: none; } }

/* line 1, partials/layout.sass */
.l-module, .l-module--spaced, .l-module--wide {
  width: 100%;
  vertical-align: top;
  overflow: hidden; }

/* line 6, partials/layout.sass */
.l-module--spaced {
  padding: 4.94044em 0; }

/* line 10, partials/layout.sass */
.l-module--wide {
  padding: 2.47022em 0; }

/* line 15, partials/layout.sass */
.l-container, .l-container--thin, .l-container--wide, .l-container--list, .l-container--full {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
  display: block;
  overflow: hidden; }

/* line 23, partials/layout.sass */
.l-container--thin {
  padding: 0.82341em; }

/* line 27, partials/layout.sass */
.l-container--wide {
  padding: 2.05852em; }

/* line 32, partials/layout.sass */
.l-container--list {
  width: 87%; }

/* line 35, partials/layout.sass */
.l-container--full {
  width: 100%;
  max-width: 85%; }
  @media only screen and (min-width: 770px) {
    /* line 35, partials/layout.sass */
    .l-container--full {
      max-width: 90%; } }

/* line 42, partials/layout.sass */
.grey-bg {
  background: #f9f9f9; }

/* line 45, partials/layout.sass */
.border-bottom {
  border-bottom: 1px solid #dddddd; }

/* line 47, partials/layout.sass */
.border-top {
  border-top: 1px solid #dddddd; }

/* line 50, partials/layout.sass */
.two-thirds {
  width: 100%; }
  @media only screen and (min-width: 770px) {
    /* line 50, partials/layout.sass */
    .two-thirds {
      width: 60%; } }

/* line 55, partials/layout.sass */
.one-third {
  width: 100%; }
  @media only screen and (min-width: 770px) {
    /* line 55, partials/layout.sass */
    .one-third {
      width: 30%; } }

/* line 60, partials/layout.sass */
.fl {
  float: left; }

/* line 63, partials/layout.sass */
.fr {
  float: right; }

/* line 1, partials/footer.sass */
footer {
  font-weight: 100; }

/* line 4, partials/footer.sass */
address {
  font-style: normal;
  font-size: 0.75em; }
  @media only screen and (min-width: 960px) {
    /* line 4, partials/footer.sass */
    address {
      font-size: initial; } }

/* line 10, partials/footer.sass */
.social-module, .mailing-list {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
  padding-bottom: 1.64681em;
  margin-bottom: 1.64681em;
  border-bottom: 1px solid #dddddd; }
  @media only screen and (min-width: 960px) {
    /* line 10, partials/footer.sass */
    .social-module, .mailing-list {
      width: auto;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
      border-right: 1px solid #dddddd;
      margin-right: 1.64681em; } }

@media only screen and (min-width: 960px) {
  /* line 24, partials/footer.sass */
  .mailing-list {
    padding-right: 1.64681em;
    border-right: none; } }
  @media only screen and (min-width: 960px) and (min-width: 1492px) {
    /* line 24, partials/footer.sass */
    .mailing-list {
      border-right: 1px solid #dddddd; } }

@media only screen and (min-width: 960px) {
  /* line 32, partials/footer.sass */
  .contact-info {
    margin-top: 1.64681em;
    padding-top: 1.64681em;
    border-top: 1px solid #dddddd; } }
@media only screen and (min-width: 1492px) {
  /* line 32, partials/footer.sass */
  .contact-info {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: initial;
    margin-top: 0;
    border-top: none;
    padding-top: 0.75em; } }

/* line 44, partials/footer.sass */
.facebook-btn, .twitter-btn, .gplus-btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top; }
  @media only screen and (min-width: 960px) {
    /* line 44, partials/footer.sass */
    .facebook-btn, .twitter-btn, .gplus-btn {
      margin-right: 0.82341em; } }

/* line 49, partials/footer.sass */
.twitter-btn {
  width: 138px; }

/* line 51, partials/footer.sass */
.gplus-btn {
  width: 85px; }

/* line 55, partials/footer.sass */
.mailing-list {
  font-size: 0.75em; }
  @media only screen and (min-width: 960px) {
    /* line 55, partials/footer.sass */
    .mailing-list {
      font-size: inherit; } }

/* line 61, partials/footer.sass */
#mc_embed_signup .email {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0.82341em; }
/* line 64, partials/footer.sass */
#mc_embed_signup .button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

/* line 1, partials/ui.sass */
input.email {
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0.82341em;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 0.875em; }
  /* line 9, partials/ui.sass */
  input.email:focus {
    -webkit-box-shadow: 0 0 1px #bc2f33;
    -moz-box-shadow: 0 0 1px #bc2f33;
    box-shadow: 0 0 1px #bc2f33;
    border: 1px solid #bc2f33; }

/* line 13, partials/ui.sass */
.btn-primary, .btn-secondary {
  background: #bc2f33;
  font-weight: 900;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: white;
  box-sizing: border-box;
  padding: 0.82341em;
  font-size: 1.118em; }
  /* line 22, partials/ui.sass */
  .btn-primary:hover, .btn-primary:focus, .btn-secondary:hover, .btn-secondary:focus {
    background: #d24c50;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  /* line 25, partials/ui.sass */
  .btn-primary:active, .btn-secondary:active {
    background: darker(#bc2f33, 5%);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

/* line 29, partials/ui.sass */
.btn-secondary {
  font-size: 0.875em; }

/* line 5, pages/home.sass */
#header-cover {
  min-height: 350px; }
  @media only screen and (min-width: 770px) {
    /* line 5, pages/home.sass */
    #header-cover {
      min-height: 800px;
      height: 90%; } }

/* line 12, pages/home.sass */
.video-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  max-height: 45em;
  position: relative;
  overflow: hidden; }

/* line 20, pages/home.sass */
.home-video--intro {
  position: absolute;
  top: 0;
  left: 1px;
  width: 98%;
  height: 98%; }

/* line 27, pages/home.sass */
.home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 34, pages/home.sass */
.video-mask {
  background: url(../img/bureau-intro.svg) no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%; }

/* line 42, pages/home.sass */
.home-introtext {
  width: 100%;
  position: relative;
  margin-top: -22%;
  z-index: 10;
  font-weight: 100;
  font-size: 1.118em;
  color: #7c7c7c; }
  @media only screen and (min-width: 770px) {
    /* line 42, pages/home.sass */
    .home-introtext {
      font-size: 1.5em;
      line-height: 1.4;
      width: 75%; } }

/* line 55, pages/home.sass */
.arrow-wrap {
  text-align: center; }

/* line 58, pages/home.sass */
.home-arrow {
  margin-top: 10%;
  display: block;
  cursor: pointer; }
  /* line 62, pages/home.sass */
  .home-arrow:hover, .home-arrow:focus {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9; }

/* line 70, pages/home.sass */
#specialty-one {
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.4s ease-out 0.2s;
  -o-transition: opacity 0.4s ease-out 0.2s;
  transition: opacity 0.4s ease-out 0.2s; }

/* line 73, pages/home.sass */
#specialty-two {
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition: opacity 0.4s ease-out 0.4s;
  -o-transition: opacity 0.4s ease-out 0.4s;
  transition: opacity 0.4s ease-out 0.4s; }

/* line 76, pages/home.sass */
#specialty-three {
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 0.6s;
  -moz-transition: opacity 0.4s ease-out 0.6s;
  -o-transition: opacity 0.4s ease-out 0.6s;
  transition: opacity 0.4s ease-out 0.6s; }

/* line 79, pages/home.sass */
.hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

/* line 82, pages/home.sass */
.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

/* line 85, pages/home.sass */
.specialty {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 1.64681em; }
  /* line 91, pages/home.sass */
  .specialty h2, .specialty p {
    text-align: left; }
  /* line 93, pages/home.sass */
  .specialty h2 {
    margin-top: 2.47022em; }
  /* line 95, pages/home.sass */
  .specialty img {
    position: relative;
    z-index: 10; }
  @media only screen and (min-width: 580px) {
    /* line 85, pages/home.sass */
    .specialty {
      width: 80%; } }
  @media only screen and (min-width: 770px) {
    /* line 85, pages/home.sass */
    .specialty {
      width: 70%; } }
  @media only screen and (min-width: 960px) {
    /* line 85, pages/home.sass */
    .specialty {
      width: 28%;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      vertical-align: top;
      margin-right: 5%; }
      /* line 108, pages/home.sass */
      .specialty:last-child {
        margin-right: 0; } }

/* line 111, pages/home.sass */
.dotted-arrow {
  background: url(../img/dotted-arrow-vert.svg) no-repeat;
  height: 195px;
  width: 14px;
  margin: 0 auto; }
  @media only screen and (min-width: 960px) {
    /* line 111, pages/home.sass */
    .dotted-arrow {
      background: url(../img/dotted-arrow.svg) no-repeat;
      height: 14px;
      width: 195px;
      position: absolute;
      top: 66px;
      left: 64%;
      z-index: 0; } }
  @media only screen and (min-width: 1160px) {
    /* line 111, pages/home.sass */
    .dotted-arrow {
      left: 82%; } }

/* line 131, pages/home.sass */
#videotrigger {
  width: 100%;
  padding-bottom: 56.25%;
  max-height: 45em;
  cursor: pointer;
  position: relative;
  z-index: 10; }

/* line 5, pages/work.sass */
.project-thumbnails {
  text-align: center; }
  /* line 7, pages/work.sass */
  .project-thumbnails li {
    width: 30%;
    text-align: center;
    margin: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    /* line 14, pages/work.sass */
    .project-thumbnails li a {
      display: block;
      padding: 3%; }
    /* line 17, pages/work.sass */
    .project-thumbnails li:hover, .project-thumbnails li:focus {
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3); }
    @media only screen and (min-width: 960px) {
      /* line 7, pages/work.sass */
      .project-thumbnails li {
        width: 31%;
        margin: 1%; } }

/* line 23, pages/work.sass */
.more-work {
  font-weight: 900; }

/* line 26, pages/work.sass */
.palladino {
  background: #383838; }

/* line 28, pages/work.sass */
.lu {
  background: #0067ac; }

/* line 30, pages/work.sass */
.musagetes {
  background: #70aedc; }

/* line 32, pages/work.sass */
.helios {
  background: #ee812f; }

/* line 34, pages/work.sass */
.carte {
  background: #da1623; }

/* line 36, pages/work.sass */
.bird {
  background: #efefef; }

/* line 38, pages/work.sass */
.carrefour {
  background: #26a79d; }

/* line 40, pages/work.sass */
.tno {
  background: #80b023; }

/* line 42, pages/work.sass */
.fcr {
  background: #9c8b60; }

/* line 45, pages/work.sass */
#fb-root {
  display: none; }

/* line 1, pages/profile.sass */
.profile-img {
  width: 100%; }

/* line 4, pages/profile.sass */
.people {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
  box-sizing: border-box;
  padding: 0.82341em;
  text-overflow: ellipsis;
  overflow: hidden; }
  /* line 11, pages/profile.sass */
  .people .twitter-follow-button {
    margin-top: 0.2em; }
  /* line 13, pages/profile.sass */
  .people img {
    float: left;
    margin-right: 0.82341em;
    width: 35%; }
  /* line 17, pages/profile.sass */
  .people h2, .people p, .people a {
    font-size: 0.875em;
    margin-bottom: 0.4em; }
  /* line 20, pages/profile.sass */
  .people a {
    display: block; }
  @media only screen and (min-width: 580px) {
    /* line 4, pages/profile.sass */
    .people {
      width: 49%;
      float: left; }
      /* line 26, pages/profile.sass */
      .people img {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.82341em; } }
  @media only screen and (min-width: 770px) {
    /* line 4, pages/profile.sass */
    .people {
      width: 32%; } }
  @media only screen and (min-width: 960px) {
    /* line 4, pages/profile.sass */
    .people {
      width: 14.2%; } }

/* line 40, pages/profile.sass */
.bureau-image {
  background: url(../img/profile-1.jpg) no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: 90px;
  background-attachment: fixed;
  padding-bottom: 39%;
  display: block; }

/* line 49, pages/profile.sass */
.profile-header {
  padding-top: 0.5em; }
  @media only screen and (min-width: 960px) {
    /* line 49, pages/profile.sass */
    .profile-header {
      padding-top: 1.64681em; } }

/* line 54, pages/profile.sass */
.manifesto-list {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0.4em;
  font-size: 0.875em; }
  @media only screen and (min-width: 770px) {
    /* line 54, pages/profile.sass */
    .manifesto-list {
      font-size: 1.5em; } }
  /* line 61, pages/profile.sass */
  .manifesto-list h2 {
    color: #bc2f33; }
  /* line 63, pages/profile.sass */
  .manifesto-list i {
    font-family: georgia, serif;
    font-style: italic;
    font-weight: 100; }

/* line 68, pages/profile.sass */
.manifesto-list > li {
  position: relative;
  margin: 0 0 1.64681em 1.64681em;
  list-style: none;
  padding-left: 1.64681em; }
  @media only screen and (min-width: 770px) {
    /* line 68, pages/profile.sass */
    .manifesto-list > li {
      padding-left: 2.05852em; } }

/* line 76, pages/profile.sass */
.manifesto-list > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 4px;
  left: -2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #bc2f33;
  color: white;
  text-align: center;
  padding-top: 0.8em;
  font-weight: 900;
  width: 2.8em;
  height: 2.8em; }
  @media only screen and (min-width: 770px) {
    /* line 76, pages/profile.sass */
    .manifesto-list > li:before {
      top: 7px; } }

/* line 94, pages/profile.sass */
.page-profile .project-crosslink {
  margin-top: 0; }

@media only screen and (min-width: 580px) {
  /* line 2, pages/blog.sass */
  .blog-module h1 {
    margin-bottom: 0.32341em; } }
/* line 6, pages/blog.sass */
.blog-module a.blog-teaser-link {
  width: 85%;
  padding: 7%;
  border: 1px solid #dddddd;
  margin-top: 0.82341em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: block;
  position: relative; }
  @media only screen and (min-width: 580px) {
    /* line 6, pages/blog.sass */
    .blog-module a.blog-teaser-link {
      width: 39%;
      margin: 1%;
      padding: 4%;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      margin-top: 0; } }
  @media only screen and (min-width: 960px) {
    /* line 6, pages/blog.sass */
    .blog-module a.blog-teaser-link {
      width: 42%;
      padding: 2.5%; } }
  /* line 23, pages/blog.sass */
  .blog-module a.blog-teaser-link:hover, .blog-module a.blog-teaser-link:focus {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }
  /* line 25, pages/blog.sass */
  .blog-module a.blog-teaser-link:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    top: 1px; }
/* line 30, pages/blog.sass */
.blog-module .blog-date {
  line-height: 2;
  color: #7c7c7c;
  font-weight: 100; }
/* line 34, pages/blog.sass */
.blog-module p {
  margin-top: 0.82341em; }

/* line 1, pages/project-crosslink.sass */
.project-crosslink {
  margin-top: 0.82341em;
  font-size: 1.118em;
  font-weight: 900;
  text-align: center; }
  /* line 6, pages/project-crosslink.sass */
  .project-crosslink a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: white;
    display: block;
    padding: 3.5em 0.82341em; }
    /* line 11, pages/project-crosslink.sass */
    .project-crosslink a:hover, .project-crosslink a:focus {
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      background-color: #bc2f33;
      color: rgba(255, 255, 255, 0.85) !important; }
    /* line 15, pages/project-crosslink.sass */
    .project-crosslink a:active {
      -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      background-color: #a82a2d; }
  @media only screen and (min-width: 770px) {
    /* line 1, pages/project-crosslink.sass */
    .project-crosslink {
      margin-top: 0.82341em;
      font-size: 2.688em; } }

/* line 21, style.css.sass */
html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 1em; }

/* line 28, style.css.sass */
body {
  font-size: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  color: #5f6163;
  font-family: Helvetica, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 39, style.css.sass */
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 44, style.css.sass */
a, a:visited {
  text-decoration: none;
  color: #bc2f33; }
  /* line 47, style.css.sass */
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #d45458; }

/* line 51, style.css.sass */
img {
  max-width: 100%;
  height: auto; }
