@import url(../webfonts/ss-social-circle.css);
/* line 10, normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/* line 13, normalize.sass */
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

/* line 19, normalize.sass */
audio, canvas, video {
  display: inline-block; }

/* line 25, normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 31, normalize.sass */
[hidden] {
  display: none; }

/* line 42, normalize.sass */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 53, normalize.sass */
body {
  margin: 0; }

/* line 64, normalize.sass */
a:focus {
  outline: thin dotted; }
/* line 66, normalize.sass */
a:active, a:hover {
  outline: 0; }

/* line 86, normalize.sass */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 92, normalize.sass */
b, strong {
  font-weight: bold; }

/* line 98, normalize.sass */
dfn {
  font-style: italic; }

/* line 103, normalize.sass */
mark {
  background: yellow;
  color: black; }

/* line 109, normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif; }

/* line 115, normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 122, normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* line 130, normalize.sass */
sub {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 136, normalize.sass */
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

/* line 143, normalize.sass */
sub {
  bottom: -0.25em; }

/* line 150, normalize.sass */
img {
  border: 0; }

/* line 152, normalize.sass */
svg:not(:root) {
  overflow: hidden; }

/* line 159, normalize.sass */
figure {
  margin: 0; }

/* line 166, normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 171, normalize.sass */
legend {
  border: 0;
  padding: 0; }

/* line 175, normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  margin: 0;
  border: 0; }

/* line 181, normalize.sass */
input:focus {
  outline: none; }

/* line 187, normalize.sass */
button,
input {
  line-height: normal; }

/* line 191, normalize.sass */
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 197, normalize.sass */
input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 202, normalize.sass */
button[disabled] {
  cursor: default; }

/* line 206, normalize.sass */
input[disabled] {
  cursor: default; }
/* line 208, normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }
/* line 212, normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  /* line 217, normalize.sass */
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/* line 233, normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 241, normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top; }

/* line 254, normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 8, style.css.sass */
html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 1em; }

/* line 15, style.css.sass */
body {
  font-size: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  color: #5f6163;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 26, style.css.sass */
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* line 31, style.css.sass */
a, a:visited {
  text-decoration: none;
  color: #bc2f33; }
  /* line 34, style.css.sass */
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #d45458; }

/* line 37, style.css.sass */
a.grey-link, a.grey-link:visited {
  color: #5f6163; }
  /* line 39, style.css.sass */
  a.grey-link:hover, a.grey-link:focus, a.grey-link:visited:hover, a.grey-link:visited:focus {
    color: #7d8082; }

/* line 44, style.css.sass */
img {
  max-width: 100%;
  height: auto; }

/* line 1, partials/typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

/* line 5, partials/typography.sass */
p {
  font-weight: 200;
  color: #5f6163;
  line-height: 1.625;
  margin-bottom: 0.82341em; }

/* line 11, partials/typography.sass */
.project-paragraph {
  font-size: 1.2em; }

/* line 14, partials/typography.sass */
.subhead--grey {
  color: #5f6163;
  font-size: 1.118em;
  line-height: 1;
  margin-bottom: 0.82341em; }

/* line 20, partials/typography.sass */
.header--red {
  color: #bc2f33;
  font-size: 1.5em;
  font-weight: 200; }

/* line 26, partials/typography.sass */
.header--grey, .header--white {
  color: #5f6163;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 0.25em; }
  @media only screen and (min-width: 770px) {
    /* line 26, partials/typography.sass */
    .header--grey, .header--white {
      font-size: 2.688em; } }

/* line 34, partials/typography.sass */
.header--white {
  color: white; }

/* line 38, partials/typography.sass */
.txt-white {
  color: white !important; }

/* line 42, partials/typography.sass */
.txt-center {
  text-align: center; }

/* line 44, partials/typography.sass */
.txt-bold {
  font-weight: 700; }

/* line 47, partials/typography.sass */
.intro-subhead {
  font-weight: 200;
  font-size: 1.118em;
  color: #7c7c7c; }
  @media only screen and (min-width: 770px) {
    /* line 47, partials/typography.sass */
    .intro-subhead {
      font-size: 1.5em;
      line-height: 1.4; } }

/* line 55, partials/typography.sass */
i {
  font-family: georgia, serif;
  font-style: italic;
  font-weight: 100; }

/* line 3, partials/navigation.sass */
.page-work .page-work__link {
  color: #bc2f33 !important; }

/* line 6, partials/navigation.sass */
.page-profile .page-profile__link {
  color: #bc2f33 !important; }

/* line 9, partials/navigation.sass */
.page-services .page-services__link {
  color: #bc2f33 !important; }

/* line 12, partials/navigation.sass */
.page-blog .page-blog__link {
  color: #bc2f33 !important; }

/* line 21, partials/navigation.sass */
.page-contact__link {
  cursor: pointer; }

/* line 25, partials/navigation.sass */
.nav-bg {
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
  z-index: 3;
  position: relative;
  background: rgba(255, 255, 255, 0.96);
  z-index: 100;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }
  @media only screen and (min-width: 960px) {
    /* line 25, partials/navigation.sass */
    .nav-bg {
      position: fixed; } }

@media only screen and (min-width: 960px) {
  /* line 35, partials/navigation.sass */
  .nav-fixed-fix {
    width: 100%;
    height: 6em;
    display: block;
    background: white; } }

/* line 42, partials/navigation.sass */
a.logo, a.logo:visited {
  color: #bc2f33;
  width: 120px;
  float: left;
  margin-top: 1.25em; }
  /* line 47, partials/navigation.sass */
  a.logo h1, a.logo:visited h1 {
    font-size: 1.875em; }
  @media only screen and (min-width: 770px) {
    /* line 42, partials/navigation.sass */
    a.logo, a.logo:visited {
      width: 300px; } }
  @media only screen and (min-width: 960px) {
    /* line 42, partials/navigation.sass */
    a.logo, a.logo:visited {
      width: 120px; } }

/* line 54, partials/navigation.sass */
.nav-bar {
  width: 100%;
  display: block;
  overflow: hidden; }
  @media only screen and (min-width: 770px) {
    /* line 54, partials/navigation.sass */
    .nav-bar {
      display: initial;
      overflow: visible; } }

/* line 62, partials/navigation.sass */
.red-bar {
  width: 100%;
  height: 0.3em;
  display: block;
  background: #bc2f33; }

/* line 68, partials/navigation.sass */
.language {
  position: absolute;
  right: 0;
  font-weight: 200;
  font-size: 0.875em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

/* line 75, partials/navigation.sass */
.nav-container {
  max-height: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  @media only screen and (min-width: 770px) {
    /* line 75, partials/navigation.sass */
    .nav-container {
      float: left;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      max-height: auto;
      padding-bottom: 1.64681em;
      margin-top: 1.25em; } }
  @media only screen and (min-width: 960px) {
    /* line 75, partials/navigation.sass */
    .nav-container {
      float: right;
      margin-top: 2.2em; } }

/* line 89, partials/navigation.sass */
.nav-wrap {
  position: relative;
  padding: 1em 0; }

@media only screen and (min-width: 770px) {
  /* line 93, partials/navigation.sass */
  .nav-links {
    float: left; } }
/* line 96, partials/navigation.sass */
.nav-links li {
  padding: 0.82341em 0;
  border-bottom: 1px solid #dddddd; }
  /* line 99, partials/navigation.sass */
  .nav-links li:first-child {
    padding-left: 0; }
  /* line 101, partials/navigation.sass */
  .nav-links li a, .nav-links li a:visited {
    color: #5f6163;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block; }
    /* line 105, partials/navigation.sass */
    .nav-links li a:hover, .nav-links li a:focus, .nav-links li a:visited:hover, .nav-links li a:visited:focus {
      color: #bc2f33; }
  @media only screen and (min-width: 770px) {
    /* line 96, partials/navigation.sass */
    .nav-links li {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      border-bottom: none;
      padding: 0 0.82341em;
      border-right: 1px solid #dddddd; } }

/* line 114, partials/navigation.sass */
.nav-social {
  margin-top: 0.82341em; }
  /* line 116, partials/navigation.sass */
  .nav-social li {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin-right: 0.3em;
    font-size: 1.33em; }
    /* line 120, partials/navigation.sass */
    .nav-social li:last-child {
      margin-right: 0; }
    /* line 122, partials/navigation.sass */
    .nav-social li a, .nav-social li a:visited {
      color: #5f6163;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      display: block; }
      /* line 126, partials/navigation.sass */
      .nav-social li a:hover, .nav-social li a:focus, .nav-social li a:visited:hover, .nav-social li a:visited:focus {
        color: #bc2f33; }
  @media only screen and (min-width: 770px) {
    /* line 114, partials/navigation.sass */
    .nav-social {
      float: right;
      margin-left: 0.82341em;
      margin-top: -3px; } }

/* line 134, partials/navigation.sass */
.nav-btn {
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0.65em;
  width: 1.5em;
  position: relative;
  float: right;
  margin-top: 1.5em; }
  @media only screen and (min-width: 770px) {
    /* line 134, partials/navigation.sass */
    .nav-btn {
      display: none; } }
  /* line 144, partials/navigation.sass */
  .nav-btn .nav-icon {
    width: 100%;
    height: 2px;
    margin-top: 2px;
    display: block;
    background: #7c7c7c; }
    /* line 150, partials/navigation.sass */
    .nav-btn .nav-icon:first-child {
      margin-top: 0; }

/* line 152, partials/navigation.sass */
#toggle {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 44px;
  right: 10px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }
  /* line 161, partials/navigation.sass */
  #toggle:checked ~ div {
    max-height: 1000px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }
  @media only screen and (min-width: 770px) {
    /* line 152, partials/navigation.sass */
    #toggle {
      display: none; } }

/* line 1, partials/layout.sass */
.l-module, .l-module--spaced, .l-module--wide {
  width: 100%;
  vertical-align: top;
  overflow: hidden; }

/* line 6, partials/layout.sass */
.l-module--spaced {
  padding: 4.94044em 0; }

/* line 10, partials/layout.sass */
.l-module--wide {
  padding: 2.47022em 0; }

/* line 15, partials/layout.sass */
.l-container, .l-container--thin, .l-container--wide, .l-container--narrow, .l-container--list, .l-container--full {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
  display: block;
  overflow: hidden; }

/* line 23, partials/layout.sass */
.l-container--thin {
  padding: 0.82341em; }

@media only screen and (min-width: 770px) {
  /* line 27, partials/layout.sass */
  .l-container--wide, .l-container--narrow {
    padding: 2.05852em; } }

/* line 32, partials/layout.sass */
.l-container--narrow {
  max-width: 800px; }

/* line 36, partials/layout.sass */
.l-container--list {
  width: 87%; }

/* line 39, partials/layout.sass */
.l-container--full {
  width: 100%;
  max-width: 85%; }
  @media only screen and (min-width: 770px) {
    /* line 39, partials/layout.sass */
    .l-container--full {
      max-width: 90%; } }

/* line 46, partials/layout.sass */
.grey-bg {
  background: #f9f9f9; }

/* line 49, partials/layout.sass */
.border-bottom {
  border-bottom: 1px solid #dddddd; }

/* line 51, partials/layout.sass */
.border-top {
  border-top: 1px solid #dddddd; }

/* line 54, partials/layout.sass */
.two-thirds {
  width: 100%; }
  @media only screen and (min-width: 770px) {
    /* line 54, partials/layout.sass */
    .two-thirds {
      width: 60%; } }

/* line 59, partials/layout.sass */
.one-third {
  width: 100%; }
  @media only screen and (min-width: 770px) {
    /* line 59, partials/layout.sass */
    .one-third {
      width: 30%; } }

/* line 64, partials/layout.sass */
.fl {
  float: left; }

/* line 67, partials/layout.sass */
.fr {
  float: right; }

/* line 1, partials/footer.sass */
footer {
  font-weight: 200; }

/* line 4, partials/footer.sass */
address {
  font-style: normal;
  font-size: 0.75em; }
  @media only screen and (min-width: 960px) {
    /* line 4, partials/footer.sass */
    address {
      font-size: initial; } }

/* line 10, partials/footer.sass */
.social-module, .mailing-list {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 100%;
  padding-bottom: 1.64681em;
  margin-bottom: 1.64681em;
  border-bottom: 1px solid #dddddd; }
  @media only screen and (min-width: 960px) {
    /* line 10, partials/footer.sass */
    .social-module, .mailing-list {
      width: auto;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
      border-right: 1px solid #dddddd;
      margin-right: 1.64681em; } }

@media only screen and (min-width: 960px) {
  /* line 24, partials/footer.sass */
  .mailing-list {
    padding-right: 1.64681em;
    border-right: none; } }
  @media only screen and (min-width: 960px) and (min-width: 1492px) {
    /* line 24, partials/footer.sass */
    .mailing-list {
      border-right: 1px solid #dddddd; } }

@media only screen and (min-width: 960px) {
  /* line 32, partials/footer.sass */
  .contact-info {
    margin-top: 1.64681em;
    padding-top: 1.64681em;
    border-top: 1px solid #dddddd; } }
@media only screen and (min-width: 1492px) {
  /* line 32, partials/footer.sass */
  .contact-info {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    vertical-align: initial;
    margin-top: 0;
    border-top: none;
    padding-top: 0.75em; } }

/* line 44, partials/footer.sass */
.facebook-btn, .twitter-btn, .gplus-btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top; }
  @media only screen and (min-width: 960px) {
    /* line 44, partials/footer.sass */
    .facebook-btn, .twitter-btn, .gplus-btn {
      margin-right: 0.82341em; } }

/* line 49, partials/footer.sass */
.twitter-btn {
  width: 138px; }

/* line 51, partials/footer.sass */
.gplus-btn {
  width: 85px; }

/* line 57, partials/footer.sass */
#mc_embed_signup .email {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0.82341em; }
/* line 60, partials/footer.sass */
#mc_embed_signup .button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

/* line 3, partials/ui.sass */
input.input-field, .input-field--message {
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0.82341em;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-size: 0.875em;
  outline: none; }
  /* line 12, partials/ui.sass */
  input.input-field:focus, .input-field--message:focus {
    -webkit-box-shadow: 0 0 1px #bc2f33;
    -moz-box-shadow: 0 0 1px #bc2f33;
    box-shadow: 0 0 1px #bc2f33;
    border: 1px solid #bc2f33; }

/* line 17, partials/ui.sass */
form {
  font-size: 0.75em; }
  @media only screen and (min-width: 770px) {
    /* line 17, partials/ui.sass */
    form {
      font-size: inherit; } }

/* line 23, partials/ui.sass */
#contact-form, #worksheet-form {
  text-align: center; }
  /* line 25, partials/ui.sass */
  #contact-form fieldset, #worksheet-form fieldset {
    background: none;
    border: none;
    padding: 1.64681em 0.82341em; }
    /* line 31, partials/ui.sass */
    #contact-form fieldset .input-field--message, #worksheet-form fieldset .input-field--message {
      width: 100%;
      padding: 0.54894em 0.54894em 3em 0.54894em;
      margin: 0.4117em 0;
      padding-bottom: 6em; }
      @media only screen and (min-width: 770px) {
        /* line 31, partials/ui.sass */
        #contact-form fieldset .input-field--message, #worksheet-form fieldset .input-field--message {
          padding: 0.82341em 0.82341em 6em 0.82341em;
          margin: 0.82341em 0;
          width: 94%;
          font-size: 1.118em;
          font-weight: 200; } }
    /* line 42, partials/ui.sass */
    #contact-form fieldset .input-field, #worksheet-form fieldset .input-field {
      display: inline-block;
      width: 100%;
      padding: 0.54894em;
      margin: 0.4117em 0; }
      @media only screen and (min-width: 770px) {
        /* line 42, partials/ui.sass */
        #contact-form fieldset .input-field, #worksheet-form fieldset .input-field {
          padding: 0.82341em;
          margin: 0.82341em 0.82341em;
          width: 45%;
          font-size: 1.118em;
          font-weight: 200; } }
    /* line 54, partials/ui.sass */
    #contact-form fieldset .btn-primary, #worksheet-form fieldset .btn-primary {
      width: 100%;
      margin: 0.54894em 0; }
      @media only screen and (min-width: 770px) {
        /* line 54, partials/ui.sass */
        #contact-form fieldset .btn-primary, #worksheet-form fieldset .btn-primary {
          width: 95%;
          margin: 0.82341em 0; } }

/* line 64, partials/ui.sass */
#worksheet-form fieldset .btn-primary {
  width: 100%;
  margin: 0.54894em 0; }
  @media only screen and (min-width: 770px) {
    /* line 64, partials/ui.sass */
    #worksheet-form fieldset .btn-primary {
      width: 25%;
      margin: 0.82341em 1.2em 0 0.82341em;
      float: right; } }

/* line 77, partials/ui.sass */
a.btn-primary, a:visited.btn-primary {
  color: white !important; }

/* line 79, partials/ui.sass */
.btn-primary, .btn-secondary {
  background: #bc2f33;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: white;
  box-sizing: border-box;
  padding: 0.82341em;
  font-size: 1.118em; }
  /* line 89, partials/ui.sass */
  .btn-primary:hover, .btn-primary:focus, .btn-secondary:hover, .btn-secondary:focus {
    background: #d24c50;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  /* line 92, partials/ui.sass */
  .btn-primary:active, .btn-secondary:active {
    background: darker(#bc2f33, 5%);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

/* line 96, partials/ui.sass */
.btn-secondary {
  font-size: 0.875em; }

/* line 5, pages/home.sass */
#header-cover {
  min-height: 350px; }
  @media only screen and (min-width: 770px) {
    /* line 5, pages/home.sass */
    #header-cover {
      min-height: 800px;
      height: 90%; } }

/* line 12, pages/home.sass */
.video-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  max-height: 45em;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-height: 750px) and (min-width: 580px) {
    /* line 12, pages/home.sass */
    .video-wrapper {
      width: 70%;
      padding-bottom: 39%; } }

/* line 23, pages/home.sass */
.home-video--intro {
  position: absolute;
  top: 0;
  left: 2px;
  width: 98%;
  height: 100%; }

/* line 30, pages/home.sass */
.home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 37, pages/home.sass */
.video-mask {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%; }
  /* line 44, pages/home.sass */
  .video-mask img {
    width: 100%; }

/* line 48, pages/home.sass */
.home-introtext {
  width: 100%;
  position: relative;
  margin-top: -22%;
  z-index: 10;
  font-weight: 200;
  font-size: 1.118em;
  color: #7c7c7c;
  background: white; }
  @media only screen and (min-width: 820px) {
    /* line 48, pages/home.sass */
    .home-introtext {
      font-size: 1.5em;
      line-height: 1.4;
      width: 75%; } }
  @media only screen and (max-height: 750px) and (min-width: 580px) {
    /* line 48, pages/home.sass */
    .home-introtext {
      margin-top: -15%; } }

/* line 63, pages/home.sass */
.arrow-wrap {
  text-align: center; }

/* line 66, pages/home.sass */
.home-arrow {
  margin-top: 5%;
  display: block;
  cursor: pointer; }
  /* line 70, pages/home.sass */
  .home-arrow:hover, .home-arrow:focus {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9; }

/* line 79, pages/home.sass */
#specialty-one {
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.4s ease-out 0.2s;
  -o-transition: opacity 0.4s ease-out 0.2s;
  transition: opacity 0.4s ease-out 0.2s; }

/* line 82, pages/home.sass */
#specialty-two {
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition: opacity 0.4s ease-out 0.4s;
  -o-transition: opacity 0.4s ease-out 0.4s;
  transition: opacity 0.4s ease-out 0.4s; }

/* line 85, pages/home.sass */
#specialty-three {
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 0.6s;
  -moz-transition: opacity 0.4s ease-out 0.6s;
  -o-transition: opacity 0.4s ease-out 0.6s;
  transition: opacity 0.4s ease-out 0.6s; }

/* line 88, pages/home.sass */
.hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden; }

/* line 92, pages/home.sass */
.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  visibility: visible; }

/* line 96, pages/home.sass */
.specialty {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 1.64681em; }
  /* line 102, pages/home.sass */
  .specialty h2, .specialty p {
    text-align: left; }
  /* line 104, pages/home.sass */
  .specialty h2 {
    margin-top: 2.47022em; }
  /* line 106, pages/home.sass */
  .specialty img {
    position: relative;
    z-index: 10; }
  @media only screen and (min-width: 580px) {
    /* line 96, pages/home.sass */
    .specialty {
      width: 80%; } }
  @media only screen and (min-width: 770px) {
    /* line 96, pages/home.sass */
    .specialty {
      width: 70%; } }
  @media only screen and (min-width: 960px) {
    /* line 96, pages/home.sass */
    .specialty {
      width: 28%;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      vertical-align: top;
      margin-right: 5%; }
      /* line 119, pages/home.sass */
      .specialty:last-child {
        margin-right: 0; } }

/* line 122, pages/home.sass */
.dotted-arrow {
  background: url(../img/dotted-arrow-vert.svg) no-repeat;
  height: 195px;
  width: 14px;
  margin: 0 auto; }
  @media only screen and (min-width: 960px) {
    /* line 122, pages/home.sass */
    .dotted-arrow {
      background: url(../img/dotted-arrow.svg) no-repeat;
      height: 14px;
      width: 195px;
      position: absolute;
      top: 66px;
      left: 64%;
      z-index: 0; } }
  @media only screen and (min-width: 1160px) {
    /* line 122, pages/home.sass */
    .dotted-arrow {
      left: 82%; } }

/* line 142, pages/home.sass */
#videotrigger {
  width: 100%;
  padding-bottom: 56.25%;
  max-height: 45em;
  cursor: pointer;
  position: relative;
  z-index: 10; }

/* line 5, pages/work.sass */
.project-thumbnails {
  text-align: center; }
  /* line 7, pages/work.sass */
  .project-thumbnails li {
    width: 30%;
    text-align: center;
    margin: 1%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
    /* line 14, pages/work.sass */
    .project-thumbnails li a {
      display: block;
      padding: 3%; }
    /* line 17, pages/work.sass */
    .project-thumbnails li:hover, .project-thumbnails li:focus {
      -webkit-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.4);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8; }
    @media only screen and (min-width: 960px) {
      /* line 7, pages/work.sass */
      .project-thumbnails li {
        width: 31%;
        margin: 1%; } }
  /* line 24, pages/work.sass */
  .project-thumbnails .bird:hover, .project-thumbnails .bird:focus {
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.2); }

/* line 27, pages/work.sass */
.more-work {
  font-weight: 700; }

/* line 30, pages/work.sass */
.palladino {
  background: #383838; }

/* line 32, pages/work.sass */
.lu {
  background: #0067ac; }

/* line 34, pages/work.sass */
.musagetes {
  background: #70aedc; }

/* line 36, pages/work.sass */
.helios {
  background: #ee812f; }

/* line 38, pages/work.sass */
.carte {
  background: #da1623; }

/* line 40, pages/work.sass */
.bird {
  background: #efefef; }

/* line 42, pages/work.sass */
.carrefour {
  background: #26a79d; }

/* line 44, pages/work.sass */
.tno {
  background: #80b023; }

/* line 46, pages/work.sass */
.fcr {
  background: #9c8b60; }

/* line 49, pages/work.sass */
#fb-root {
  display: none; }

/* line 1, pages/worksheet.sass */
.worksheet-intro {
  max-width: 650px;
  margin: 0 auto; }

/* line 5, pages/worksheet.sass */
#working-with-close,
#working-with-trigger {
  font-weight: 700;
  color: #bc2f33;
  font-size: 1.118em;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  /* line 13, pages/worksheet.sass */
  #working-with-close:hover, #working-with-close:focus,
  #working-with-trigger:hover,
  #working-with-trigger:focus {
    color: #d24c50; }

/* line 16, pages/worksheet.sass */
#working-with-close {
  float: left;
  margin-right: 0.82341em; }

/* line 20, pages/worksheet.sass */
.working-with {
  text-align: left;
  width: 95%;
  padding: 1em;
  margin: 0.4117em 0; }
  @media only screen and (min-width: 770px) {
    /* line 20, pages/worksheet.sass */
    .working-with {
      width: 61%;
      margin: 0.82341em 0.82341em 0.82341em 1.5em; } }

/* line 29, pages/worksheet.sass */
.working-with-list {
  margin-left: 1.5em;
  margin-top: 1em;
  line-height: 1.625em; }

/* line 34, pages/worksheet.sass */
.list-spaced {
  margin-top: 0.82341em;
  margin-bottom: 0.82341em; }

/* line 38, pages/worksheet.sass */
.rotated {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 6, pages/work-detail.sass */
.project-intro h1, .project-intro h2 {
  text-align: left; }
/* line 8, pages/work-detail.sass */
.project-intro h2 {
  padding-bottom: 0.82341em; }
/* line 10, pages/work-detail.sass */
.project-intro h1 {
  padding-bottom: 0.27447em; }
  @media only screen and (min-width: 960px) {
    /* line 10, pages/work-detail.sass */
    .project-intro h1 {
      font-size: 3.938em; } }

/* line 15, pages/work-detail.sass */
.txt-emph {
  padding-top: 25%;
  padding-bottom: 25%; }

/* line 20, pages/work-detail.sass */
.image--fullwidth {
  width: 100%;
  display: block; }

/* line 24, pages/work-detail.sass */
.image--halfwidth {
  width: 50%;
  float: left; }

/* line 1, pages/profile.sass */
.profile-img {
  width: 100%; }

/* line 4, pages/profile.sass */
.people {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  padding: 0.4117em;
  text-overflow: ellipsis;
  overflow: hidden; }
  /* line 12, pages/profile.sass */
  .people .twitter-follow-button {
    margin-top: 0.2em;
    margin-right: 0.4em;
    float: left; }
  /* line 16, pages/profile.sass */
  .people a:link.linked-in {
    float: left;
    margin-top: 0.25em; }
    /* line 19, pages/profile.sass */
    .people a:link.linked-in:hover, .people a:link.linked-in:focus {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8; }
    /* line 21, pages/profile.sass */
    .people a:link.linked-in img {
      width: 60px;
      height: 20px; }
  /* line 24, pages/profile.sass */
  .people img {
    float: left;
    margin-right: 0.82341em;
    width: 35%; }
  /* line 28, pages/profile.sass */
  .people h2, .people p, .people a {
    font-size: 0.875em;
    margin-bottom: 0.4em; }
  /* line 31, pages/profile.sass */
  .people a {
    display: block; }
  @media only screen and (min-width: 580px) {
    /* line 4, pages/profile.sass */
    .people {
      width: 49%; }
      /* line 36, pages/profile.sass */
      .people img {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.82341em; } }
  @media only screen and (min-width: 770px) {
    /* line 4, pages/profile.sass */
    .people {
      width: 32%; } }
  @media only screen and (min-width: 960px) {
    /* line 4, pages/profile.sass */
    .people {
      width: 13.7%; } }

/* line 49, pages/profile.sass */
.bureau-image {
  background: url(../img/profile-1.jpg) no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: 5em;
  background-attachment: fixed;
  padding-bottom: 39%;
  display: block; }
  @media only screen and (min-width: 960px) {
    /* line 49, pages/profile.sass */
    .bureau-image {
      background-position-y: top; } }

/* line 60, pages/profile.sass */
.profile-header {
  padding-top: 0.5em; }
  @media only screen and (min-width: 960px) {
    /* line 60, pages/profile.sass */
    .profile-header {
      padding-top: 1.64681em; } }

/* line 65, pages/profile.sass */
.manifesto-list {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0.4em;
  font-size: 0.875em; }
  /* line 70, pages/profile.sass */
  .manifesto-list i {
    display: block; }
  @media only screen and (min-width: 770px) {
    /* line 65, pages/profile.sass */
    .manifesto-list {
      font-size: 1.5em; } }
  /* line 74, pages/profile.sass */
  .manifesto-list h2 {
    color: #bc2f33; }

/* line 77, pages/profile.sass */
.manifesto-list > li {
  position: relative;
  margin: 0 0 1.64681em 1.64681em;
  list-style: none;
  padding-left: 1.64681em; }
  @media only screen and (min-width: 770px) {
    /* line 77, pages/profile.sass */
    .manifesto-list > li {
      padding-left: 2.05852em; } }

/* line 85, pages/profile.sass */
.manifesto-list > li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 4px;
  left: -2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #bc2f33;
  color: white;
  text-align: center;
  padding-top: 0.8em;
  font-weight: 700;
  width: 2.8em;
  height: 2.8em; }
  @media only screen and (min-width: 770px) {
    /* line 85, pages/profile.sass */
    .manifesto-list > li:before {
      top: 7px; } }

/* line 103, pages/profile.sass */
.page-profile .project-crosslink {
  margin-top: 0; }

/* line 2, pages/services.sass */
.page-services .specialty {
  margin-bottom: 4.94044em; }
  @media only screen and (min-width: 960px) {
    /* line 2, pages/services.sass */
    .page-services .specialty {
      margin-bottom: 0; } }
  /* line 6, pages/services.sass */
  .page-services .specialty h2 {
    text-align: center;
    font-weight: 700; }
  /* line 9, pages/services.sass */
  .page-services .specialty ul {
    margin-top: 1.64681em; }
  /* line 12, pages/services.sass */
  .page-services .specialty li {
    line-height: 2;
    font-size: 1.3416em;
    font-weight: 200; }

/* line 17, pages/services.sass */
.services-note {
  margin-top: 4.94044em;
  box-sizing: border-box;
  padding: 0.82341em;
  border: 1px solid #dddddd;
  background: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  /* line 24, pages/services.sass */
  .services-note span {
    color: #bc2f33; }
  /* line 26, pages/services.sass */
  .services-note p {
    margin-bottom: 0; }
    @media only screen and (min-width: 770px) {
      /* line 26, pages/services.sass */
      .services-note p {
        width: 80%; } }

@media only screen and (min-width: 580px) {
  /* line 2, pages/blog.sass */
  .blog-module h1 {
    margin-bottom: 0.32341em; } }
/* line 6, pages/blog.sass */
.blog-module a.blog-teaser-link {
  width: 85%;
  padding: 7%;
  border: 1px solid #dddddd;
  margin-top: 0.82341em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: block;
  position: relative; }
  @media only screen and (min-width: 580px) {
    /* line 6, pages/blog.sass */
    .blog-module a.blog-teaser-link {
      width: 39%;
      margin: 1%;
      padding: 4%;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline;
      margin-top: 0; } }
  @media only screen and (min-width: 960px) {
    /* line 6, pages/blog.sass */
    .blog-module a.blog-teaser-link {
      width: 42%;
      padding: 2.5%; } }
  /* line 23, pages/blog.sass */
  .blog-module a.blog-teaser-link:hover, .blog-module a.blog-teaser-link:focus {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }
  /* line 25, pages/blog.sass */
  .blog-module a.blog-teaser-link:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    top: 1px; }
/* line 30, pages/blog.sass */
.blog-module .blog-date {
  line-height: 2;
  color: #7c7c7c;
  font-weight: 200; }
/* line 34, pages/blog.sass */
.blog-module p {
  margin-top: 0.82341em; }

/* line 1, pages/project-crosslink.sass */
.project-crosslink {
  font-size: 1.118em;
  font-weight: 700;
  text-align: center; }
  /* line 5, pages/project-crosslink.sass */
  .project-crosslink a {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: white;
    display: block;
    padding: 3.5em 0.82341em; }
    /* line 10, pages/project-crosslink.sass */
    .project-crosslink a:hover, .project-crosslink a:focus {
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      background-color: #bc2f33;
      color: rgba(255, 255, 255, 0.85) !important; }
    /* line 14, pages/project-crosslink.sass */
    .project-crosslink a:active {
      -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.3);
      background-color: #a82a2d; }
  @media only screen and (min-width: 770px) {
    /* line 1, pages/project-crosslink.sass */
    .project-crosslink {
      font-size: 2.688em; } }

/* line 4, pages/contact.sass */
#contact-wrap {
  display: none; }
  /* line 6, pages/contact.sass */
  #contact-wrap .l-container--narrow {
    padding: 2.05852em 0;
    position: relative; }

/* line 9, pages/contact.sass */
.contact-bg {
  background: #f1f1f1; }

/* line 13, pages/contact.sass */
.contact-details-container {
  width: 90%;
  margin: 0 auto; }

/* line 18, pages/contact.sass */
.contact-list {
  line-height: 1.625em;
  font-weight: 200; }
  @media only screen and (min-width: 770px) {
    /* line 18, pages/contact.sass */
    .contact-list {
      float: left; } }

/* line 24, pages/contact.sass */
.contact-map {
  margin-bottom: 0.82341em;
  position: relative;
  padding-top: 2em;
  color: #5f6163 !important; }
  @media only screen and (min-width: 770px) {
    /* line 24, pages/contact.sass */
    .contact-map {
      float: right;
      margin-bottom: 0;
      padding-top: 0; }
      /* line 34, pages/contact.sass */
      .contact-map:hover .contact-pin-wrap {
        top: -3px;
        -webkit-box-shadow: 0 18px 18px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 18px 18px rgba(0, 0, 0, 0.2);
        box-shadow: 0 18px 18px rgba(0, 0, 0, 0.2); } }

/* line 40, pages/contact.sass */
.contact-pin-wrap {
  position: absolute;
  left: 0;
  top: -65px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  @media only screen and (min-width: 580px) {
    /* line 40, pages/contact.sass */
    .contact-pin-wrap {
      left: 5%; } }
  @media only screen and (min-width: 770px) {
    /* line 40, pages/contact.sass */
    .contact-pin-wrap {
      left: 14%;
      top: 12px; } }

/* line 51, pages/contact.sass */
.contact-pin {
  background: white;
  padding: 0.82341em;
  width: 280px;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  /* line 57, pages/contact.sass */
  .contact-pin:after, .contact-pin:before {
    content: "";
    position: absolute;
    z-index: 100;
    bottom: -0.82341em;
    left: 50%;
    margin-left: -0.8125em;
    border-top: 1em solid white;
    border-left: 0.8125em solid transparent;
    border-right: 0.8125em solid transparent;
    border-bottom: 0; }
  /* line 69, pages/contact.sass */
  .contact-pin:after {
    z-index: 200;
    border-top-color: white;
    bottom: -0.85em; }

/* line 74, pages/contact.sass */
.bureau-address {
  line-height: 1.3; }

/* line 77, pages/contact.sass */
.bureau-office {
  float: left;
  margin-right: 0.82341em; }

/* line 81, pages/contact.sass */
.bureau-title {
  font-size: 1.118em;
  font-weight: 700; }

/* line 87, pages/contact.sass */
.map-image {
  border: 1px solid #dddddd; }

/* line 92, pages/contact.sass */
.close-trigger {
  position: absolute;
  top: 0;
  right: 16px;
  font-size: 2.688em;
  font-weight: 100;
  display: block;
  cursor: pointer; }
  @media only screen and (min-width: 770px) {
    /* line 92, pages/contact.sass */
    .close-trigger {
      right: 30px;
      font-size: 5.376em; } }

/* line 105, pages/contact.sass */
.t {
  margin-right: 15px; }

/* line 107, pages/contact.sass */
.tf {
  margin-right: 5px; }
