// TUMBLR STYLING


.opt-in
  padding: $l-xl 0
  width: 100%
  .email
    width: 74%
    margin: 0 !important
    margin-right: 3% !important
    @media only screen and (min-width: $first-break)
      width: 77%
    @media only screen and (min-width: $second-break)
      width: 70%
    @media only screen and (min-width: $third-break)
      width: 76%
    @media only screen and (min-width: 1280px)
      width: 77%
  .button
    width: 20%
    min-width: 7em   
  p
    font-size: 1.3em



#posts
  margin-bottom: $l-l
  @media only screen and (min-width: $third-break)
    margin-bottom: 0

  h1
    font-size: 1.5em
  .blog-post-wrap
    margin-top: $l-s
    margin-bottom: $l-s
    padding-bottom: $l-s
    padding-top: $l-s
    @media only screen and (min-width: $second-break)
      margin-top: $l-m
      margin-bottom: $l-m
      padding-bottom: $l-m
      padding-top: $l-m


.blog-sidebar
  padding: $l-m
  box-sizing: border-box 
  margin-top: $l-s  
  margin-bottom: $l-m
  @media only screen and (min-width: $second-break)
    margin-top: 3em  
    margin-bottom: 0     

  .fb_ltr, .fb_rtl, .facebook
    width: 100% !important

  .fb_iframe_widget 
    width: 100% !important
    span
      width: 100% !important



.post-info-list
  margin-bottom: $l-m
  li
    display: inline-block
    padding-right: $l-s / 2
    &:last-child
      padding-right: 0

.post_controls.group, .links
  li
    display: inline-block
    padding-right: $l-s /2
    &:last-child
      padding-right: 0


.blog-readmore
  padding: $l-xl 0 $l-m 0

.blog-content-wrap
  ul
    padding-left: 1.2em
  li
    list-style: disc outside
    padding: $l-s /2 0

  blockquote    
    font-style: italic
    position: relative 
    font-size: $f-l
    font-family: georgia, sans-serif
    margin-left: 2em
    &:after
      content: '“'
      position: absolute
      left: -0.7em
      top: -0.1em
      font-size: 3em
      font-weight: 900

  img[align="right"]
    padding-left: $l-s
    padding-top: $l-s
    padding-bottom: $l-s
    padding-right: 0
  
  img[align="left"]
    padding-right: $l-s
    padding-top: $l-s
    padding-bottom: $l-s
    padding-left: 0
  iframe
    width: 100% !important  

.newer-btn
  margin-right: $l-s


.recent-header
  text-transform: uppercase  
  font-size: 0.675em
  font-weight: 500

//tags
.sidebar-recent
  padding: $l-s 0
  box-sizing: border-box
  display: block
  border-bottom: 1px solid rgb(223, 223, 223)
  overflow: hidden
  white-space: nowrap
  font-size: $f-s
  text-overflow: ellipsis
  +helvetica-bold
  +single-transition(all, 0.2s, ease-out)
  &:hover
    background: rgb(238, 238, 238)

#recent-posts
  margin-bottom: $l-m

// WEBSITE BLOG MODULE


.blog-module
  h1
    @media only screen and (min-width: $first-break)
      margin-bottom: $l-s - .5
  
  .gfc-result
    width: 85%
    padding: 7%
    border: 1px solid $c-lightergrey
    margin-top: $l-s
    +single-transition(all, 0.2s, ease-out)
    display: block
    position: relative
    &:after
      +background-image(linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%))
      content: ""
      display: block
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 60%
    @media only screen and (min-width: $first-break)
      width: 39%
      margin: 1%
      padding: 4%
      +inline-block
      vertical-align: top
      margin-top: 0
    @media only screen and (min-width: $third-break)
      width: 42%
      padding: 2.5%  
    &:hover, &:focus
      +box-shadow(0 3px 9px rgba(0,0,0,0.2))
    &:active
      +box-shadow(none)
      top: 1px


.blog-embed
  width: 100%
  height: 100%


// strip gfc styles 
.gfc-resultsHeader
  display: none
.gfc-results
  .gfc-result
    .gf-title
      height: auto
      a
        color: $c-red
        font-size: $f-l
        +helvetica-light
        display: block
    .gf-relativePublishedDate
      margin-top: $l-s /2
      display: block    
    .gf-snippet
      margin-top: $l-s    
      font-weight: 200
      color: #5f6163
      line-height: 1.625
      margin-bottom: 0.82341em
