.profile-img
  width: 100%

.people
  display: inline-block
  vertical-align: top
  width: 100%
  box-sizing: border-box
  padding: $l-s /2
  text-overflow: ellipsis
  overflow: hidden
  .twitter-follow-button
    margin-top: 0.2em
    margin-right: 0.4em
    float: left
  a:link.linked-in
    float: left
    margin-top: 0.25em
    &:hover, &:focus
      +opacity(0.8)
    img
      width: 60px
      height: 20px
  img
    float: left
    margin-right: $l-s
    width: 35%
  h2, p, a
    font-size: $f-s
    margin-bottom: 0.4em
  a
    display: block    

  @media only screen and (min-width: $first-break)
    width: 49%
    img
      float: none
      width: 100%
      margin-right: 0
      margin-bottom: $l-s

  @media only screen and (min-width: $second-break)
    width: 32%

  @media only screen and (min-width: $third-break)
    width: 13.7% 


.bureau-image
  background: url(../img/profile-1.jpg) no-repeat
  background-size: 100% 
  background-position-x: center
  background-position-y: 5em
  background-attachment: fixed
  padding-bottom: 39%
  display: block
  @media only screen and (min-width: $third-break)
    background-position-y: top

.profile-header
  padding-top: 0.5em
  @media only screen and (min-width: $third-break)
    padding-top: $l-m

.manifesto-list
  counter-reset: li    
  margin-left: 0
  padding-left: 0.4em
  font-size: $f-s
  i
    display: block
  @media only screen and (min-width: $second-break)
    font-size: $f-l
  h2
    color: $c-red

.manifesto-list > li
  position: relative
  margin: 0 0 $l-m $l-m
  list-style: none
  padding-left: $l-m
  @media only screen and (min-width: $second-break)
    padding-left: $l-l

.manifesto-list > li:before
  content: counter(li)
  counter-increment: li 
  position: absolute
  top: 4px
  left: -2em
  +box-sizing(border-box)
  background: $c-red
  color: white
  text-align: center
  padding-top: 0.8em
  +helvetica-bold
  width: 2.8em
  height: 2.8em
  @media only screen and (min-width: $second-break)
    top: 7px

.page-profile
  .project-crosslink
    margin-top: 0

