// ----------------------------------------------
// Work Detail module
// ----------------------------------------------



.l-container--scroll
  width: 100%
  max-width: 1280px
  margin: 0 auto
  display: block
  overflow: hidden

.work-detail-intro
  padding: 7.5%
  h2
    padding-bottom: $l-s

.work-detail-image
  background: white
  img
    display: block



@media only screen and (min-width: $third-break)
  .l-container--scroll
    overflow-x: scroll
    overflow-y: hidden
    white-space: nowrap
    width: 100%
    max-width: 100%
    display: auto

  .work-detail-intro
    display: inline-block
    width: 70%
    vertical-align: top
    padding-left: 5%
    padding-right: 5%
    padding-top: 16%
    box-sizing: border-box
    white-space: normal
    h1, h2
      text-align: left



  .work-detail-image
    display: inline-block
    vertical-align: top
    box-sizing: border-box
    img
      float: left
      vertical-align: top
