// ----------------------------------------------
// Work Detail module
// ----------------------------------------------

.project-intro
  h1, h2
    text-align: left
  h2
    padding-bottom: $l-s
  h1
    padding-bottom: $l-s / 3
    @media only screen and (min-width: $third-break)
      font-size: $f-xxl

.txt-emph
  padding-top: 25%
  padding-bottom: 25%


.image--fullwidth
  width: 100%
  display: block

.image--halfwidth
  width: 50%
  float: left
