%section.l-module--spaced#contact-wrap
  .l-container--narrow.contact-bg
    %h1.header--grey.txt-center Prenez contact
    %form{ :novalidate => "", :method => "post", :action => "contact-form-handler.php", :id => "contact-form", "data-validate" => "parsley", "data-error-container"=>"#contactform-errors"}
      %fieldset
        %input{ :type => "name", :class => "input-field", :name => "name", :placeholder => "Votre nom au complet", :required => "required", "data-error-message" =>"Votre nom"}
        %input{ :type => "email", :class => "input-field", :name => "email", :placeholder => "Votre adresse électronique", :required => "required", "data-error-message" =>"Votre adresse électronique"}
        %input{ :type => "tel", :class => "input-field", :name => "tel", :placeholder => "Votre numéro de téléphone"}
        %input{ :type => "text", :class => "input-field", :name => "text", :placeholder => "Votre entreprise"}
        %textarea{ :class => "input-field--message", :name => "message", :placeholder => "Votre message…", :required => "required", "data-error-message" =>"Votre message"}
        %input{ :type => "submit", :name => "submit", :id => "submit", :class => "btn-primary", :value => "Soumettre"}
    .contact-details-container 
      #contactform-errors    
    .contact-details-container    
      %a.contact-map{:href=>"http://goo.gl/maps/fLbOM", :target=>"blank"}
        .contact-pin-wrap
          .contact-pin
            %img.bureau-office{:src => "../img/bureau-office.jpg"}
            %ul.bureau-address
              %li.bureau-title Bureau
              %li.bureau-address-list 170 rue Elgin Grand Sudbury, ON P3E 3N5
        %img.map-image{:src => "../img/bureau-map.jpg"}
      %ul.contact-list
        %li
          %a{:href =>"mailto:bonjour@bureau.ca"}
            %span bonjour@bureau.ca
        %li 
          %span.txt-bold.t T 
          %span 705 586 3189
        %li 
          %span.txt-bold.tf SF 
          %span 877 586 3189
        %li 
          %span.txt-bold.t TC 
          %span 705 586 3197
    %span.close-trigger#close-trigger
      ×













