%footer.l-module--wide.border-top
  .l-container
    .social-module
      .facebook-btn
        <div class="fb-like" data-href="http://www.facebook.com/bureaugroup" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
      .twitter-btn
        <a href="https://twitter.com/bureaugroup" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @bureaugroup</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      .gplus-btn
        <div class="g-plusone"></div>
        <script>(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();</script>
    .mailing-list
      <div id="mc_embed_signup"><form action="http://bureaugroup.us6.list-manage1.com/subscribe/post?u=17df770b3c8d60a832042045e&amp;id=8ab0e97015" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate><label for="mce-EMAIL">Bulletin</label><input type="email" value="" name="EMAIL" class="email input-field" id="mce-EMAIL" placeholder="Adresse courriel" required><input type="submit" value="S’abonner" name="subscribe" id="mc-embedded-subscribe" class="button btn-secondary"></form></div>
    .contact-info
      %address
        <span class="txt-bold">Bureau</span> <a class="grey-link" href="http://goo.gl/maps/fLbOM" target="blank">170 rue Elgin Grand Sudbury, ON P3E 3N5</a><div class="tel-email"><span class="footer-tel">705 586 3189</span><a href="mailto:bonjour@bureau.ca">bonjour@bureau.ca</a></div>

