---
title: "Bird Kingdom - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.bird
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header Bird Kingdom
        %h2.intro-subhead La région du Niagara attire chaque année des millions de visiteurs de partout au monde. Dans cette région riche en beauté naturelle et où les attractions abondent, une entreprise n’a pas la partie facile pour se démarquer et capter l’intérêt de son client idéal.
        %i Conception et développement de site Web (Drupal CMS) / Site Web adaptatif / Intégration des médias sociaux
  
  .l-container    
    %img.image--fullwidth{:src=>"../img/portfolio/birdkingdom_2.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Bâtir une expérience axée sur la mobilité.
      %p.project-paragraph Le célèbre Bird Kingdom n’avait aucun problème à se distinguer de la foule des autres attractions. Cependant, cette organisation a compris qu’il lui manquait un site Web moderne et techniquement pertinent pour atteindre la clientèle des jeunes, qu’elle ne joignait pas aussi bien qu’elle voulait.

      %p.project-paragraph Nous avons comblé ce besoin en proposant un site extensible qui se consulte facilement au moyen de l’appareil omniprésent des jeunes touristes : le téléphone intelligent. Résultat : un site Web dynamique, mais simple et facilement accessible en tout format, avec des textes et un aspect visuel conçus pour plaire à la jeune clientèle priorisée. Le produit fini permet aux jeunes familles de faire l’expérience de Bird Kingdom électroniquement, avant même de visiter les lieux, de sorte que l’impression de familiarité attire encore davantage le client.
    .l-container--wide
      %img{:src=>"../img/portfolio/birdkingdom_1.jpg"}


  .l-container--wide.txt-center
    %img{:src=>"../img/portfolio/birdkingdom_3.jpg"}
  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Un look de forêt tropicale.
      %p.project-paragraph L’ensemble du site évoque l’environnement énergique et ludique d’une forêt tropicale humide peuplée de centaines d’espèces d’oiseaux. Le site profite aussi de l’intégration complète de plusieurs plateformes de médias sociaux, ce qui permet au visiteur d’accéder à Bird Kingdom sur le réseau de son choix. Par conséquent, la présence en ligne de Bird Kingdom exerce l’attraction émotionnelle et la présence virtuelle qu’il lui faut pour se hisser en tête dans un marché extrêmement concurrentiel, en laissant ses rivaux loin derrière.
      .l-module--wide
        = partial "project-like-fr"


= partial "project-crosslink-fr"



















