---
title: "Boma la Mama - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.boma
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header Boma la Mama
        %h2.intro-subhead Le terme « espérance de vie » est trompeur. Plusieurs croient qu’il s’agit de la durée moyenne de la vie d’un adulte en un temps et un lieu donnés. Bien que cela soit certainement un déterminant de l’espérance de vie, on oublie parfois qu’un autre facteur important peut l’augmenter ou la diminuer : c’est la mortalité infantile. Quand Boma la Mama (un prolongement de Boma Africa qui s’intéresse à la maternité) nous a approchés afin de produire du matériel promotionnel pour leur travail fascinant en Tanzanie, nous savions que ce projet serait spécial. Ce n’est pas tous les jours qu’on a la chance de mettre notre vie professionnelle au service de notre conscience sociale.
        %i Création d’une identité visuelle / Déploiement de marque / Conception et développement de site Web (Wordpress CMS)

  .l-module--spaced
    .l-container--narrow.txt-center
      %img.image{:src=>"../img/portfolio/boma-1.png"}
    .l-container--narrow
      %h2.header--grey Le toucher d’une mère.
      %p.project-paragraph Pour nous assurer que le produit fini s’accorderait avec les sensibilités du public cible, nous avons tout de suite entrepris des recherches pour mieux comprendre les défis et les richesses culturelles de la société tanzanienne. Nos efforts ont abouti quand nous avons produit une nouvelle image de marque et une identité conçues de manière à attirer des visiteurs vers le nouveau site Web Wordpress entièrement modifiable et adapté aux besoins de Boma la Mama. Pour une organisation comme celle-ci, le fait de fournir une indépendance maximale et une gestion à coût minimal lui permet de consacrer son temps et ses ressources toujours trop maigres à d’autres secteurs d’importance vitale. Les réactions incroyablement positives que ces efforts ont générés sont gratifiantes pour nous et pour l’organisme client.


  .l-module.boma
    .l-container.txt-emph.txt-center
      %h1.header--grey « Travailler avec Bureau, c’était vraiment agréable. C’est facile de communiquer avec eux (même si nous sommes dans une autre ville) et ils sont conscients de la valeur du temps. Bureau a pris le temps de s’assurer que la réalisation du concept était parfaite et nous avons pu concrétiser les idées que nous avions en tête. Le prix était juste et nous envisageons de travailler avec eux de nouveau à l’avenir. »
      %i –Leesha Mafaru, directrice générale, Boma la Mama


  .l-module--spaced    
    .l-container--narrow
      %h2.header--grey Les petits gestes animent les grands changements.
      %p.project-paragraph Si vous vous intéressez à appuyer ces nobles efforts qui fournissent des soins de maternité sécuritaires, compétents et empreints de dignité aux femmes en Tanzanie, vous trouverez un choix d’options sur le site Web de Boma la Mama. Aucun geste n’est trop petit pour soutenir un grand changement.
    .l-container--wide.txt-center      
      %img{:src=>"../img/portfolio/boma-2.jpg"}


    .l-container--wide.txt-center
      %img.image{:src=>"../img/portfolio/boma-3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/boma-4.jpg"}

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















