---
title: "Café Petit Gâteau - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.cafe
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Café Petit Gâteau
        %h2.intro-subhead.txt-white Dans les meilleurs quartiers urbains, on retrouve généralement une certaine présence internationale, par exemple, dans une boutique ou un restaurant qui mélange ce qu’il y a de mieux dans le milieu local avec des éléments de cultures étrangères. Café Petit Gâteau, une petite pâtisserie-café au centre-ville de Sudbury, est un exemple parfait de cela.
        %i.txt-white Création d’une identité visuelle / Déploiement de marque / Lettrage personnalisé / Conception et développement de site Web
  
  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/cpg_3.jpg"}

  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/cpg_1.jpg"}
    .l-container--narrow
      %h2.header--grey Design scandinave et souci du détail japonais.
      %p.project-paragraph Pour répondre aux goûts de plus en plus raffinés des Sudburois, cette jolie boutique au rez-de-chaussée d’un édifice historique à angle aigu (dit « flatiron » en anglais) attire une clientèle de connaisseurs qui viennent pour l’espresso frais, le café, le thé et un assortiment de succulentes gâteries, comme des biscuits moelleux parfaits ou des gâteaux légers exquis. L’inspiration française est rehaussée par un décor étudié avec des éléments de design scandinave, une attention japonaise aux détails et des armoires et des meubles faits sur mesure par Mjölk, de sorte que les meilleurs aspects de mondes divers convergent en une fusion mémorable de formes et de saveurs.
      %p.project-paragraph Notre première rencontre avec Derek et Yoshi, propriétaires du Café Petit Gâteau, a eu lieu par un matin d’hiver désagréablement froid, alors qu’ils emménageaient dans l’édifice. Dans leur local chaleureux et invitant, nous leur avons proposé de discuter plus formellement de ce que l’expertise de Bureau en marketing et en conception pourrait apporter au succès de leur entreprise. Nos suggestions rejoignaient parfaitement leur vision et nous avons vite établi un partenariat.

    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/cpg_2.jpg"}
    .l-container--narrow
      %p.project-paragraph Par la suite, nous avons développé leur image de marque, leur papeterie et leur présence Web. Grâce à la qualité supérieure de leurs produits et de notre travail en vue d’établir leur identité, Café Petit Gâteau a connu une croissance continue de leurs affaires et de la reconnaissance de leur marque.

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/cpg_4.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/cpg_6.jpg"}
 

  .l-module.cafe
    .l-container.txt-emph.txt-center
      %h1.header--white « Je ne dirai jamais assez de bien de l’excellent travail que Bureau a fait pour ma nouvelle entreprise. Le lettrage personnalisé, le site Web, leurs idées créatives et pertinentes ont certainement aidé mon entreprise à se démarquer. Bureau consacre toujours 120 % d’effort à chaque projet avec respect, attention et confiance, puis ils livrent un produit fini qui dépasse vos attentes! »
      %i.txt-white –Yoshiko Kurogi, propriétaire, Café Petit Gâteau

  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/cpg_5.jpg"}
  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Inspiré par la vieille Europe.
      %p.project-paragraph Nous avons fourni un logotype moderne qui conserve une touche parisienne classique, qui est de notre temps tout en évoquant un peu la vieille Europe. Nous nous sommes inspirés d’anciennes affiches et nous les avons adaptées pour répondre à leurs besoins. Le CPG a donc pu attirer immédiatement sa clientèle idéale: les personnes qui aiment le café et les gâteries, mais qui s’attendent à mieux que ce que propose une franchise de chaîne nationale ou un dépanneur du coin.

    %a{:href=>"http://www.rgdontario.com/community/case-studies/news_post/184.php", :target=>"blank"}
      .l-container.txt-center
        %img.image{:src=>"../img/portfolio/cm-5.jpg"}
      .l-container--narrow.txt-center.project-paragraph
        %i Étude de cas: Frank Chartrand RGD explique comment il a pu créer un look élégant avec un budget restreint pour un café de Sudbury.

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"


















