---
title: "Le Carrefour francophone - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.carrefour
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Le Carrefour francophone
        %h2.intro-subhead.txt-white Le Carrefour francophone de Sudbury were one of our earliest clients. As the organization's exclusive agency on record since 2009, we were honored when they first approached us to refresh their branding and revitalize their overall image. Steeped in 60 years of history and culture, their choice to work with us meant this job wasn't to be taken lightly.
        %i.txt-white Visual identity design / Brand collateral / Website design and development (Wordpress CMS) / Social media integration
  .l-module--spaced.txt-center 
    %img{:src=>"img/portfolio/carrefour-1.jpg"}
  .l-module--spaced.rgd.txt-center
    %img{:src=>"img/portfolio/carrefour-2.png"}
  .l-module--spaced.txt-center 
    %img{:src=>"img/portfolio/carrefour-3.jpg"}

  .l-module
    .l-container--narrow
      %h2.header--grey An intersection of life and culture.
      %p.project-paragraph Upon considering the broad range of services offered by le Carrefour and the consequently sizable demographic they needed to reach, our primary challenge was to create an image which transcended age and individual experience.
      %p.project-paragraph As "Carrefour" translates to 'intersection' in English, we developed a logo that represented that cultural intersection. Layering the representation with a playful feel, a sort of attractive lightness, their new symbol doubles as a bouncing ball in the form of a letter "C." This new identity has since been applied to all of the organization's stationery, all printed material and is found throughout every aspect of their virtual presence. It's been our pleasure to further provide them with visual identity design for their sub-branding.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/carrefour-4.jpg"}
  .l-module--wide  
    .l-container--narrow.border-top.txt-center
      .l-module--wide
        %a.grey-link{:href=>"http://www.northernlife.ca/news/lifestyle/2012/11/23-good-design-awards-sudbury.aspx", :target=>"blank"}
          .l-container.txt-center
            %img{:src=>"img/portfolio/carrefour-5.jpg"}
          .l-container--narrow.txt-center.project-paragraph
            %i Winner of the Sudbury Design Society's Good Design Award

    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/carrefour-6.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/carrefour-7.jpg"}

  .l-module--spaced
    .l-container--narrow  
      %p.project-paragraph Our efforts to help them keep ahead of the curb through strategies such as encouraging the establishment of a robust social media presence (before it was standard practice) has increased popular awareness of the organization and driven their overall popularity to new heights. Their services are provided to a steadily-growing number of people while their concerts and other events see greater attendance than ever as francophones across Northern Ontario are introduced to le Carrefour.

    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/carrefour-8.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/carrefour-9.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/carrefour-10.jpg"}


  .l-module.carrefour
    .l-container.txt-emph.txt-center
      %h1.header--white “During our numerous collaborations, I have noted Bureau’s unique balance between functionality, beauty, simplicity and their dedication to producing the best quality product at an honest price.”
      %i.txt-white –Stéphane Gauthier, Directeur général et culturel, Carrefour francophone



  .l-module--spaced.grey-bg
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/slague-11.png"}

    .l-container--narrow  
      %h2.header--grey Building an award-winning brand.
      %p.project-paragraph This collaboration with le Carrefour has been so successful that we've also worked with their promotion company, La Slague, which has hosted gifted artists and comedians including Robert Paquette, CANO, Malajube and Damien Robitaille to name just a few. This extension of le Carrefour's brand which specializes in staging such events has won the Trille Or Award for Best Concert Promoter in French Ontario two years in a row. We're privileged to have contributed to the process.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/slague-12.png"}
  .l-module.grey-bg  
    .l-container--narrow.border-top.txt-center
      .l-module--wide
        .l-container.txt-center
          %img{:src=>"img/portfolio/slague-13.png"}
        .l-container--narrow.txt-center.project-paragraph
          %i Winner of the Trille Or award for Best Concert Promoter in French Ontario

  .l-module.carrefour-grey
    .l-container.txt-center
      %img{:src=>"img/portfolio/slague-14.jpg"}  
  .l-module.grey.bg  
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/slague-15.png"}
    
  .l-module--spaced      
    %img.image--fullwidth{:src=>"img/portfolio/slague-16.png"}
  .l-module--wide      
    %img.image--fullwidth{:src=>"img/portfolio/slague-17.png"}    
    
  .l-module
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/slague-18.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/slague-19.png"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/slague-20.png"}

  .l-module--wide
    .l-container--narrow
      .l-module--wide
        = partial "project-like"



= partial "project-crosslink"
