---
title: "Le Carrefour francophone - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.carrefour
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Le Carrefour francophone
        %h2.intro-subhead.txt-white Le Carrefour francophone de Sudbury a été un de nos premiers clients. À titre d’agence attitrée pour cet organisme depuis 2009, nous nous estimions honorés quand il nous a demandé de rafraîchir son image de marque et de revitaliser l’ensemble de son image. Parce que le Carrefour francophone baigne dans 60 années riches en histoire et en culture, sa décision de travailler avec nous représentait une tâche à ne pas traiter à la légère.
        %i.txt-white Création d’une image de marque / Déploiement de marque / Conception et développement de site Web (Wordpress CMS) / Intégration des médias sociaux
  .l-module--spaced.txt-center 
    %img{:src=>"../img/portfolio/carrefour-1.jpg"}
  .l-module--spaced.rgd.txt-center
    %img{:src=>"../img/portfolio/carrefour-2.png"}
  .l-module--spaced.txt-center 
    %img{:src=>"../img/portfolio/carrefour-3.jpg"}

  .l-module
    .l-container--narrow
      %h2.header--grey Au carrefour de la vie et de la culture.
      %p.project-paragraph Vu le large éventail de services offerts par le Carrefour et, en conséquence, la clientèle vaste et variée qu’il doit viser, notre premier défi a été de créer une image qui transcende l’âge et l’expérience du client individuel.
      %p.project-paragraph Inspirés par la notion du carrefour comme croisée des chemins, nous avons développé un logo évocateur d’une intersection culturelle. Par son traitement visuel léger, attrayant et ludique, ce nouveau symbole ressemble à la fois à une boule bondissante et à la lettre « C ». Depuis, cette nouvelle identité a été déployée sur toute la papeterie de l’organisme, dans tous ces documents imprimés et dans tous les aspects de leur présence virtuelle. Nous avons aussi eu le plaisir de fournir des concepts visuels pour leurs marques secondaires.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/carrefour-4.jpg"}
  .l-module--wide  
    .l-container--narrow.border-top.txt-center
      .l-module--wide
        %a.grey-link{:href=>"http://www.northernlife.ca/news/lifestyle/2012/11/23-good-design-awards-sudbury.aspx", :target=>"blank"}
          .l-container.txt-center
            %img{:src=>"../img/portfolio/carrefour-5.jpg"}
          .l-container--narrow.txt-center.project-paragraph
            %i Lauréat du prix Good Design de la Sudbury Design Society

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/carrefour-6.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/carrefour-7.jpg"}

  .l-module--spaced
    .l-container--narrow  
      %p.project-paragraph Grâce à nos efforts en vue d’aider le Carrefour à conserver une longueur d’avance par diverses stratégies, comme l’encourager à se donner une forte présence dans les médias sociaux (avant que cela ne devienne pratique courante), la notoriété et la popularité générale de l’organisme atteint maintenant de nouveaux sommets. Ses services sont fournis à un nombre croissant de personnes, tandis que ses concerts et autres événements sont plus fréquentés que jamais, car des francophones de partout dans le nord de l’Ontario découvrent le Carrefour.

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/carrefour-8.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/carrefour-9.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/carrefour-10.jpg"}


  .l-module.carrefour
    .l-container.txt-emph.txt-center
      %h1.header--white « Au cours de nos nombreuses collaborations, j’ai constaté que Bureau atteint un équilibre unique entre la fonctionnalité, l’esthétique, la simplicité et la volonté de livrer un produit de la meilleure qualité à un prix honnête. »
      %i.txt-white –Stéphane Gauthier, directeur général et culturel, Carrefour francophone



  .l-module--spaced.grey-bg
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/slague-11.png"}

    .l-container--narrow  
      %h2.header--grey Bâtir une image de marque primée.
      %p.project-paragraph Notre collaboration avec le Carrefour a été si réussie que nous avons aussi travaillé avec sa maison de diffusion de spectacles, La Slague, qui reçoit des musiciens et humoristes talentueux, depuis l’époque de Robert Paquette et de Cano jusqu’aux vedettes du présent comme Malajube et Damien Robitaille. Cette extension de l’image de marque du Carrefour, de manière à y intégrer la partie de l’organisme qui organise ce genre d’événements, n’est sûrement pas étrangère au prix Trille Or du meilleur diffuseur de spectacles en Ontario français que la Slague a remporté deux fois de suite. Nous sommes heureux d’avoir apporté notre contribution à ce processus.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/slague-12.png"}
  .l-module.grey-bg  
    .l-container--narrow.border-top.txt-center
      .l-module--wide
        .l-container.txt-center
          %img{:src=>"../img/portfolio/slague-13.png"}
        .l-container--narrow.txt-center.project-paragraph
          %i Lauréat du prix Trille Or du meilleur diffuseur de spectacles en Ontario français

  .l-module.carrefour-grey
    .l-container.txt-center
      %img{:src=>"../img/portfolio/slague-14.jpg"}  
  .l-module.grey.bg  
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/slague-15.png"}
    
  .l-module--spaced      
    %img.image--fullwidth{:src=>"../img/portfolio/slague-16.png"}
  .l-module--wide      
    %img.image--fullwidth{:src=>"../img/portfolio/slague-17.png"}    
    
  .l-module
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/slague-18.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/slague-19.png"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/slague-20.png"}

  .l-module--wide
    .l-container--narrow
      .l-module--wide
        = partial "project-like"



= partial "project-crosslink"
