---
title: "Carte Blance Films - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.carte
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Carte Blanche Films
        %h2.intro-subhead.txt-white Ces dernières années, Sudbury a accueilli un bon nombre d’équipes de production de films et d’émissions de télévision. Nous avons eu le plaisir d’être le partenaire d’un des joueurs les plus remarquables dans cette mouvance. Carte Blanche Films est une entreprise de production cinématographique et télévisuelle basée à Sudbury et à Ottawa. Nous l’avons aidée à atteindre un plus vaste public en œuvrant avec elle à la création d’outils promotionnels uniques pour ses productions télévisuelles variées, notamment Météo+ et Les Bleus de Ramville.
        %i.txt-white Rédaction, enregistrement et montage de balados / Stratégie de marketing numérique / Conception d’emballage
  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/cbf_1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey La clé, c’est l’imagination.
      %p.project-paragraph Ramville, la ville qui donne son nom à la série Les Bleus de Ramville, est un endroit fictif situé le long de la route 17 entre North Bay et Sturgeon Falls. Optant pour une formule originale, nous avons créé pour cette série un site de média social axé thématiquement sur un poste de radio qui figure dans l’histoire que la série raconte. Donc, les personnages de la série reprenaient vie dans ce nouveau contexte en ligne. Le site attirait les amateurs de la série par son concept original et son contenu exclusif.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/cbf_2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/cbf_3.jpg"}



  .l-module--spaced.grey-bg
    .l-container--narrow  
      %h2.header--grey Technologie ludique.
      %p.project-paragraph Le contenu nouveau a pris la forme de baladodiffusions qui prolongeaient l’histoire du plus récent épisode. Celles-ci étaient rédigées, enregistrées et produites par des membres de notre équipe. Nous avons suivi un format popularisé par des séries comme The Walking Dead, Breaking Bad et Game of Thrones. Vu la réflexion et le grand soin mis à la production des Bleus de Ramville, on ne s’étonne pas que sa séquence d’ouverture ait remporté le prix d’excellence de 2012 au prestigieux festival SXSW à Austin au Texas.

    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/cbf_4.png"}  
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/cbf_5.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/cbf_6.jpg"}
    .l-container--narrow.bandcamp  
      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=2736751839/size=medium/bgcol=ffffff/linkcol=de270f/transparent=true/" seamless><a href="http://radiockkc.bandcamp.com/album/passe-la-puck">Passe la puck by Radio CKKC</a></iframe>  

  .l-module.carte
    .l-container.txt-emph.txt-center
      %h1.header--white « Bureau est une agence de design top niveau qui fournit des solutions créatives avec un esprit contemporain. Frank et son équipe donnent aux gens d’affaires ordinaires des atouts concurrentiels pour leur promotion tout en créant des concepts remarquables. »
      %i.txt-white –Tracy Legault, chef de production, Carte Blanche Films


  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/cbf_7.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/cbf_8.jpg"}
    .l-container--narrow
      %h2.header--grey Toujours sur le plateau de tournage.
      %p.project-paragraph Lorsque Carte Blanche Films fait de nouvelles propositions pour ses prochaines productions, Bureau continue d’être l’allié auquel elle fait appel pour tous ses besoins en matière de marketing.
      .l-module--wide
        = partial "project-like-fr"



= partial "project-crosslink-fr"



















