---
title: "Centre culturel Frontenac - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.culturel
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Centre culturel Frontenac
        %h2.intro-subhead.txt-white Notre équipe parle couramment le français et l’anglais, ce qui nous avantage certainement. Au contraire d’autres firmes qui ont recours à un service de traduction externe aveuglément, n’ayant pas elles-mêmes la capacité de revoir la traduction pour juger de sa précision et de sa justesse, notre jeune équipe peut revoir les textes dans les deux langues à tous les niveaux.
        %i.txt-white Conception de l’identité visuelle / Déploiement de marque / Conception et développement de site Web (Wordpress CMS) / Intégration des médias sociaux
  
  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/ccf_2.jpg"}

  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/ccf_1.jpg"}
    .l-container--narrow
      %h2.header--grey Dans une langue ou l'autre, aucun texte ne quitte nos bureaux s’il ne convient pas.
      %p.project-paragraph Pour de telles raisons précisément, le travail que nous avons fait pour le Carrefour francophone a été remarqué par d’autres organismes francophones importants dans la province, comme le Centre culturel Frontenac (CCF) de Kingston. Sentant qu’il fallait rafraîchir sa marque et rehausser sa présence en ligne, le Centre a demandé à Bureau une réponse à cette demande, puis a retenu nos services pour l’exécution de la solution.
      %p.project-paragraph Bureau a fourni au CCF une nouvelle identité qui reflète l’approche moderne de ce centre qui assure des services et des divertissements à la population de Kingston. Facile à utiliser pour le personnel et les visiteurs, le nouveau site du CCF facilite les mises à jour grâce à la simplicité des ajouts aux blogues et aux nouvelles. Il assure aussi ses ventes de billets en ligne, tandis que son format malléable permet d’adapter tout aspect du site sans peine. La conception de Bureau donne au CCF la capacité de refléter rapidement les informations et les tendances nouvelles, donc de laisser le pouvoir là où il doit être: chez le client.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/ccf_3.jpg"}

    .l-container--narrow
      %p.project-paragraph Le partenariat que le CCF a établi avec notre agence ne s’est pas traduit en une vague amélioration esthétique, mais bien en des résultats concrets, comme une augmentation chiffrable du nombre de billets vendus et de l’utilisation des services.

  .l-module.grey-bg
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/ccf_4.jpg"}  
    .l-container--narrow
      .l-module--wide
        = partial "project-like-fr"



= partial "project-crosslink-fr"



















