---
title: "La Municipalité de Central Manitoulin - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.boma
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header La Municipalité de Central Manitoulin
        %h2.intro-subhead La Municipalité de Central Manitoulin nous a approchés avec un problème: il lui fallait moderniser son site Web, rafraîchir sa présence, faciliter l’accès pour les visiteurs et faciliter l’utilisation pour le personnel municipal.
        %i Conception et développement de site Web (Drupal CMS) / Optimisation du référencement Web (SEO) / Conception de site Web adaptatif

  .l-module--spaced
    .l-container--narrow.txt-center
      %img.image{:src=>"../img/portfolio/cm-1.jpg"}
    .l-container--narrow
      %h2.header--grey Notre réponse: une solution.
      %p.project-paragraph Après un examen attentif des problèmes du site, nous avons dressé l’inventaire de ses outils virtuels en place, puis nous avons décidé de tout rebâtir au grand complet, en ajustant chaque aspect du site à ses fonctions spécifiques de manière à rehausser l’efficacité. C’était essentiel que tout visiteur puisse facilement et rapidement trouver l’information qu’il cherche, mais c’était aussi important que le personnel puisse modifier toute section facilement et en temps opportun, sans grandes connaissances techniques. Dans cet esprit, nous avons bâti le site autour du système de gestion de contenu Drupal pour que tout employé, technophile ou technophobe, puisse aisément apporter des révisions et des mises à jour au site.

  .l-module      
    %img.image--fullwidth{:src=>"../img/portfolio/cm-2.jpg"}

  .l-module.boma
    .l-container.txt-emph.txt-center
      %h1.header--grey « Depuis le lancement de notre site Web renouvelé, nous n’avons reçu que des compliments pour sa belle apparence et sa navigation facile. Nos rapports avec Bureau ont été excellents et leur capacité de satisfaire aux besoins particuliers d’un site Web municipal a été exceptionnelle. Je recommande fortement leurs services! »
      %i –Amanda Gunner, agente de développement économique, Municipalité de Central Manitoulin

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Venez chez vous, au cœur de tout.
      %p.project-paragraph Notre objectif était de livrer un site efficace, mais également adéquat. Nous avons donc assuré son accessibilité à l’aide d’appareils mobiles, de même qu'un référencement optimal pour les moteurs de recherche. De la sorte, aussi bien les visiteurs que les résidents de Central Manitoulin peuvent utiliser leur appareil et leur moteur de recherche préférés pour trouver exactement ce qu’ils cherchent. Étant donné que le site met l’accent sur le tourisme dans la municipalité, le chargement rapide des pages et la facilité de la navigation assurent que le visiteur dépensera moins sur le transfert de données et plus dans les entreprises de Central Manitoulin.

    .l-container--wide.txt-center
      %img.image{:src=>"../img/portfolio/cm-3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/cm-4.jpg"}

  .l-module
    %a{:href=>"http://www.rgdontario.com/2013/07/03/case-study-bureau-design-provides-efficient-navigation-and-quick-information-access-for-municipal-website.php", :target=>"blank"}
      .l-container.txt-center
        %img.image{:src=>"../img/portfolio/cm-5.jpg"}
      .l-container--narrow.txt-center.project-paragraph
        %i Étude de cas: un design de Bureau assure l’efficacité de la navigation et la rapidité de l’accès aux informations dans un site Web municipal

  .l-module--wide
    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















