---
title: "Ville du Grand Sudbury - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.boma
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header Ville du Grand Sudbury
        %h2.intro-subhead Pour avoir une économie robuste, il faut de la croissance et pour avoir de la croissance, il faut une population grandissante de travailleurs et de consommateurs. L’immigration fournit les personnes qu’il faut pour combler ces besoins, mais dans un pays aussi beau et grand que le Canada, comment une ville parmi bien d’autres peut-elle convaincre les Néo-Canadiens de choisir de s’installer chez elle?
        %i Stratégie de marketing / Stratégie de communication / Marketing numérique / Conception de site Web / Création d’une identité visuelle / Déploiement de la marque / Matériel promotionnel
  
  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/city_1.jpg"}

  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/city_2.jpg"}
    .l-container--narrow
      %h2.header--grey Une nouvelle perspective
      %p.project-paragraph La Ville du Grand Sudbury a choisi Bureau pour obtenir une réponse à cette question, en nous demandant de développer une stratégie de marketing et de conception pour son Partenariat local en matière d’immigration (PLI). Le PLI est une initiative financée par Citoyenneté et Immigration Canada qui vise à développer des partenariats locaux et à trouver des solutions viables pour répondre aux besoins de la population néo-canadienne.
      %p.project-paragraph Nous devions présenter un plan visant particulièrement les familles, les étudiants et les petits entrepreneurs afin d’aider la ville à attirer, à recevoir et à retenir les nouveaux arrivants. Il était essentiel de positionner Sudbury à l’avant-plan, en mettant l’accent sur les qualités et les possibilités uniques de cette ville.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/city_3.jpg"}


  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/city_4.jpg"}   


  .l-module.boma
    .l-container.txt-emph.txt-center
      %h1.header--grey « Frank et l’équipe chez Bureau ont compris nos contraintes et ont livré leur travail en respectant notre échéancier et notre budget, tout en fournissant d’excellents concepts pour nous aider à faire avancer notre projet. »
      %i –Jean-Mathieu Chénier, agent d’expansion commerciale, Ville du Grand Sudbury


  .l-module--spaced.grey-bg
    .l-container--narrow
      %h2.header--grey Un creuset des cultures
      %p.project-paragraph En exécutant le plan, nous avons créé une identité visuelle solide liée à des outils en ligne, avec lesquels la municipalité peut répondre à ses divers besoins en matière de marketing. Notre but était de déclencher un mouvement d’ouverture à la diversité qui célèbre la longue histoire de l’immigration dans notre ville de même que ses contributions à l’échelle du pays. Nous avons concentré nos efforts sur le recrutement à l’intérieur du Canada, en lançant un programme de mentorat et en aidant les immigrants actuels qui s’efforcent d’en attirer d’autres ici.
      %p.project-paragraph L’identité visuelle universellement accessible que nous avons conçue franchit sans peine les frontières linguistiques tout en reflétant les objectifs du programme. Le logotype que nous avons créé facilite l’intégration de la nouvelle identité avec l’image de marque institutionnelle existante. Puis, nous avons avancé d’un pas de plus, en atteignant un public aussi vaste que possible grâce à la combinaison de la stratégie avec les médias sociaux au moyen d’annonces dans Google et Facebook.
      
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/city_5.jpg"}

  .l-module
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/city_6.jpg"}  
    .l-container--narrow
      .l-module--wide
        = partial "project-like-fr"



= partial "project-crosslink-fr"



















