---
title: "City Of Greater Sudbury - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.boma
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header City of Greater Sudbury
        %h2.intro-subhead A robust economy relies on growth, and that growth in turn relies on a growing population to staff and consume. Immigration provides the people required to meet those needs, but in so beautiful and large a country such as Canada, how does a city convince new Canadians to live there instead of any number of its contemporaries?
        %i Marketing strategy / Communication strategy / Digital marketing / Website design / Visual identity design / Brand collateral / Promotional material
  
  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/city_1.jpg"}

  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/city_2.jpg"}
    .l-container--narrow
      %h2.header--grey A new perspective.
      %p.project-paragraph The City of Greater Sudbury selected Bureau to answer that question when we were retained to develop a marketing and creative strategy for their Local Immigration Partnership (LIP). The LIP is an initiative funded by Citizenship and Immigration Canada charged with developing local partnerships and identifying sustainable solutions to serve the needs of new Canadians.
      %p.project-paragraph Aimed at families, students and small entrepreneurs in particular, we needed to create a plan which would help the city attract, retain and provide a sanctuary for those newcomers. Positioning Sudbury at the fore by relating its welcoming and diverse nature while accenting that effort by emphasizing the city's unique qualities and offerings was vital.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/city_3.jpg"}


  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/city_4.jpg"}   


  .l-module.boma
    .l-container.txt-emph.txt-center
      %h1.header “Frank and the team at Bureau understood our constraints and delivered on time and on budget, while providing some great concepts for us to move our project forward.”
      %i –Jean-Mathieu Chenier, Business Development Officer, City of Greater Sudbury 


  .l-module--spaced.grey-bg
    .l-container--narrow
      %h2.header--grey A melting pot of cultures.
      %p.project-paragraph In executing the plan, we built a strong visual brand with online tools which equip the municipality to meet all marketing needs. Our goal was to spark a movement which embraced diversity and celebrated our long history of immigration and it's contributions to our country. We focused our efforts on recruiting from within Canada, launching a mentorship program while aiding existing immigrants in their push to bring others here.
      %p.project-paragraph Crossing language barriers without difficulty, our universally accessible and simply understood visual identity also reflects the program's objectives. The logotype we created facilitates integration of the new identity with existing corporate branding. We went a step further in reaching as wide an audience as possible by combining the strategy with social media through the use of Google and Facebook ads.
      
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/city_5.jpg"}

  .l-module
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/city_6.jpg"}  
    .l-container--narrow
      .l-module--wide
        = partial "project-like-fr"



= partial "project-crosslink-fr"



















