---
title: "Sages femmes de l’est d’Ottawa - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.ottawa
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Sages femmes de l’est d’Ottawa
        %h2.intro-subhead.txt-white La pratique des sages-femmes n’est plus de nos jours une pratique « alternative » freinée par de mauvaises interprétations et des faussetés largement répandues. Les sages-femmes ont maintenant une profession reconnue et l’option de donner naissance à un enfant dans le confort de son propre foyer, plutôt que dans l’environnement étranger et froid d’un hôpital, est maintenant un choix répandu.
        %i.txt-white Création d’une identité visuelle / Déploiement de marque / Guide des normes de marque / Conception et développement de site Web (Wordpress CMS)
  

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Des femmes qui s’entraident.
      %p.project-paragraph Nous avons choisi le croissant pour plusieurs raisons. Quand les Sages-femmes de l’est d’Ottawa nous ont demandé de créer une nouvelle marque qui les distinguerait de la multitude de services semblables dans la région d’Ottawa, nous savions qu’il faudrait que leur identité visuelle en dise long, mais sans longueurs. Notre conception, où l’on voit deux croissants de lune qui s’entourent l’un l’autre, donne à la marque son élément crucial : la connexion émotionnelle grâce à laquelle les Sagesfemmes de l’est d’Ottawa seraient remarquées.
      %p.project-paragraph La nouvelle lune, qui apparaît sous la forme d’un croissant, est un symbole de la vie naissante. La douce lueur que produit la lumière réfléchie par la lune nous a fait penser à la douceur que ressent une nouvelle mère quand la naissance de son enfant se passe dans sa maison. En fait, la lune a souvent symbolisé la femme, son cycle de 28 jours comme celui du cycle menstruel permettant un rapprochement évident.
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/eom_4.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/eom_2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/eom_3.jpg"}
    .l-container--narrow
      %p.project-paragraph Avec ce logo simple, efficace et frappant, nous avons aussi fourni aux Sages-femmes de l’est d’Ottawa un guide de marque complet servant à orienter l’utilisation autorisée de leur logo par d’autres organismes, un peu comme un manuel de l’utilisateur. Ces efforts, ainsi que notre application de la nouvelle image de marque et de la nouvelle identité visuelle à leur présence en ligne, ont donné aux Sagesfemmes de l’est d’Ottawa une présence nettement distincte.
    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















