---
title: "Freelandt Caldwell Reilly - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.fcr
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Freelandt Caldwell Reilly
        %h2.intro-subhead.txt-white Une entreprise ne réussira pas si elle ne brasse pas ses chiffres de temps à autre avec quelqu’un qui s’y connaît. Pour obtenir des concepts remarquables à prix raisonnable, la firme de comptables la plus prestigieuse de Sudbury savait vers qui se tourner quand est venu le moment de rafraîchir son image de marque.
        %i.txt-white Création d’une identité visuelle / Déploiement de marque
  
  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/fcr_1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Fondé sur le principe de la confiance.
      %p.project-paragraph Freelandt Caldwell Reilly LLP est au service de la région de Sudbury depuis nombre d’années. Pour conserver sa place parmi les autres firmes de même envergure, il lui fallait quelque chose d’original, mais sans frivolité; de remarquable, mais sans tapage. Nous avons rassemblé des éléments modernes et des formes classiques éprouvées en un concept tout à fait approprié à ses besoins. Le résultat est un graphisme vigoureux, mais sérieux et approprié au monde des affaires, qui modernise l’identité de la firme sans oublier son histoire.
      %p.project-paragraph Pendant tout le processus, notre souci a été d’aboutir à un concept qui manifestait l’équilibre souhaité. La firme ne changeait aucunement ses pratiques en affaires; elle voulait seulement montrer à sa clientèle que son travail exceptionnel s’améliore constamment. Les réactions au concept ont été excellentes, tant chez la firme que parmi sa clientèle.
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/fcr_2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/fcr_3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/fcr_4.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/fcr_5.jpg"}

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















