---
title: "Helios Developments - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.helios
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Helios Developments
        %h2.intro-subhead.txt-white Dans les journaux, sur les écrans, au fil des blogues, dans les plans d’affaires, tout le monde parle de l’efficacité énergétique. Helios Developments est une jeune entreprise dont la mission est de fournir l’indépendance énergétique aussi bien que l’efficacité énergétique à des clients résidentiels et commerciaux, grâce à ses divers modèles de panneaux solaires.
        %i.txt-white Création d’une identité visuelle / Déploiement de marque / Présentation de produits / Conception et développement de site Web (Wordpress CMS) / Optimisation du référencement Web (SEO)
  

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Créer une marque efficace.
      %p.project-paragraph À titre de jeune entreprise dans une industrie émergente, Helios voulait prendre des pas réfléchis et mesurés pour développer la notoriété de sa marque et bâtir sa réputation dans le nord de l’Ontario. Sachant qu’une des clés de son succès serait une stratégie de marque efficace qui repose sur la conscience sociale de notre communauté et sa prédisposition pour l’efficacité énergétique, Hélios s’est tourné vers Bureau pour des conseils en matière de créativité.
      %p.project-paragraph Notre première démarche a été de créer un nouveau logo et une nouvelle identité à utiliser dans tout le matériel promotionnel. Ce logo, où une éclipse solaire stylisée tient lieu de la lettre « O » dans Helios, fait voir immédiatement qu’on a affaire à l’énergie solaire. Puis, nous avons bâti un site Web fait sur mesure et nous avons optimisé son référencement pour les moteurs de recherche, afin que les clients potentiels trouvent facilement le site et y obtiennent facilement les renseignements qu’il leur faut.
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/helios_2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/helios_3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/helios_4.jpg"}

  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/helios_1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Trouver un avantage concurrentiel.
      %p.project-paragraph Helios a vite connu du succès grâce à la qualité de ses produits et à l’efficacité de notre stratégie de promotion.

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/helios_5.jpg"}

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















