---
title: "Hideaway Pictures - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.hideaway
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Hideaway Pictures
        %h2.intro-subhead.txt-white Les services médiatiques ont connu une croissance fulgurante dans le nord de l’Ontario au cours de la dernière décennie. Hideaway Pictures est une entreprise de production à service complet qui a aidé à soutenir cette croissance grâce à la création et au développement d’œuvres de divertissement, comme des émissions de télévision, des films, des vidéo-clips, et de productions promotionnelles, comme des films servant à la formation professionnelle et des publicités. En visant à doter le nord de l’Ontario d’une industrie du cinéma qui est là pour y rester, Hideaway fournit des services aux entreprises qui permettent de réaliser cette vision.
        %i.txt-white Conception d’une identité visuelle / Déploiement de marque / Conception et développement de site Web (Wordpress CMS) / Optimisation du référencement Web
  
  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/hideaway_1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Tourner dans le nord de l’Ontario.
      %p.project-paragraph Au départ, Hideaway nous a approchés lorsque l’entreprise devait mener un important effort de marketing pour se faire connaître rapidement, en soulevant de l’intérêt pour les productions qu’elle continue d’attirer vers la région. De plus, Northern Ontario Film Studios s’affairait à établir le premier grand studio cinématographique dans la région et souhaitait promouvoir sa présence conjointement avec Hideaway.
      %p.project-paragraph Nous avons relevé ces défis en fournissant à Hideaway Pictures un site Web à référencement optimisé qui les positionne comme un chef de file de l’industrie du cinéma dans le nord de l’Ontario. En raison de l’efficacité de sa conception et de l’ingéniosité des tactiques de référencement pour les moteurs de recherche, le site de Hideaway apparaît constamment parmi les premiers résultats naturels (c.-à-d. non payés) pour plusieurs de ses mots clés.

  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/hideaway_2.jpg"}


  .l-module.hideaway
    .l-container.txt-emph.txt-center
      %h1.header--white « Bureau est une firme extrêmement professionnelle qui connaît profondément son domaine. Ils savent sortir du cadre au besoin et proposer des idées qui peuvent amener votre entreprise à de nouveaux sommets. »
      %i.txt-white –David Anselmo, directeur général, Hideaway Pictures


  .l-module--spaced
    .l-container--narrow
      %h2.header--grey En clair, qu’est-ce que tout cela signifie? Lorsqu’on veut tourner un film dans le nord de l’Ontario, c’est avec Hideaway Pictures qu’on fait affaire.
      %p.project-paragraph De plus, lors du lancement de Northern Ontario Film Studios, nous avons soigneusement géré sa présence dans les médias sociaux de façon à attirer un public non seulement fidèle, mais en augmentation constante. De la signalisation à la papeterie, l’image de marque et l’identité conçues par Bureau se retrouvent partout où l’entreprise fait affaire aujourd’hui.

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/hideaway_3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/hideaway_4.jpg"}
    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















