---
title: "ICAN-CERD - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.ican
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white ICAN-CERD
        %h2.intro-subhead.txt-white Nous passons notre enfance à envier et à souhaiter l’indépendance que nous voyons chez les adultes qui nous entourent. Quand enfin nous obtenons cette indépendance, nous sommes prêts à tout pour la conserver. Le Centre et réseau d’indépendance a pour but de s’assurer que l’indépendance ne glisse pas de nos mains à mesure que l’âge, la maladie et les blessures affaiblissent notre prise.
        %i.txt-white Conception et mise en page du rapport annuel / Présentoirs et bannières de foire / Illustration
  
  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/ican-1.jpg"}
    .l-container--narrow
      %h2.header--grey Une planification soigneuse livre d’excellents résultats.
      %p.project-paragraph ICAN-CERD est un organisme d’aide à l’autonomie à Sudbury qui fournit du soutien et des ressources nécessaires à la vie autonome depuis 1977. Parce que cet organisme ressentait le besoin de donner à ses rapports annuels un aspect plus vivant, mais néanmoins substantiel, il est venu chez Bureau il y a quelques années pour demander une refonte du concept. Il est demeuré notre client depuis.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/ican-2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/ican-3.jpg"}



  .l-module.ican
    .l-container.txt-emph.txt-center
      %h1.header--white « Bureau a fait un travail fantastique. Ils ont écouté nos demandes et ils ont suggéré ce qui pouvait marcher et ce qui ne marcherait pas. Le produit final était parfait. »
      %i.txt-white –Johanne Ramsey, adjointe à la direction, ICAN-CERD


  .l-module--spaced.grey-bg
    .l-container--narrow
      %h2.header--grey Trouver un fil conducteur.
      %p.project-paragraph Étant donné que le papillon servait de symbole récurrent dans les rapports annuels depuis longtemps, nous avons trouvé une façon de conserver cet élément de base familier tout en lui insufflant une vie nouvelle. Ce n’est pas insignifiant pour une entreprise sans but lucratif, où chaque dollar de financement public et privé est durement gagné. Notre refonte du symbole rendait leur rapport plus accrocheur à l’œil, de façon à le distinguer de tous les autres et à donner à l’organisme un bon atout de plus.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/ican-4.png"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/ican-5.png"}


  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Créer quelque chose de mémorable.
      %p.project-paragraph Il ne nous suffisait pas de fournir un nouveau design pour le rapport. Nous avons avancé d’un pas de plus en créant une œuvre d’art à exposer fièrement sur les murs de l’organisme. Un papillon façonné en tendant des fils rouge vif sur un arrière-plan de clous luisants illustre comment une communauté tire sa force de ses multiples points d’appui.
      %p.project-paragraph On comprend clairement alors pourquoi ICAN-CERD continue de se fier à Bureau pour ses besoins en matière de conception, y compris des bannières et de la signalisation pour ses bureaux à Sudbury et des présentoirs portatifs qui lui permettent de faire bonne impression dans les foires commerciales.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/ican-6.png"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/ican-7.png"}

  
    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"

