---
title: "Accueil - Bureau"
---

- @body_class = 'page-home'
- @page_class = ''



#header-cover
  %section.l-module
    #video-trigger.l-container--full
      .header-video-wrapper
        .video-mask
          %img{:src=>"../img/bureau-intro-fr.svg", :width=>"1500", :height=>"845"}
        %img.video-poster-header{:src=>"../img/video-poster2.jpg", :width=>"1389", :height=>"614"}  
        <video webkit-playsinline id="home-video--intro"class="home-video--intro" width="1368" height="769" autoplay="autoplay" poster="../img/video-poster2.jpg" loop="true"><source src="../videos/Bureau_homepage.mp4" type="video/mp4" /><source src="../videos/Bureau_homepage.oggtheora.ogg" type="video/ogg"/><source src="../videos/Bureau_homepage.webmsd.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="../flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=videos/Bureau_homepage.mp4"><!--[if IE]><!--><param name="movie" value="../flash/player.swf"><!--<![endif]--><img src="../img/video-poster2.jpg" width="1389" height="614" alt="Video"></object></video>'
      %h2.home-introtext Dans le marché d’aujourd’hui, il faut agir avec audace. Vous avez peut-être un produit ou un service supérieur, mais si vos clients ne peuvent pas le trouver, ils iront forcément ailleurs. <a href="services.html">Soyez trouvable.</a>
  .l-module
    .l-container.arrow-wrap
      .home-arrow#home-arrow
        %img{:src=>"../img/home-arrow.svg", :width=>"48", :height=>"48"}
%section.l-module--spaced.grey-bg#specialty
  .l-container.txt-center
    %header.txt-center
      %h1.header--red Notre spécialité, c’est ce résultat:
    %article.specialty.specialty-search#specialty-one
      %img{:src=>"../img/home-search.svg", :width=>"140", :height=>"140"}
      %h2.subhead--grey Pour qu’on vous trouve.
      %p Nous avons de fortes compétences en <a href="services.html">conception Web</a>, en <a href="services.html">développement Web</a>, en <a href="services.html">conception de sites adaptatifs</a>, en <a href="services.html">optimisation du référencement Web</a> et en <a href="services.html">marketing social</a>. Nous ferons en sorte que vos clients puissent facilement vous retrouver en ligne, nous rehausserons la fréquentation de votre site pour augmenter votre base de clientèle et nous vous rendrons beaucoup plus visible que vos concurrents. 
      .dotted-arrow

    %article.specialty#specialty-two
      %img.specialty-market{:src=>"../img/home-market.svg", :width=>"140", :height=>"140"}
      %h2.subhead--grey Le marketing de votre produit ou service.
      %p Votre offre est sans doute excellente, mais il vous faut aussi une <a href="services.html">stratégie innovante</a> appuyée par un ensemble de services de soutien pour vous assurer que votre produit passera de l’étagère aux mains du client. Avec une <a href="services.html">stratégie de marque</a> complète qui exploite des <a href="services.html">méthodes traditionnelles</a>, des <a href="services.html">outils numériques</a> et des méthodes de <a href="services.html">marketing social</a>, nous vous ferons passer du point A jusqu’aux objectifs lointains. 
      .dotted-arrow


    %article.specialty#specialty-three
      %img{:src=>"../img/home-money.svg", :width=>"140", :height=>"140"}
      %h2.subhead--grey Pour gagner de l’argent.
      %p Quand nous aurons tout mis en place, votre message atteindra le bon public, la fréquentation de la clientèle augmentera et vos revenus aussi. Nous ne créons pas le potentiel; nous le concrétisons et nous produisons des résultats. C’est prometteur? Certainement.

      %p <a href="services.html">C’est prometteur? Certainement.</a>


%section.l-module--spaced.border-bottom
  .l-container
    .video-wrapper
      <iframe id="videotarget" class="home-video" src="" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      #videotrigger
        %img{:src=>"../img/video-poster.jpg", :width => "1280", :height => "720"}    

%section.l-module--spaced
  .l-container--list
    %h1.header--grey.txt-center 
      %a.grey-link{:href=>"work.html"}
        %span Nos réalisations
    %ul.project-thumbnails
      %li.palladino
        %a{:href=>"palladino-auto-group.html"}
          %img{:src=>"../img/logos/palladinoautogroup.svg", :width=>"397", :height=>"257"}
      %li.lu
        %a{:href=>"laurentian-university.html"}
          %img{:src=>"../img/logos/laurentianuniversity.svg", :width=>"397", :height=>"257"}
      %li.musagetes
        %a{:href=>"musagetes.html"}
          %img{:src=>"../img/logos/musagetesfoundation.svg", :width=>"397", :height=>"257"}
      %li.helios
        %a{:href=>"helios.html"}
          %img{:src=>"../img/logos/helios.svg", :width=>"397", :height=>"257"}
      %li.carte
        %a{:href=>"carte-blanche-films.html"}
          %img{:src=>"../img/logos/carteblanchefilms.svg", :width=>"397", :height=>"257"}
      %li.bird
        %a{:href=>"bird-kingdom.html"}
          %img{:src=>"../img/logos/birdkingdom.png", :width=>"397", :height=>"257"}
      %li.carrefour
        %a{:href=>"carrefour.html"}
          %img{:src=>"../img/logos/carrefour.svg", :width=>"397", :height=>"257"}
      %li.tno
        %a{:href=>"tno.html"}
          %img{:src=>"../img/logos/tno.svg", :width=>"397", :height=>"257"}
      %li.fcr
        %a{:href=>"fcr.html"}
          %img{:src=>"../img/logos/fcr.svg", :width=>"397", :height=>"257"}
  .l-container--wide.txt-center.more-work
    <a href="work.html">Voir nos réalisations</a>

= partial "blog-teaser-fr"
= partial "project-crosslink-fr"



