---
title: "Koopdekour - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.koop
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Koopdekour
        %h2.intro-subhead.txt-white Pour toute entreprise qui aborde un marché saturé et extrêmement concurrentiel, une stratégie bien développée et une identité visuelle forte sont essentielles. Koupdekour, une entreprise de Toronto dans le domaine de la mode et des accessoires, a compris ceci dès le départ. Son nom, une adaptation du terme français « coup de cœur », décrit bien l’expérience des clientes qui découvrent ses produits.
        %i.txt-white Création d’une identité visuelle / Conception et développement de site Web (Shopify) / Intégration des médias sociaux
  

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Coup de cœur.
      %p.project-paragraph L’entreprise ne s’est pas contentée de se donner un nom original. Elle a montré que son ingéniosité va bien plus loin que cela, car elle s’organise comme une entreprise qui vend en ligne seulement. Cette stratégie lui évite les grosses dépenses et la portée limitée d’un magasin physique, ce qui lui permet d’investir ses économies dans la création d’une identité visuelle forte et un site Web attirant qui incite le client à le fréquenter souvent.

  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/kdk-1.jpg"}

  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/kdk-2.jpg"}


  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Magasiner à s’en épuiser.
      %p.project-paragraph Nous avons travaillé de près avec l’équipe de Koopdekour pour développer leur identité et créer l’expérience relaxe du magasinage virtuel qu’aucun magasin physique ne peut égaler. Que la cliente soit assise dans le confort de sa demeure ou sur la plage avec un iPad, la puissance de la technologie commerciale de Bureau et la beauté du site Web sur laquelle elle fonctionne ont déjà créé un noyau de clientes fidélisées, de sorte que Koupdekour est bien avancée dans la voie du succès.

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/kdk-3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/kdk-4.jpg"}
    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















