---
title: "Laurentian University - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.lu
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header--white Laurentian University
        %h2.intro-subhead.txt-white Laurentian University's Francophone Affairs and Education departments had a problem: the amount of new Francophone students enrolling in their programs was declining annually. Sensing their promotional material was slightly out of step with their target demographic, they came to Bureau for a strategic shift.
        %i.txt-white Visual identity design / Brand collateral / Marketing strategy / Website design and development
  
  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/lu-1.jpg"}
    .l-container--narrow
      %h2.header--grey Highlighting key points to develop a better strategy.
      %p.project-paragraph As Bureau's staff include exactly that demographic they wished to reach, we were uniquely positioned to help Laurentian develop and implement a new strategy with greater traction.



    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/lu-2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/lu-3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/lu-4.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/lu-5.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/lu-6.jpg"}

  .l-module--spaced.grey-bg  
    .l-container--narrow
      %h2.header--grey The finer the scope, the better the results.
      %p.project-paragraph Providing them with a new visual identity, greater brand collateral, an improved promotional strategy and a website to bring it all together, their recruitment has improved dramatically. It makes sense, then, that the Francophone Affairs and Education departments continue to turn to us for their marketing needs. Resonance, relevance and recognizance: Bureau delivers.
    .l-container--wide
      .video-wrapper
        <iframe class="home-video" src="http://player.vimeo.com/video/58720331?title=0&amp;byline=0&amp;portrait=0&amp;color=bb1a29" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/lu-7.png"}
  
  .l-module     
    %img.image--fullwidth{:src=>"img/portfolio/lu-9.jpg"}
  .l-module--wide.carrefour-grey
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/lu-8.jpg"} 

    .l-container--narrow  
      .l-module
        = partial "project-like"


= partial "project-crosslink"





