---
title: "Université Laurentienne - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.lu
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header--white Université Laurentienne
        %h2.intro-subhead.txt-white Le Bureau des affaires francophones et l’École des sciences de l’éducation de l’Université Laurentienne avaient un problème : les inscriptions dans leurs programmes diminuaient chaque année. Comme leur matériel promotionnel leur semblait pas très bien adapté à leur groupe cible, ils se sont adressés à Bureau pour opérer un changement stratégique.
        %i.txt-white Création d’une identité visuelle / Déploiement de marque / Stratégie de marketing / Conception et développement de site Web
  
  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/lu-1.jpg"}
    .l-container--narrow
      %h2.header--grey Accentuer des idées clés pour développer une stratégie améliorée.
      %p.project-paragraph Étant donné que le groupe démographique à cibler est bien représenté parmi le personnel de Bureau, nous étions particulièrement avantagés pour aider la Laurentienne à concevoir et à exécuter une nouvelle stratégie plus opérante.



    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/lu-2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/lu-3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/lu-4.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/lu-5.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/lu-6.jpg"}

  .l-module--spaced.grey-bg  
    .l-container--narrow
      %h2.header--grey Vision précise, visée meilleure.
      %p.project-paragraph Grâce à une nouvelle identité visuelle, un déploiement plus étendu de la marque, une stratégie promotionnelle améliorée et un site Web reliant le tout, les inscriptions ont connu une forte augmentation. C’est tout naturellement, alors, que le Bureau des affaires francophones et l’École des sciences de l’éducation de la Laurentienne continuent de se tourner vers nous pour leurs besoins en marketing. Résonance, pertinence et reconnaissance : Bureau vous les procure.
    .l-container--wide
      .video-wrapper
        <iframe class="home-video" src="http://player.vimeo.com/video/58720331?title=0&amp;byline=0&amp;portrait=0&amp;color=bb1a29" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/lu-7.png"}
  
  .l-module     
    %img.image--fullwidth{:src=>"../img/portfolio/lu-9.jpg"}
  .l-module--wide.carrefour-grey
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/lu-8.jpg"} 

    .l-container--narrow  
      .l-module
        = partial "project-like-fr"


= partial "project-crosslink-fr"





