---
title: "Laurentian University - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.musagetes
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header--white Laurentian University
        %h2.intro-subhead.txt-white Life without art is no life at all. Musagetes, an international organization whose mission is to bring art to a place of prominence in our lives and communities, understands this well. With strong presence in regions diverse as Canada, Italy and Croatia, Musagetes demonstrates that art can be participatory and socially engaging rather than just something to hang on a museum wall. This effort to connect our societies and art builds stronger communities by establishing a greater sense of belonging.
        %i.txt-white Visual identity design / Brand collateral / Marketing strategy / Website design and development
  
  .l-module      
    %img.image--fullwidth{:src=>"../img/portfolio/musagetes3.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph Selecting Bureau as their Greater Sudbury agency on record for a three year term, we've worked with the organization to bring the community together through a series of events designed to highlight the city's diverse and unique offering of attractions. Partnered every step of the way, from conceptualization to execution, we've ensured the success of these events by creating promotional strategies and stimulating materials which not only bring people in but perpetuate the experience long after the doors have closed.

    .l-container--wide
      %img{:src=>"../img/portfolio/appuous-4.jpg"}
    .l-container--narrow  
      %p.project-paragraph When Rotterdam artists Bik Van der Pol became entranced with the dark black rock which abounds in Sudbury, they conceptualized a project only a fresh set of eyes could imagine. A ubiquitous site in the region, something most people never give a second thought to connected with them and they spent a weekend investigating the possibility of restoring that rock to it's original condition. 

  
  .l-module.musagetes
    .l-container.txt-emph.txt-center
      %h1.header--white “Bureau provided us with the perfect combination of creative design, professional client relations, and prompt delivery.”
      %i.txt-white –Shawn Van Sluys, Executive Director, Musagetes Foundation


  %img.image--halfwidth{:src=>"../img/portfolio/musagetes2.jpg"}
  %img.image--halfwidth{:src=>"../img/portfolio/musagetes1.jpg"}
  .l-module--spaced
    .l-container--narrow
      %h2.header--grey The value this brought not only to our client, but our community.
      %p.project-paragraph We assisted with the promotion of that project in a serious way, coordinating with the media to ensure they received outstanding coverage. One of several examples of our successful collaboration, Musagetes is certain they made the right decision in coming to us.
      .l-module--wide
        = partial "project-like-fr"


= partial "project-crosslink-fr"



















