---
title: "Musagetes - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.musagetes
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header--white Musagetes
        %h2.intro-subhead.txt-white Sans art, la vie est appauvrie. Musagetes le sait bien, car c’est un organisme international dont la mission est de donner une large place aux arts dans nos vies et nos communautés. Par le dynamisme de sa présence dans des pays aussi divers que le Canada, l’Italie et la Croatie, Musagetes montre que l’art peut rayonner dans la participation et l’engagement social, plutôt que de se confiner dans les musées. Cette volonté de relier art et société renforce les communautés en renforçant en elles le sens de l’appartenance.
        %i.txt-white Conception et développement de site Web (Wordpress CMS) / Optimisation du référencement Web (SEO) / Intégration des médias sociaux / Déploiement de marque / Conception de publications / Stratégie de marketing

  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-1.jpg"}
    .l-container--narrow
      %h2.header--grey Sudbury, c’est diversifié.
      %p.project-paragraph Musagetes ayant choisi Bureau comme son agence attitrée dans le Grand Sudbury pour une période de trois ans, nous avons participé avec eux au ralliement de la communauté dans une série d’événements qui mettaient en relief la diversité et l’originalité des attraits de cette ville. Toujours en partenariat, étape par étape, de la conception à l’exécution, nous avons assuré le succès de ces événements en créant des stratégies promotionnelles et du matériel stimulant qui ont non seulement attiré des participants, mais aussi prolongé l’expérience longtemps après l’événement.

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-3.jpg"}
    
  .l-module--spaced.grey-bg
    .l-container--narrow
      %h2.header--grey AMS – YSB
      %p.project-paragraph Quand Bik Van der Pol, deux artistes de Rotterdam, ont découvert avec fascination les rochers noir foncé qui abondent dans le paysage sudburois, ils ont conçu un projet que seul un regard neuf pouvait voir. Un endroit comme bien d’autres dans la région, un lieu auquel la plupart des gens ne portent aucune attention, a piqué leur sensibilité, si bien qu’ils y ont passé une fin de semaine à explorer la possibilité de ramener ce roc à son état d’origine.
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-5.png"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-4.png"}
  .l-module.grey-bg
    .l-container
      .video-wrapper
        <iframe class="home-video" src="http://player.vimeo.com/video/28220321?title=0&amp;byline=0&amp;portrait=0&amp;color=bb1a29" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  .l-module--spaced.grey-bg  
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-6.png"}

  .l-module.musagetes
    .l-container.txt-emph.txt-center
      %h1.header--white « Bureau nous a fourni la combinaison parfaite de concepts créatifs, de relations client professionnelles et de prompte exécution des tâches. »
      %i.txt-white –Shawn Van Sluys, directeur général, Fondation Musagetes


  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-7.jpg"}
  .l-module
    .l-container--narrow
      %h2.header--grey Promouvoir un événement – en un seul jour.
      %p.project-paragraph Nous avons substantiellement aidé à promouvoir ce projet grâce à une coordination avec les médias qui lui assurait une couverture extraordinaire. Cela n’est qu’un exemple parmi d’autres du succès de notre collaboration. Musagetes est sûr d’avoir pris la bonne décision en nous approchant.
  .l-module--wide
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-8.jpg"}
  
  .l-module--spaced.txt-center 
    %img.image--fullwidth{:src=>"../img/portfolio/musagetes-9.jpg"}

    .l-module--spaced.musagetes
      .l-container--narrow
        %h2.header--white Portée : 4 883
        %i.txt-white La portée de Musagetes dans les réseaux sociaux était de 772 personnes au début de la campagne; elle est passée à 4 883 personnes à la fin de la campagne. C’est une augmentation de 626 % en deux semaines.

  
  .l-module
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-10.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-11.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-12.jpg"}
  .l-module--spaced.musagetes.txt-center
    .l-container--narrow
      %h2.header--white 1 109 % d’augmentation du nombre d’usagers engagés
      %i.txt-white Le réseau social de Musagetes comptait 11 usagers engagés au début de la campagne; on en comptait 122 à la fin de la campagne. C’est une augmentation de 1 109 % en deux semaines.
  .l-module
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-13.jpg"}
  .l-module--spaced.musagetes.txt-center
    .l-container--narrow
      %h2.header--white 110+ #betweenarock
      %i.txt-white 110+ impressions (commentaires) au mot-clic #betweenarock et 45 gazouillis retransmis (retweets) le jour de l’événement.

  
  .l-module    
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/musagetes-14.jpg"}
  .l-module--spaced
    .l-container--narrow
      = partial "project-like-fr"


= partial "project-crosslink-fr"
