---
title: "NIM Disposals - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.nim
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white NIM Disposals
        %h2.intro-subhead.txt-white NIM est un chef de file des services de gestion et de recyclage de déchets dans le nord de l’Ontario, à tel point que dans la région, les grosses bennes à déchets s’appellent communément des « NIMbins ». NIM a approché Bureau quand il lui fallait moderniser son site Web et mieux focaliser sa marque, en mettant l’accent sur ses efforts en vue d’assurer la beauté et la propreté de l’environnement par la bonne gestion des déchets.
        %i.txt-white Conception et développement de site Web (Wordpress CMS) / Conception de panneau publicitaire / Déploiement de marque
  
  %img.image--halfwidth{:src=>"../img/portfolio/nim_2.jpg"}
  %img.image--halfwidth{:src=>"../img/portfolio/nim_4.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Voir du beau dans les déchets.
      %p.project-paragraph Dans cet esprit, Bureau a développé un site Web qui explique et montre comment tout le monde, des petites familles aux grandes entreprises, récolte les avantages des services fournis par NIM. Notre stratégie était de mettre l’accent sur la vision de NIM, celle d’un environnement nord-ontarien propre et non pollué, au lieu de parler seulement de ces services. Cependant, le site Web contient toujours une foule d’informations sur les services que NIM fournit et il contient même un formulaire détaillé, mais facile à remplir, pour obtenir une estimation de coût.

  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/nim_1.jpg"}


  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Un atout abordable.
      %p.project-paragraph Le résultat de nos efforts est une augmentation chiffrable de l’utilisation des services de l’entreprise, ce qui aide à assurer sa viabilité financière tout en sensibilisant le public à son mandat.
    .l-container--wide
      %img.image--fullwidth{:src=>"../img/portfolio/nim_3.jpg"}

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















