---
title: "Palladino Auto Group - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.palladino
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Palladino Auto Group
        %h2.intro-subhead.txt-white The Palladino family are hard working entrepreneurs. A name synonymous with quality auto sales and care, they approached Bureau when they needed to unite their interests through the creation of a parent brand. With businesses including Palladino Honda, Palladino Autospa, Kitchener Hyundai and Kitchener Nissan, they wanted branding for the constituent companies as well as a parent brand to connect them all.
        %i.txt-white Visual identity design / Brand collateral / Website design and development (Wordpress CMS) / Search engine optimization (SEO) / Social media integration / Multiple videos to advertise Palladino Autospa's services / A custom, fully editable, newsletter
  
  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/palladino_1.jpg"}

  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/palladino_2.jpg"}
    .l-container--narrow
      %h2.header--grey Driven to perform.
      %p.project-paragraph We considered the family's storied history in the automotive industry and decided to create branding which honors that tradition. 

    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/palladino_3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/palladino_4.jpg"}

  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/palladino_5.jpg"}

  .l-module--spaced.grey-bg

    .l-container
      .video-wrapper--project
        <iframe class="home-video"  src="//www.youtube.com/embed/YJAq4l2D2Uw" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .video-wrapper--project  
        <iframe class="home-video"  src="//www.youtube.com/embed/NB0HQsvwck8" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .video-wrapper--project
        <iframe class="home-video"  src="//www.youtube.com/embed/AkhaE1VT5yc" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .video-wrapper--project  
        <iframe class="home-video"  src="//www.youtube.com/embed/kw-5f7ifR1I" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey A fresh coat of paint.
      %p.project-paragraph The new parent brand, Palladino Auto Group, is represented by an emblem that features a stylized speedometer which immediately communicates both their foothold in the auto industry and the pace at which they're growing.
    .l-container.txt-center
      %img{:src=>"../img/portfolio/palladino_6.jpg"}

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















