---
title: "Palladino Auto Group - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.palladino
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Palladino Auto Group
        %h2.intro-subhead.txt-white La famille Palladino est une famille d’entrepreneurs vaillants. Dans le secteur de l’automobile, leur nom est synonyme de qualité en matière de services de vente et d’entretien. Le groupe Palladino a approché Bureau lorsqu’il avait besoin d’une bannière commerciale commune pour sa gamme d’entreprises: Palladino Honda, Palladino Autospa, Kitchener Hyundai et Kitchener Nissan. Il fallait une marque individuelle pour chacune des entreprises, ainsi qu’une marque générale pour l’ensemble du groupe commercial.
        %i.txt-white Création d’une identité visuelle / Déploiement de marque / Conception et développement de site Web (Wordpress CMS) / Optimisation du référencement Web (SEO) / Intégration des médias sociaux / Vidéos multiples annonçant les services de Palladino Autospa / Création d’un bulletin adapté et entièrement modifiable
  
  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/palladino_1.jpg"}

  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/palladino_2.jpg"}
    .l-container--narrow
      %h2.header--grey La volonté du dépassement.
      %p.project-paragraph Inspirés par la riche histoire de cette famille dans l’industrie de l’automobile, nous avons décidé de créer une marque qui rend hommage à cette tradition.

    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/palladino_3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/palladino_4.jpg"}

  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/palladino_5.jpg"}

  .l-module--spaced.grey-bg

    .l-container
      .video-wrapper--project
        <iframe class="home-video"  src="//www.youtube.com/embed/YJAq4l2D2Uw" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .video-wrapper--project  
        <iframe class="home-video"  src="//www.youtube.com/embed/NB0HQsvwck8" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .video-wrapper--project
        <iframe class="home-video"  src="//www.youtube.com/embed/AkhaE1VT5yc" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .video-wrapper--project  
        <iframe class="home-video"  src="//www.youtube.com/embed/kw-5f7ifR1I" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Peint à neuf.
      %p.project-paragraph La nouvelle marque générale, Palladino Auto Group, est représentée par un graphique qui évoque un indicateur de vitesse. Cet emblème indique en un coup d’œil l’appartenance du groupe d’entreprises à l’univers de l’automobile et il évoque aussi la rapidité de son expansion.
    .l-container.txt-center
      %img{:src=>"../img/portfolio/palladino_6.jpg"}

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















