---
title: "Pathstone Mental Health - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.pathstone
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Pathstone Mental Health
        %h2.intro-subhead.txt-white Dans le domaine de la santé mentale, les connaissances et les traitements ont énormément évolué au cours des dernières décennies. La clinique de santé mentale Pathstone dans la région du Niagara incarne bien ce progrès, mais son ancien site Web ne réussissait pas à le montrer aussi bien que possible, à son avis... et au nôtre.
        %i.txt-white Conception et développement de site Web (Drupal CMS) / Intégration des médias sociaux

  .l-module--spaced
    .l-container--narrow.txt-center
      %img.image{:src=>"../img/portfolio/pathstone-1.jpg"}
    .l-container--narrow
      %h2.header--grey La santé mentale est un sujet délicat.
      %p.project-paragraph Bureau a traité de ce problème en livrant un nouveau site Web qui prend en considération les besoins de la clientèle à servir. Avec sensibilité à l’égard du mandat de l’organisme, nous avons mis un grand soin à développer le nouveau site Web. Il est clair, concis et facile à utiliser, tant pour les visiteurs que le personnel.


    .l-container--wide.txt-center
      %img.image{:src=>"../img/portfolio/pathstone-2.jpg"}


    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/pathstone-3.jpg"}
    .l-container--wide.txt-center
      %img.image{:src=>"../img/portfolio/pathstone-4.jpg"}

  .l-module      
    %img.image--fullwidth{:src=>"../img/portfolio/pathstone-7.jpg"}

  .l-module--wide.grey-bg
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/pathstone-6.png"}
    .l-container--narrow.txt-center.project-paragraph
      %i La stratégie de marketing a été conçue par Terry O’Reilly, ce qui était assez intimidant. Mais nous l’avons exécutée.
    .l-container--narrow
      %h2.header--grey Sur les épaules de géants.
      %p.project-paragraph Pour présenter efficacement toute la gamme de services qu’offre Pathstone, tous ses départements ont la capacité de réviser et d’augmenter chaque section, de sorte que l’information demeure toujours pertinente et à jour. Nous avons amélioré la capacité d’établir des liens avec les personnes qu’elle sert, en facilitant les contacts grâce à l’intégration complète des médias sociaux dans son site Web.

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















