---
title: "Pilates Pro - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.pilates
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Pilates Pro
        %h2.intro-subhead.txt-white Pilates Pro est un centre de réadaptation au centre-ville de Sudbury qui a approché Bureau pour établir sa marque et développer son site Web. L’approche Pilates offre un mélange unique de tranquillité mentale et de tonification physique qui repose sur six principes : concentration, contrôle, centrage, fluidité, précision, respiration.
        %i.txt-white Création d’une identité visuelle / Déploiement de marque / Conception et développement de site Web (Wordpress CMS) / Site Web adaptatif / Intégration de médias sociaux
  

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Trouver l’équilibre.
      %p.project-paragraph Nous avons créé une image de marque et un site Web qui épousent les principes de Pilates. Notre site manifeste subtilement le calme que la méthode Pilates apporte à ses adeptes tandis qu’il leur explique les avantages que la fréquentation du centre peut leur procurer. Le site permet de fixer des rendez-vous, de consulter le calendrier des classes et d’interagir avec Pilates Pro grâce à l’intégration du canal des médias sociaux. La seule chose que Bureau n’a pas pu y inclure est un chauffeur pour conduire les clients aux séances!
      %p.project-paragraph Les résultats ont été si probants que l’entreprise utilise sa nouvelle image de marque partout, comme sur les murs du studio, la signalisation, la papeterie et les médias sociaux.
  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/pilatespro_1.jpg"}

  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/pilatespro_6.jpg"}
  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/pilatespro_2.jpg"}

    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/pilatespro_3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/pilatespro_4.jpg"}
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/pilatespro_5.jpg"}


  .l-module--spaced
    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















