---
title: "Pilates Pro - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.pilates
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Pilates Pro
        %h2.intro-subhead.txt-white Pilates Pro is a rehabilitation and conditioning center in Sudbury's urban centre, and when they needed to establish their brand and develop a website, they came to Bureau. The art of Pilates offers a unique blend of mental tranquillity and physical enhancement conducted in line with its six principles of concentration, control, centre, flow, precision and breathing.
        %i.txt-white Visual identity design / Brand collateral / Website design and development (Wordpress CMS) / Responsive design / Social media integration
  

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Finding a balance.
      %p.project-paragraph We created both branding and a website which embraced the Pilates principles. Subtly communicating the calmness Pilates affords its adherents, our site explains the services offered and the benefits new customers can expect from their patronage. With the ability to book appointments, follow the class calendar and interact with Pilates Pro through an integrated social media conduit, the only thing Bureau couldn't do was drive the customers to their sessions.
      %p.project-paragraph The results were so effective that the company has used their new branding on everything from the studio space to signage, from stationery to social media.
  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/pilatespro_1.jpg"}

  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/pilatespro_6.jpg"}
  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/pilatespro_2.jpg"}

    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/pilatespro_3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/pilatespro_4.jpg"}
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/pilatespro_5.jpg"}


  .l-module--spaced
    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















