---
title: "Profil - Bureau"
---

- @body_class = 'page-profile'
- @page_class = ''
%section.l-module.border-bottom
  .bureau-image
    %h1.header--grey.profile-header.txt-center Nous sommes Bureau.
  .l-module--wide
    .l-container--wide 
      %article.two-thirds.fl.profile-intro
        %h1.subhead--grey
          Nous sommes une entreprise de communications numériques établie à Sudbury (Ontario) et nous sommes heureux de faire votre connaissance.
        %p
          Jeune, informée, ingénieuse et créative, notre équipe connaît et comprend les technologies et les comportements communicationnels les plus récents. Nous connaissons les nouvelles tendances, car en fait, nous les introduisons. Alors que les communications évoluent à un rythme effréné, nos habiletés nous permettent de voir clair dans ce qui est « tout nouveau tout beau », de cerner et d’appliquer son potentiel et de mettre ce savoir à votre service pour augmenter vos revenus.

        %p
          Nous sommes l’agence de marketing nord-ontarienne qui connaît la plus forte expansion, avec plus d’une centaine de clients en moins de quatre ans. Notre spécialité, c’est le développement de stratégies qui combinent le marketing et la gestion de marque traditionnels avec les médias sociaux émergents. Chefs de file dans le domaine de la conception, nous comprenons l’importance de la créativité axée sur l’atteinte de résultats.
        %a{:href=>"services.html"}
          %span Voir la liste complète de nos services.

      %img.one-third.fr{:src=>"../img/profile-logos.jpg"}  

%section.l-module--wide
  .l-container--thin
    %h1.subhead--grey.txt-center Notre équipe
  .l-container--list 
    %article.people
      %img{:src=>"../img/profile-8.jpg"}
      %h2 François Chartrand RGD
      %p Chargé de clientèle
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      .follow-btns
        <a href="https://www.twitter.com/frankchartrand" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @frankchartrand</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/profile/view?id=18111298", :target=>"blank"}
          %img{:src=>"../img/linkedin-fr.png"}

    %article.people
      %img{:src=>"../img/profile-6.jpg"}
      %h2 Nicolas Taus, Prov. RGD
      %p Directeur de création
      %a{:href=>"mailto:nico@bureau.ca"}
        %span nico@bureau.ca
      .follow-btns
        <a href="https://twitter.com/bureaunico" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @bureaunico</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/in/nicotaus", :target=>"blank"}
          %img{:src=>"../img/linkedin-fr.png"}

    %article.people
      %img{:src=>"../img/profile-5.jpg"}
      %h2 Réal Fortin RGD
      %p Expert-conseil principal
      %a{:href=>"mailto:real@bureau.ca"}
        %span real@bureau.ca
      .follow-btns
        <a href="https://twitter.com/rfortin" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @rfortin</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/in/after55", :target=>"blank"}
          %img{:src=>"../img/linkedin-fr.png"}

    %article.people
      %img{:src=>"../img/profile-4.jpg"}
      %h2 Matt Southern
      %p Stratège du numérique
      %a{:href=>"mailto:matt@bureau.ca"}
        %span matt@bureau.ca
      .follow-btns
        <a href="https://twitter.com/mattsouthern" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @mattsouthern</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/pub/matt-southern/36/18a/568", :target=>"blank"}
          %img{:src=>"../img/linkedin-fr.png"}

    %article.people
      %img{:src=>"../img/profile-7.jpg"}
      %h2 Terrie Barksey
      %p Concepteur en interactivité
      %a{:href=>"mailto:terrie@bureau.ca"}
        %span terrie@bureau.ca
      .follow-btns
        <a href="https://twitter.com/terriebarksey" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @terriebarksey</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/in/terriebarksey", :target=>"blank"}
          %img{:src=>"../img/linkedin-fr.png"}

    %article.people
      %img{:src=>"../img/profile-9.jpg"}
      %h2 Kate Lafantaisie
      %p Assistante de direction
      %a{:href=>"mailto:kate@bureau.ca"}
        %span kate@bureau.ca
      .follow-btns
        <a href="http://www.twitter.com/katelafant" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @katelafant</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/profile/view?id=251559885", :target=>"blank"}
          %img{:src=>"../img/linkedin-fr.png"} 
          
    %article.people
      %img{:src=>"../img/profile-2.jpg"}
      %h2 Christian Pelletier
      %p Stratège et concepteur
      %a{:href=>"mailto:christian@bureau.ca"}
        %span christian@bureau.ca
      .follow-btns
        <a href="https://twitter.com/nixian" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @nixian</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/profile/view?id=11782457", :target=>"blank"}
          %img{:src=>"../img/linkedin-fr.png"} 

    %article.people
      %img{:src=>"../img/profile-3.jpg"}
      %h2 Rob Roy
      %p Directeur de projet
      %a{:href=>"mailto:rob@bureau.ca"}
        %span rob@bureau.ca
      .follow-btns
        <a href="https://twitter.com/robroyvideo" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @robroyvideo</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/profile/view?id=243705353", :target=>"blank"}
          %img{:src=>"../img/linkedin-fr.png"} 





  .l-module--wide 
    .l-container--list.past
      %p <span class="txt-bold">Membres de l'équipe présent et passée</span> Scott Savarie, Martin Boisramé, Roxanne Langemann, Devin Sager, Félix Hallée-Théoret, Brett Lair, Chad Weiss, Denver Dewar, and Matthew Lehtelä.




%section.l-module--wide.grey-bg
  .l-container--thin
    %h1.subhead--grey.txt-center MANIFESTE
  .l-container--wide 
    %ol.manifesto-list
      %li
        %h2 La différence
        %p Dans un océan de conformisme, l’innovation et le défi mènent au succès. 
      %li
        %h2 L’adaptation
        %p Toutes les formes de vie sur la Terre ont un principe en commun : il faut s’adapter pour prospérer. Ayez toujours un parapluie dans votre sac.

      %li
        %h2 Le défi
        %p Ce qui s’obtient aisément se perd facilement. Les avantages les plus précieux sont les plus difficiles à détenir.
      %li
        %h2 Le plaisir
        %p La vie sans plaisir, c’est tout simplement l’ennui. Il faut rire et chanter fort, danser et courir à fond de train et faire battre son cœur un peu plus vite chaque jour.
      %li
        %h2 Le revenu
        %p Dans trop d’entreprises, on baisse le ton pour parler du revenu. L’argent, parlez-en. Sinon, votre affaire n’est pas une entreprise.
      %li
        %h2 La méthode
        %p Avant d’avoir conté la première histoire du monde, nous avons d’abord créé le langage. Avant la découverte du nouveau monde, les marins ont bâti des vaisseaux. Avant le premier voyage dans l’espace, nous avons bâti des fusées.
      %li
        %h2 Le respect
        %p Le respect, c’est une pratique plutôt qu’un principe. C’est une philosophie gravée dans les actes plutôt que les paroles.
      %li
        %h2 La pertinence
        %p Pour façonner notre avenir, nous devons connaître notre passé et comprendre le présent.
      %li
        %h2 La créativité
        %p L’invention et l’innovation distinguent l’exceptionnel du médiocre.
      %li
        %h2 Travail
        %p Le travail acharné transforme l’inspiration en invention.

    


    




= partial "project-crosslink-fr"



