---
title: "RE/MAX - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.remax
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white RE/MAX
        %h2.intro-subhead.txt-white L’immobilier est un domaine exigeant. Tant les acheteurs que les vendeurs s’attendent à beaucoup de leurs agents. Ted Boldt, un agent immobilier de la région du Niagara, voulait rehausser son profil et ses ventes au moyen d’un nouveau site Web qui montrerait sa volonté de faire le maximum et qui inciterait les visiteurs à y revenir. 
        %i.txt-white Conception et développement de site Web (Drupal CMS) / Intégration des médias sociaux
  
  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/remax-1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Trouver une maison, ce n’est pas facile.
      %p.project-paragraph L’achat d’une maison peut devenir un processus complexe pour la plupart des gens, donc Ted voulait avoir un site qui l’aiderait à simplifier les choses. Il avait besoin de pouvoir créer rapidement et facilement de nouvelles descriptions de propriétés en s’assurant d’établir un niveau de confort idéal avec l’acheteur tout en fournissant autant d’information que possible.


    .l-container--wide.txt-center
      %img.image{:src=>"../img/portfolio/remax-2.jpg"}

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/remax-3.jpg"}
    .l-container--narrow
      %h2.header--grey Faire des liens pertinents.
      %p.project-paragraph Notre réponse à sa demande a été de produire un site Web avec une plateforme qui permettrait à Ted d’ajouter sans peine autant de contenu que le client aurait besoin de retrouver dans une description, en y intégrant des données extraites directement du système de descriptions immobilières bien connu qu’est MLS. Ted peut y ajouter au besoin du texte, des vidéos et des photos et tout éditer pour représenter parfaitement ses propriétés et relier le vendeur avec l’acheteur idéal. Son site Web étant articulé avec sa présence dans les médias sociaux, il peut maintenant établir facilement des liens pertinents entre les clients et les acheteurs potentiels.

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















