---
title: "RGD Ontario - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.palladino
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white RGD Ontario
        %h2.intro-subhead.txt-white Nous sommes une entreprise de conception, donc c’est avec un plaisir particulier que nous avons travaillé avec RGD Ontario. Nous avons prêté la main à une collaboration entre RGD Ontario et la Sudbury Design Society qui avait pour titre LateralThinkers. Il s’agit d’un congrès virtuel respectueux de l’environnement, diffusé à partir de Sudbury vers des emplacements satellites à Vancouver, à Ottawa et à Toronto.

        %i.txt-white Stratégie d’événement / Promotion d’événement / Coordination d’événement / Conception et développement de site Web (Wordpress CMS) / Conception d’affiches et de documents imprimés
  
  .l-module 
    %img.image--fullwidth{:src=>"../img/portfolio/rgd-1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Se brancher sur de nouvelles idées.
      %p.project-paragraph Au cours des trois années successives où nous avons aidé à promouvoir et à produire l’événement LateralThinkers, nous avons réalisé un concept axé sur le réseautage, la durabilité, les efforts collaboratifs et plusieurs nouvelles idées. Le symbolisme habituel qui sert à exprimer le processus de la conception nous semblant un peu usé, nous avons trouvé de nouvelles façons de représenter des aspects essentiels du processus du remue-méninges et de la pensée innovante qui devient réalité en se délestant des clichés.
      %p.project-paragraph Dans ce premier congrès du domaine de la conception dans le nord de l’Ontario, des concepteurs de renommée internationale ont prononcé des conférences en direct sur Skype pour un public de pairs diversifiés. Parmi ces conférenciers et conférencières, il y avait Wally Olins de Saffron au Royaume-Uni, l’illustrateur américain Frank Chimero, Paddy Harrington de Bruce Mau Design et d’Indigo, Erik Spiekermann de la firme allemande Edenspiekermann , Paula Scher de la firme Pentagram de New York et Vince Frost de la firme australienne Frost Design.

    .l-container--wide.txt-center
      %img.image{:src=>"../img/portfolio/rgd-2.jpg"}

    .l-container.txt-center
      %img{:src=>"../img/portfolio/rgd-3.jpg"}
  .l-module--wide.grey-bg
    .l-container--narrow
      %h2.header--grey Inspirer la génération montante.
      %p.project-paragraph Notre but en réalisant cette initiative avec RGD Ontario était de fournir aux étudiants et aux étudiantes de l’inspiration et de l’information, en leur montrant les multiples possibilités qui s’ouvrent à eux dans une carrière en conception. Il semble que nous ayons eu le résultat voulu, car nombre d'entre eux ont persévéré et réussi dans une carrière qui les passionne.

    .l-container--wide.txt-center
      %img.image{:src=>"../img/portfolio/rgd-4.jpg"}

    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/rgd-5.jpg"}

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















