---
title: "Services - Bureau"
---

- @body_class = 'page-services'
- @page_class = ''

%section.l-module--spaced.border-bottom
  .l-container
    %header.txt-center
      %h1.header--grey Nous aimons notre travail. Vous l’aimerez aussi.
      %h2.intro-subhead Nous développons des conceptions dynamiques fondées sur des stratégies et des recherches. Nous croyons en une approche collaborative du marketing: nous travaillons étroitement avec nos clients pour créer des expériences intégrales.
%section.l-module--spaced
  .l-container.txt-center
    %article.specialty
      %img{:src=>"../img/services-devices.svg", :width=>"140", :height=>"140"}
      %h2.header--red Les outils numériques
      %ul
        %li Conception de site Web
        %li Développement Web
        %li Interactivité
        %li Optimisation du référencement Web
        %li Interface utilisateur
        %li Marketing social
        %li Marketing numérique
        %li Développement d’applications
        %li Commerce en ligne
        %li Hébergement de site Web
 
    %article.specialty
      %img{:src=>"../img/services-speech.svg", :width=>"140", :height=>"140"}
      %h2.header--red Les communications
      %ul
        %li Identité visuelle / marque
        %li Production vidéo
        %li Conception d’emballage
        %li Revues et livres
        %li Rendu architectural
        %li Orientation et signalisation
        %li Bulletins
        %li Développement de contenu
        %li Traduction
        %li Impression

    %article.specialty
      %img{:src=>"../img/services-gears.svg", :width=>"140", :height=>"140"}
      %h2.header--red Les stratégies
      %ul
        %li Plans de communication
        %li Plans de marketing
        %li Développement stratégique
        %li Ateliers* et formation
        %li Développement de campagne
        %li Conception et production
        %li Guides des normes
        %li Audit de marque
        %li Consultation
        %li Planification d’événements
  .l-container.txt-center.services-note
    %aside
      %p <span>*</span> Nous offrons aussi d’excellents ateliers, de même que des conférences sur divers sujets comme la stratégie de marque et le marketing social. Nous avons les qualifications, l’expérience et l’interaction avec le consommateur d’aujourd’hui. <a href="worksheet.html">Communiquez avec nous</a> pour savoir pourquoi on nous invite régulièrement à prendre la parole dans des congrès et à animer des groupes. Le prix de base d’un atelier est de 3 000 $ par jour.


= partial "blog-teaser-fr"
= partial "project-crosslink-fr"


