---
title: "St. Andrew's - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.standrews
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white St. Andrew's
        %h2.intro-subhead.txt-white Quand on tente de communiquer avec une entreprise, mais qu’on joint par erreur une autre entreprise au nom semblable, la confusion est frustrante. Imaginez alors comment cette frustration doit être pire pour les entreprises en question.
        %i.txt-white Création d’une identité visuelle / Déploiement de marque / Conception et développement de site Web (Wordpress CMS) / Intégration des médias sociaux
  

  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"../img/portfolio/standrews_2.jpg"}
    .l-container--narrow
      %h2.header--grey Croissance spirituelle, développement communautaire, transformation personnelle.
      %p.project-paragraph La place St. Andrew’s et l’église St. Andrews sont deux organismes distincts, mais au sein d’un même ensemble, donc amener le public à bien les distinguer était un sacré défi. Heureusement, chez Bureau, nous aimons bien les sacrés défis.
      %p.project-paragraph L’église et la place St. Andrew’s partagent un même édifice (mais non une même mission) au 111, rue Larch à Sudbury. Il nous fallait une stratégie soigneusement conçue pour distinguer leurs pratiques tout en conservant les éléments qui les unissent. Nous devions rafraîchir leur image et rappeler aux Sudburois les excellents services qui s’y trouvent au cœur du centre-ville.
  .l-module  
    %img.image--fullwidth{:src=>"../img/portfolio/standrews_1.jpg"}
    .l-module--spaced
      .l-container--narrow
        %p.project-paragraph Nous avons d’abord créé un symbole évocateur d’une ambiance urbaine qui pourrait servir aux deux organismes. Pour qu’ils puissent réaffirmer et conserver leur pertinence, nous avons poussé plus loin la modernisation de leur identité respective en créant pour eux une nouvelle image de marque, que la revue Design Edge a reconnue comme une des meilleures refontes de logo au Canada en 2011.
      .l-container--wide.txt-center
        %img{:src=>"../img/portfolio/standrews_3.jpg"}


 
  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/standrews_4.jpg"}
  .l-module
    %img.image--fullwidth{:src=>"../img/portfolio/standrews_5.jpg"}

  .l-module.standrews
    .l-container.txt-emph.txt-center
      %h1.header--white « Bureau fait preuve d’un grand souci du détail, respecte les échéances et répond rapidement aux questions. »
      %i.txt-white –Deb McIntosh, trésorière, St. Andrew’s Place


  .l-module--spaced
    .l-container--narrow
      %p.project-paragraph « Alors que de nombreux logos recherchent l’énergie et le mouvement, cette refonte de logo exprime la tranquillité et la réflexion. Le A majuscule modifié évoque quelque peu le toit en flèche d’une église. La croix bleue complète cet effet et sa teinte particulière apporte au symbole son aspect de tranquillité. Le corps léger de la police Gotham apporte une touche moderne en équilibre avec les empattements du A. Ce logo renouvelé montre qu’une institution religieuse peut se donner un logo moderne qui atteint l’équilibre souhaitable entre le décorum requis et le design efficace. »
      %i –Phillip Unger, Method Branding et Ontario College of Art and Design
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/standrews_6.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/standrews_7.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"../img/portfolio/standrews_8.jpg"}
    .l-container--narrow
      %h2.header--grey Nous sommes très fiers de cet hommage.
      %p.project-paragraph Nous avons non seulement rafraîchi l’image de marque de ces organismes, mais nous y avons agencé de la signalisation, des bannières pour l’édifice, de même qu’un nouveau site Web et une nouvelle présence dans les médias sociaux qui présentent simplement et brièvement leurs services. De plus, Bureau a conçu une image de marque qui figure sur la façade de l’édifice au cœur du centre-ville de Sudbury. Le résultat de nos efforts est la notoriété et l’utilisation accrues et toujours croissantes des services de ces organismes, sans oublier la clarté de la distinction entre la place St. Andrew’s et l’église St. Andrew’s. Nous continuons toujours de répondre à leurs besoins en matière de conception et de marketing.


    .l-container.txt-center
      %img.image{:src=>"../img/portfolio/standrews_9.jpg"}
    .l-container--narrow.txt-center.project-paragraph
      %i En vedette dans la section ReLogo de la revue DesignEdge Canada, à côté d’agences comme Shikatani Lacroix et Bleu Blanc Rouge.

    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"














