---
title: "Théâtre du Nouvel-Ontario - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.tno
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Théâtre du Nouvel-Ontario
        %h2.intro-subhead.txt-white Le Théâtre du Nouvel-Ontario a été le premier théâtre francophone du nord de l’Ontario et sa présence artistique dans la région remonte à plus de 40 ans. Nous avons commencé à travailler avec le TNO à l’occasion de son 40 en nous inspirant de la tradition populaire dans la région qui consiste à installer 40 flamants roses sur la pelouse d’une personne qui célèbre son 40 anniversaire, e anniversaire. e
        %i.txt-white Stratégie / Conceptualisation et scénario-maquette pour des publicités / Tournage / Édition et production

  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/tno_1.jpg"}
    .l-container--narrow
      %h2.header--grey Flamants roses.
      %p.project-paragraph Nous avons créé un élément polyvalent qui pouvait servir aux médias traditionnels aussi bien qu’aux médias nouveaux : peindre les flamants en vert, c’est une façon simple d’intégrer la marque dans la campagne, avec comme petite touche finale les bombes aérosol de peinture Pantone faites sur mesure.

    .l-container
      .video-wrapper--project  
        <iframe class="home-video" src="http://player.vimeo.com/video/28937349?title=0&amp;byline=0&amp;portrait=0&amp;color=7ac142" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .video-wrapper--project
        <iframe class="home-video" src="http://player.vimeo.com/video/49210935?title=0&amp;byline=0&amp;portrait=0&amp;color=7ac142" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    .l-container--narrow
      %h2.header--grey Provoquer une vague.
      %p.project-paragraph Le Théâtre du Nouvel-Ontario compte sur Bureau depuis maintenant trois ans, période pendant laquelle nous avons produit leurs annonces télévisuelles et leurs vidéos pour les médias sociaux, y compris une annonce axée sur le fameux thème des flamants. L’apparition de flamants verts en des endroits particuliers un peu partout dans le Grand Sudbury a piqué la curiosité partout en ville, donc la campagne a soulevé l’intérêt pour les annonces même avant leur diffusion. Dans des campagnes qui ont suivi, nous avons utilisé des trames sonores conçues par notre firme et d’autres touches créatives, conçues de manière à susciter dans l’esprit du spectateur un intérêt qui ne fléchit pas jusqu’à ce qu’il soit enfin assis dans un fauteuil du TNO.
    .l-container--narrow
      = partial "project-like-fr"



= partial "project-crosslink-fr"



















