---
title: "Work - Bureau"
---

- @body_class = 'page-work'
- @page_class = ''

%section.l-module--wide
  .l-container--wide
    %h1.header--grey.txt-center Our work
    %h2.intro-subhead.txt-center 
      We help brands get discovered by their future customers. 
      %a{:href=>"services.html"}
        %span See our services.
  .l-container--list
    %ul.project-thumbnails
      %li.palladino
        %a{:href=>"palladino-auto-group.html"}
          %img{:src=>"../img/logos/palladinoautogroup.svg", :width=>"397", :height=>"257"}
      %li.lu
        %a{:href=>"laurentian-university.html"}
          %img{:src=>"../img/logos/laurentianuniversity.svg", :width=>"397", :height=>"257"}
      %li.musagetes
        %a{:href=>"musagetes.html"}
          %img{:src=>"../img/logos/musagetesfoundation.svg", :width=>"397", :height=>"257"}
      %li.helios
        %a{:href=>"helios.html"}
          %img{:src=>"../img/logos/helios.svg", :width=>"397", :height=>"257"}
      %li.carte
        %a{:href=>"carte-blanche-films.html"}
          %img{:src=>"../img/logos/carteblanchefilms.svg", :width=>"397", :height=>"257"}
      %li.bird
        %a{:href=>"bird-kingdom.html"}
          %img{:src=>"../img/logos/birdkingdom.png", :width=>"397", :height=>"257"}
      %li.carrefour
        %a{:href=>"carrefour.html"}
          %img{:src=>"../img/logos/carrefour.svg", :width=>"397", :height=>"257"}
      %li.tno
        %a{:href=>"tno.html"}
          %img{:src=>"../img/logos/tno.svg", :width=>"397", :height=>"257"}
      %li.fcr
        %a{:href=>"fcr.html"}
          %img{:src=>"../img/logos/fcr.svg", :width=>"397", :height=>"257"}
      %li.boma
        %a{:href=>"city-of-greater-sudbury.html"}
          %img{:src=>"../img/logos/sudbury.png", :width=>"397", :height=>"257"}
      %li.cafe
        %a{:href=>"cafe-petit-gateau.html"}
          %img{:src=>"../img/logos/cafe.svg", :width=>"397", :height=>"257"}
      %li.standrews
        %a{:href=>"st-andrews.html"}
          %img{:src=>"../img/logos/standrews.svg", :width=>"397", :height=>"257"}
      %li.ican
        %a{:href=>"ican.html"}
          %img{:src=>"../img/logos/ican.svg", :width=>"397", :height=>"257"}
      %li.remax
        %a{:href=>"remax.html"}
          %img{:src=>"../img/logos/remax.svg", :width=>"397", :height=>"257"}
      %li.ottawa
        %a{:href=>"east-ottawa-midwives.html"}
          %img{:src=>"../img/logos/eastottawamidwives.svg", :width=>"397", :height=>"257"}
      %li.boma
        %a{:href=>"boma.html"}
          %img{:src=>"../img/logos/bomaafrica.svg", :width=>"397", :height=>"257"}
      %li.koop
        %a{:href=>"koopdekour.html"}
          %img{:src=>"../img/logos/koopdekour.png", :width=>"397", :height=>"257"}
      %li.rgd
        %a{:href=>"rgd-ontario.html"}
          %img{:src=>"../img/logos/rgdontario.svg", :width=>"397", :height=>"257"}
      %li.pathstone
        %a{:href=>"pathstone.html"}
          %img{:src=>"../img/logos/pathstone.svg", :width=>"397", :height=>"257"}
      %li.pilates
        %a{:href=>"pilates-pro.html"}
          %img{:src=>"../img/logos/pilatespro.svg", :width=>"397", :height=>"257"}
      %li.culturel
        %a{:href=>"centre-culturel-frontenac.html"}
          %img{:src=>"../img/logos/ccf.svg", :width=>"397", :height=>"257"}
      %li.hideaway
        %a{:href=>"hideaway-pictures.html"}
          %img{:src=>"../img/logos/hideawaypictures.svg", :width=>"397", :height=>"257"}
      %li.boma
        %a{:href=>"central-manitoulin.html"}
          %img{:src=>"../img/logos/manitoulin.png", :width=>"397", :height=>"257"}
      %li.nim
        %a{:href=>"nim.html"}
          %img{:src=>"../img/logos/nim.svg", :width=>"397", :height=>"257"}

= partial "project-crosslink-fr"