---
title: "Tableau de projet - Bureau"

---

- @body_class = 'page-worksheet'
- @page_class = ''


%section.l-module--wide 
  .l-container--narrow
    %h1.header--grey.txt-center Tableau de projet
    %h2.intro-subhead.txt-center.worksheet-intro 
      Veuillez remplir un tableau de projet afin d’accélérer le processus d’analyse de vos besoins. Si vous préférez, vous pouvez simplement
      %a{:href=>"mailto:bonjour@bureau.ca"}
        %span communiquer avec nous directement.

    %form{ :novalidate => "", :method => "post", :action => "worksheet-form-handler.php", :id => "worksheet-form", "data-validate" => "parsley", "data-error-container"=>"#workform-errors"}
      %fieldset
        %input{ :type => "name", :class => "input-field", :name => "name", :placeholder => "Votre nom au complet", :required => "required", "data-error-message" =>"Votre nom"}
        %input{ :type => "email", :class => "input-field", :name => "email", :placeholder => "Votre adresse électronique", :required => "required", "data-error-message" =>"Votre adresse électronique" }
        %input{ :type => "tel", :class => "input-field", :name => "tel", :placeholder => "Votre numéro de téléphone", :required => "required", "data-error-message" =>"Votre numéro de téléphone!"}
        %input{ :type => "text", :class => "input-field", :name => "text", :placeholder => "Votre entreprise", :required => "required", "data-error-message" =>"Votre entreprise!"}
        %input{ :type => "text", :class => "input-field", :name => "project", :placeholder => "De quel type de projet s’agit-il?", :required => "required", "data-error-message" =>"De quel type de projet s’agit-il?"}
        %input{ :type => "text", :class => "input-field", :name => "timeframe", :placeholder => "Quelles sont vos échéances?", :required => "required", "data-error-message" =>"Quelles sont vos échéances?"}
        %textarea{ :class => "input-field--message", :name => "message", :placeholder => "Votre message…", :required => "required", "data-error-message" =>"Votre message…"}
        %input{ :type => "submit", :name => "submit", :id => "submit", :class => "btn-primary", :value => "Soumettre"}
        .working-with.contact-bg
          %span#working-with-close 
            +
          %span#working-with-trigger 
            Travailler avec Bureau
          %ul.working-with-list#working-with-list
            %li.txt-bold Pour réaliser un excellent projet, il faut y mettre du temps. 
            %li.txt-bold Pour profiter d’une excellente équipe, il faut y mettre de l’argent.   
            %li.list-spaced Nous ne recourons pas aux solutions préconçues. Notre firme produit des conceptions et des codages originaux pour un marketing de classe mondiale et des résultats supérieurs.
            %li Ça vous convient? Certainement.
        #workform-errors

