/*
Syntax error: Undefined mixin 'box-sizing'.
        on line 11 of /Users/scottsavarie/Sites/bureau-site/source/css/pages/work.sass, in `box-sizing'
        from line 11 of /Users/scottsavarie/Sites/bureau-site/source/css/pages/work.sass

6:   text-align: center
7:   li
8:     width: 30%
9:     text-align: center
10:     margin: 1%
11:     +box-sizing(border-box)
12:     display: inline-block
13:     +single-transition(all, 0.2s, ease-out)
14:     a
15:       display: block
16:     &:hover, &:focus

Backtrace:
/Users/scottsavarie/Sites/bureau-site/source/css/pages/work.sass:11:in `box-sizing'
/Users/scottsavarie/Sites/bureau-site/source/css/pages/work.sass:11
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:7:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/tree/root_node.rb:20:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sass-3.2.6/lib/sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-sass-0.9.1/lib/sprockets/sass/sass_template.rb:40:in `evaluate'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-sprockets-3.0.9/lib/middleman-sprockets/sass.rb:46:in `evaluate'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/tilt-1.3.4/lib/tilt/template.rb:77:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/context.rb:197:in `block in evaluate'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/context.rb:194:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/context.rb:194:in `evaluate'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/processed_asset.rb:12:in `initialize'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/base.rb:350:in `new'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/base.rb:350:in `block in build_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/base.rb:371:in `circular_call_protection'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/base.rb:349:in `build_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/index.rb:93:in `block in build_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/caching.rb:51:in `cache_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/index.rb:92:in `build_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/base.rb:270:in `find_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/index.rb:60:in `find_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/bundled_asset.rb:16:in `initialize'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/base.rb:353:in `new'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/base.rb:353:in `build_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/index.rb:93:in `block in build_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/caching.rb:51:in `cache_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/index.rb:92:in `build_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/base.rb:270:in `find_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/index.rb:60:in `find_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/environment.rb:74:in `find_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-sprockets-3.0.9/lib/middleman-sprockets/extension.rb:134:in `find_asset'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/sprockets-2.4.5/lib/sprockets/server.rb:47:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/builder.rb:134:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/urlmap.rb:64:in `block in call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/urlmap.rb:49:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/urlmap.rb:49:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/rack-1.4.5/lib/rack/builder.rb:134:in `call'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/rack-test-0.6.2/lib/rack/mock_session.rb:30:in `request'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/rack-test-0.6.2/lib/rack/test.rb:230:in `process_request'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/rack-test-0.6.2/lib/rack/test.rb:57:in `get'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.12/lib/middleman-core/cli/build.rb:252:in `block in execute!'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.12/lib/middleman-core/cli/build.rb:249:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.12/lib/middleman-core/cli/build.rb:249:in `execute!'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.12/lib/middleman-core/cli/build.rb:191:in `invoke!'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/actions.rb:95:in `action'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.12/lib/middleman-core/cli/build.rb:65:in `build'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/task.rb:27:in `run'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/invocation.rb:120:in `invoke_task'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor.rb:275:in `dispatch'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/base.rb:425:in `start'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.12/lib/middleman-core/cli.rb:77:in `method_missing'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/task.rb:29:in `run'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/task.rb:126:in `run'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/invocation.rb:120:in `invoke_task'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor.rb:275:in `dispatch'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/thor-0.15.4/lib/thor/base.rb:425:in `start'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.12/lib/middleman-core/cli.rb:22:in `start'
/usr/local/rvm/gems/ruby-1.9.3-p194/gems/middleman-core-3.0.12/bin/middleman:18:in `<top (required)>'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/middleman:19:in `load'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/middleman:19:in `<main>'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `eval'
/usr/local/rvm/gems/ruby-1.9.3-p194/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'box-sizing'.\A         on line 11 of /Users/scottsavarie/Sites/bureau-site/source/css/pages/work.sass, in `box-sizing'\A         from line 11 of /Users/scottsavarie/Sites/bureau-site/source/css/pages/work.sass\A \A 6:   text-align: center\A 7:   li\A 8:     width: 30%\A 9:     text-align: center\A 10:     margin: 1%\A 11:     +box-sizing(border-box)\A 12:     display: inline-block\A 13:     +single-transition(all, 0.2s, ease-out)\A 14:     a\A 15:       display: block\A 16:     &:hover, &:focus"; }
