%section.l-module--wide.border-top
  .l-container--list.blog-module
    %h1.header--grey From the blog
    %a{:href=>"#"}
      %article.blog-teaser
        %h2.header--red Redefining user experience
        <time class="blog-date" datetime="2013-03-04">March 4th, 2013</time>
        %p In Late 2010, Pelmorex Media Inc came to Teehan+Lax and tasked us with designing an iPad application for the Weather Network Canada’s m and International.

    %a{:href=>"#"}
      %article.blog-teaser
        %h2.header--red Redefining user experience
        <time class="blog-date" datetime="2013-03-04">March 4th, 2013</time>
        %p In Late 2010, Pelmorex Media Inc came to Teehan+Lax and tasked us with designing an iPad application for the Weather Network Canada’s m and International.