%footer.l-module--wide.border-top
  .l-container
    .social-module
      .facebook-btn
        <div class="fb-like" data-href="http://www.facebook.com/bureaugroup" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
      .twitter-btn
        <a href="https://twitter.com/bureaugroup" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow @bureaugroup</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      .gplus-btn
        <div class="g-plusone"></div>
        <script>(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/plusone.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();</script>
    .mailing-list
      <div id="mc_embed_signup"><form action="http://scottsavarie.us2.list-manage.com/subscribe/post?u=6e9956ec2c1aec38af2917d61&amp;id=9f3ad84685" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate><label for="mce-EMAIL">Bulletin</label><input type="email" value="" name="EMAIL" class="email input-field" id="mce-EMAIL" placeholder="Your email address" required><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn-secondary"></form></div>
    .contact-info
      %address
        <span class="txt-bold">Bureau</span> 170 Elgin St. Sudbury Ontario P3E 3N5 | 705 586 3189