%nav.nav-bg.l-module#nav-fixed
  %span.red-bar
  .l-container--full.nav-wrap
    %div.nav-bar
      <a class ="language" href ="#">Français</a>
      <a class="logo" href="/index.html"><h1>Bureau</h1></a>
      %div.nav-btn
        %span.nav-icon
        %span.nav-icon
        %span.nav-icon
    <input type="checkbox" id="toggle">  
    %div.nav-container
      %ul.nav-links
        %li
          <a class="page-work__link" href="/work.html">Work</a>
        %li
          <a class="page-profile__link" href="/profile.html">Profile</a>
        %li
          <a class="page-services__link" href="/services.html">Services</a>      
        %li
          <a class="page-blog__link" href="#">Blog</a>  
        %li
          <a class="page-contact__link" >Contact</a>  
      %ul.nav-social.ss-icon
        %li
          <a href="#">twitter</a>
        %li
          <a href="#">facebook</a>
        %li
          <a href="#">google+</a>
        %li
          <a href="#">linkedin</a>
        %li
          <a href="#">youtube</a>
        %li
          <a href="#">pinterest</a>        
        %li
          <a href="#">instagram</a> 
  = partial "contact"
.nav-fixed-fix  












