%nav.l-fullwidth.nav-bg
  %span.red-bar
  .l-container--thin
    %div.nav-container
      <a href="index.html" class="logo"><h1>Bureau</h1></a>
      <a class ="language" href ="#">francais</a>
      %ul.nav-links
        %li
          <a href="work.html">Work</a>
        %li
          <a href="profile.html">Profile</a>
        %li
          <a href="services.html">Services</a>      
        %li
          <a href="#">Blog</a>  
        %li
          <a href="contact.html">Contact</a>  
      %ul.nav-social
        %li
          <a href="#"><img src="http://placehold.it/30x30"></a>
        %li
          <a href="#"><img src="http://placehold.it/30x30"></a>
        %li
          <a href="#"><img src="http://placehold.it/30x30"></a>
        %li
          <a href="#"><img src="http://placehold.it/30x30"></a>
        %li
          <a href="#"><img src="http://placehold.it/30x30"></a>
        %li
          <a href="#"><img src="http://placehold.it/30x30"></a>        
