%nav.nav-bg.l-module#nav-fixed
  %span.red-bar
  .l-container--full.nav-wrap
    %div.nav-bar
      <a class ="language" href ="#">Français</a>
      <a class="logo" href="index.html"><h1>Bureau</h1></a>
      %div.nav-btn
        %span.nav-icon
        %span.nav-icon
        %span.nav-icon
    <input type="checkbox" id="toggle">  
    %div.nav-container
      %ul.nav-links
        %li
          <a class="page-work__link" href="work.html">Work</a>
        %li
          <a class="page-profile__link" href="profile.html">Profile</a>
        %li
          <a class="page-services__link" href="services.html">Services</a>      
        %li
          <a class="page-blog__link" href="#">Blog</a>  
        %li
          <a class="page-contact__link" href="#contact-wrap" >Contact</a>  
      %ul.nav-social.ss-icon
        %li
          <a href="http://www.twitter.com/bureaugroup" target="blank">twitter</a>
        %li
          <a href="http://www.facebook.com/bureaugroup" target="blank">facebook</a>
        %li
          <a href="https://plus.google.com/111226183375551688410/" target="blank">google+</a>
        %li
          <a href="http://www.linkedin.com/company/2904088" target="blank">linkedin</a>
        %li
          <a href="http://www.youtube.com/channel/UC7SElPeEBqy-q1ifcKVkbqg/" target="blank">youtube</a>
        %li
          <a href="http://www.pinterest.com/bureaugroup/" target="blank">pinterest</a>        
        %li
          <a href="http://www.instagram.com/bureaugroup" target="blank">instagram</a> 
.nav-fixed-fix  











