---
title: "Bird Kingdom - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.bird
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header Bird Kingdom
        %h2.intro-subhead The Niagara region draws millions of visitors from around the globe every year. Amid the area's incredible natural beauty and abundance of attractions, it can be difficult for a business to distinguish themselves from the crowd and engage their ideal customer.
        %i branding / web design / poster design
  
  .l-container    
    %img.image--fullwidth{:src=>"img/portfolio/birdkingdom_2.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph One attraction in particular, the renowned Bird Kingdom, had no trouble standing out from the crowd but found themselves in need of a contemporary and technologically relevant website to connect them with the young demographic they just weren't clicking with.

      %p.project-paragraph We responded to that need by suggesting a scalable website which could be accessed with ease from the go-to devices of every young tourist: smartphones. The result was a vibrant but simple website which could be easily accessed in any format, tailored in both language and style to engage their youthful primary customer base. The finished product allows young families to digitally experience Bird Kingdom before even setting foot on the property, cultivating a familiarity which further entices the customer.
    .l-container--wide
      %img{:src=>"img/portfolio/birdkingdom_1.jpg"}


  .l-container--wide.txt-center
    %img{:src=>"img/portfolio/birdkingdom_3.jpg"}
  .l-module--spaced
    .l-container--narrow
      %h2.header--grey The value this brought not only to our client, but our community.
      %p.project-paragraph The playful and energetic feel only a multi-level rainforest populated by hundreds of bird species can provide radiates throughout the site, enhanced by full integration with several social media platforms which allows the visitor to connect with Bird Kingdom via their network of choice. As a result, Bird Kingdom's online presence has the emotional traction and virtual relevance required to stand out in a fiercely competitive market, leaving competing attractions in the dust.
      .l-module--wide
        = partial "project-like"


= partial "project-crosslink"



















