---
title: "Bird Kingdom - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.bird
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header Bird Kingdom
        %h2.intro-subhead We created everything from the posters, hand outs, signage and website for the event. We developed a circle theme that envelops everything the Sudbury community stands for. This circle theme was taken further and applied to other events as well.
        %i branding / web design / poster design
  
  .l-container    
    %img.image--fullwidth{:src=>"img/portfolio/birdkingdom_2.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph At the Sudbury Café (September 14 – 18, 2011), Musagetes gathered more than 40 artists, designers, activists, architects, intellectuals, researchers, students, residents and community groups from around the world to learn from Sudbury and contribute to the discussions already taking place here.
      %p.project-paragraph At the Sudbury Café (September 14 – 18, 2011), Musagetes gathered more than 40 artists, designers, activists, architects, intellectuals, researchers, students, residents and community groups from around the world to learn from Sudbury and contribute to the discussions already taking place here.
    .l-container--wide
      %img{:src=>"img/portfolio/birdkingdom_1.jpg"}
    .l-container--narrow  
      %p.project-paragraph At the Sudbury Café (September 14 – 18, 2011), Musagetes gathered more than 40 artists, designers, activists, architects, intellectuals, researchers, students, residents and community groups from around the world to learn from Sudbury and contribute to the discussions already taking place here.
      %p.project-paragraph At the Sudbury Café (September 14 – 18, 2011), Musagetes gathered more than 40 artists, designers, activists, architects, intellectuals, researchers, students, residents and community groups from around the world to learn from Sudbury and contribute to the discussions already taking place here.

  
  .l-module.bird
    .l-container.txt-emph.txt-center
      %h1.header--grey “Bureau provided us with the perfect combination of creative design, professional client relations, and prompt delivery.”
      %i –Shawn Van Sluys, Executive Director, Musagetes Foundation


  .l-container--wide.txt-center
    %img{:src=>"img/portfolio/birdkingdom_3.jpg"}
  .l-module--spaced
    .l-container--narrow
      %h2.header--grey The value this brought not only to our client, but our community.
      %p.project-paragraph Musagetes is a foundation based in Guelph, Ontario which seeks to transform contemporary life by working with artists, cultural mediators, public intellectuals and other partners to develop new approaches to building community and culture.
      .l-module--wide
        = partial "project-like"


= partial "project-crosslink"



















