---
title: "Boma - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.boma
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header Boma La Moma
        %h2.intro-subhead The term "average lifespan" confuses many people who errantly believe it refers to the average length of an adult's life in a given time and place. While that is certainly a factor in determining lifespan, we forget that one major factor can reduce or extend that number: infant mortality. When we were approached by Boma la Mama (the maternity-focused extension of Boma Africa) to produce promotional materials for their incredible work in Tanzania, we knew this was a special project. We aren't often afforded the chance to combine our professional lives and our social conscience.
        %i branding / web design / poster design

  .l-module--spaced
    .l-container--narrow.txt-center
      %img.image{:src=>"img/portfolio/boma-1.png"}
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph Wanting to ensure the finished product would resonate with the desired audience, we immediately set to work researching the both the challenges and cultural wealth of Tanzanian society. Our efforts paid off as we produced a new branding and identity designed to draw visitors into the fully-editable Wordpress site which we tailored to Boma la Mama's needs. For organizations such as theirs, providing a maximum amount of independence and low-maintenance management both reduces overhead and allows the organization to direct their scarce time and resources into other vital areas. The incredibly positive response to these efforts has been mutually rewarding.


  .l-container.txt-center      
    %img{:src=>"img/portfolio/boma-2.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph If you're interested in helping these noble efforts which provide safe, qualified and dignified maternity care to Tanzanian women, there are a number of options available on their website. No act is too small to stimulate big change.

    .l-container--wide.txt-center
      %img.image{:src=>"img/portfolio/boma-3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/boma-4.jpg"}

    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















