---
title: "Cafe Petit Gateau - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.cafe
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Cafe Petit Gateau
        %h2.intro-subhead.txt-white The best urban areas usually include a hint of foreign flavor, a shop or restaurant which blends the best of it's locale with notes of distant culture. Cafe Petit Gateau, a small French-inspired coffee and cake shop in downtown Sudbury, is a perfect example.
        %i.txt-white Visual identity design / Brand collateral / Custom lettering / Website design and development
  
  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/cpg_3.jpg"}

  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/cpg_1.jpg"}
    .l-container--narrow
      %h2.header--grey Scandinavian design fused with Japanese attention to detail.
      %p.project-paragraph Servicing the demands of Sudbury's increasingly refined palate, this beautiful shop located in an historic flatiron building is where knowing Sudburians flock for their fresh espresso, coffee, tea and an assortment of flavorful treats which range from perfectly textured cookies to decadent fluffy cakes. Spicing up the French inspiration with a carefully cultivated space inhabited by elements of Scandinavian design and Japanese attention to detail, and finished with custom cabinetry and furniture from Mjölk, the best of several worlds meet to create a memorable fusion of form and flavor.
      %p.project-paragraph We first met Derek and Yoshi, owners of Cafe Petit Gateau, on an inhospitably cold winter morning as they were moving into the building. As the conversation continued in their warm and inviting space, we suggested sitting down formally to discuss the way Bureau's marketing and design expertise could ensure the business' success. Our suggestions perfectly attuned to their vision, we quickly formed a partnership.

    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/cpg_2.jpg"}
    .l-container--narrow
      %p.project-paragraph In the intermittent period, we've developed their branding, stationery and web presence. Due in no small part to the exquisite quality of their product and our work in establishing their identity, Cafe Petit Gateau has seen steady growth and increasing brand recognition.

    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cpg_4.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cpg_6.jpg"}
 

  .l-module.cafe
    .l-container.txt-emph.txt-center
      %h1.header--white “I can't say enough about the great work that Bureau has done for my new business. From custom lettering to our website, their sharp ideas and creativity definitely helped my business stand out in a crowd. Bureau always gives 120% to every project with respect, attention and confidence, then execute better than you could have imagined!”
      %i.txt-white –Yoshiko Kurogi, Proprietor, Café Petit Gâteau

  .l-module
    %img.image--fullwidth{:src=>"img/portfolio/cpg_5.jpg"}
  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Inspired by vintage Europe.
      %p.project-paragraph Modern with touches of classic Paris, contemporary without discarding the best elements of vintage Europe, we provided a logotype sourced from old signage and customized to meet their needs. This allowed CPG to have immediate purchase with their ideal clientele: those with a taste for coffee and treats yet demand more than a nationally franchised bakery or corner store can deliver.

    %a{:href=>"http://www.rgdontario.com/community/case-studies/news_post/184.php"}
      .l-container.txt-center
        %img.image{:src=>"img/portfolio/cm-5.jpg"}
      .l-container--narrow.txt-center.project-paragraph
        %i Case Study: Frank Chartrand RGD shares tips for creating an elegant look on a small budget with identity for Sudbury café
      
    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















