---
title: "Carrefour - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.carte
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Carrefour
        %h2.intro-subhead.txt-white Recent years have seen a number of film and television productions coming to Sudbury and it's been our pleasure to partner with one particularly notable company which has contributed to that surge. Carte Blanche Films is a television and film production company based in Sudbury and Ottawa, and we've helped grow their audience by working with them in creating unique promotional materials for a variety of their television productions, including Meteo+ and Le Bleus de Ramville.
        %i.txt-white Visual identity design / Brand collateral / Website design and development (Wordpress CMS) / Social media integration
  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/cbf_1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph Ramville, the titular town of Les Bleus de Ramville, is a fictional place located just off Highway 17 between North Bay and Sturgeon Falls. Taking a novel tack, we created a social website for the program centered around a radio station featured in the program. By giving the characters life through this online presence, fans were drawn to the site by the concept and encouraged to return between episodes by new and original content exclusively available there.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_3.jpg"}


  .l-module.carrefour
    .l-container.txt-emph.txt-center
      %h1.header--white “During our numerous collaborations, I have noted Bureau’s unique balance between functionality, beauty, simplicity and their dedication to producing the best quality product at an honest.”
      %i.txt-white –Stéphane Gauthier, Directeur général et culturel, Carrefour francophone



  .l-module--spaced.grey-bg
    .l-container--narrow  
      %h2.header--grey How we brought a community of artists together
      %p.project-paragraph This new content took the form of podcasts which served as an extension of the most recent episode. Scripted, recorded and produced by members of our team, we followed a format made popular by programs such as The Walking Dead, Breaking Bad and Game of Thrones. With such thought and care put into the show, it's no surprise Les Bleus took home the 2012 Award for Excellent in Title Design at the renowned SXSW Film Awards in Austin, Texas.

    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/cbf_4.png"}  
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_5.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_6.jpg"}
    .l-container--narrow.bandcamp  
      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=2736751839/size=medium/bgcol=ffffff/linkcol=de270f/transparent=true/" seamless><a href="http://radiockkc.bandcamp.com/album/passe-la-puck">Passe la puck by Radio CKKC</a></iframe>  

  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_7.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_8.jpg"}
    .l-container--narrow
      %h2.header--grey The value this brought not only to our client, but our community.
      %p.project-paragraph When Carte Blanche Films pitches new ideas for upcoming productions, Bureau continues to be the ally they call upon for all of their marketing needs.
      .l-module--wide
        = partial "project-like"



= partial "project-crosslink"



















