---
title: "Carte Blanche Films Marketing Case Study"
description: "Carte Blanche Films is a TV and film production company based in Sudbury and Ottawa. We helped grow their audience with unique promotional materials."
---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.carte
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Carte Blanche Films
        %h2.intro-subhead.txt-white Recent years have seen a number of film and television productions coming to Sudbury and it's been our pleasure to partner with one particularly notable company which has contributed to that surge. Carte Blanche Films is a television and film production company based in Sudbury and Ottawa, and we've helped grow their audience by working with them in creating unique promotional materials for a variety of their television productions, including Météo+ and Le Bleus de Ramville.
        %i.txt-white Podcast writing, recording, and editing / Digital marketing strategy / Packaging design
  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/cbf_1.jpg", :alt=>"Les Bleus de Ramville promo picture"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Imagination is key.
      %p.project-paragraph Ramville, the titular town of Les Bleus de Ramville, is a fictional place located just off Highway 17 between North Bay and Sturgeon Falls. Taking a novel tack, we created a social website for the program centered around a radio station featured in the program. By giving the characters life through this online presence, fans were drawn to the site by the concept and encouraged to return between episodes by new and original content exclusively available there.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_2.jpg", :alt=>"Les Bleus de Ramville dvd cover"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_3.jpg", :alt=>"Les Bleus de Ramville poster"}



  .l-module--spaced.grey-bg
    .l-container--narrow  
      %h2.header--grey Fun technology.
      %p.project-paragraph This new content took the form of podcasts which served as an extension of the most recent episode. Scripted, recorded and produced by members of our team, we followed a format made popular by programs such as The Walking Dead, Breaking Bad and Game of Thrones. With such thought and care put into the show, it's no surprise Les Bleus took home the 2012 Award for Excellent in Title Design at the renowned SXSW Film Awards in Austin, Texas.

    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/cbf_4.png", :alt=>"Radio CKKC logo"}  
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_5.jpg", :alt=>"Radio CKKC website design"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_6.jpg", :alt=>"Radio CKKC social media profiles"}
    .l-container--narrow.bandcamp  
      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=2736751839/size=medium/bgcol=ffffff/linkcol=de270f/transparent=true/" seamless><a href="http://radiockkc.bandcamp.com/album/passe-la-puck">Passe la puck by Radio CKKC</a></iframe>  

  .l-module.carte
    .l-container.txt-emph.txt-center
      %h1.header--white “Bureau is a top of the charts design company, providing creative solutions with a contemporary outlook. Frank and his team offer the everyday business person with competitive promotional advantages, while providing noteworthy design.”
      %i.txt-white –Tracy Legault, Executive Producer, Carte Blanche Filmsxp


  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_7.jpg", :alt=>"Carte Blanche Films website on mobile"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cbf_8.jpg", :alt=>"Carte Blanche Films print design"}
    .l-container--narrow
      %h2.header--grey We're always on set.
      %p.project-paragraph When Carte Blanche Films pitches new ideas for upcoming productions, Bureau continues to be the ally they call upon for all of their marketing needs.
      .l-module--wide
        = partial "project-like"



= partial "project-crosslink"



















