---
title: "Municipality Of Central Manitoulin Marketing Case Study"
description: "The Municipality of Central Manitoulin came to us with a problem: their website was in need of modernization."
---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.boma
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header The Municipality of Central Manitoulin 
        %h2.intro-subhead The Municipality of Central Manitoulin came to us with a problem: their website was in need of modernization, a refreshed presence more accessible to visitors and which offered greater usability to municipal employees.
        %i Website design and development (Drupal CMS) / Search engine optimization (SEO) / Responsive design

  .l-module--spaced
    .l-container--narrow.txt-center
      %img.image{:src=>"img/portfolio/cm-1.jpg", :alt=>"Municipality of Central Manitoulin logo"}
    .l-container--narrow
      %h2.header--grey We came back to them with a solution.
      %p.project-paragraph Carefully considering the site's issues, we took an inventory of their current virtual stock and decided to rebuild from the ground up, tailoring each aspect to their particular needs with a view to efficiency. It was vital that visitors were able to quickly and easily find the information they required, but it was also important that staff had the ability to amend any section in a simple and timely manner regardless of technical ability. With that in mind, we built the site around the Drupal content management system so tech-savvy and tech-averse staff alike have been able to edit and update the site with ease.

  .l-module      
    %img.image--fullwidth{:src=>"img/portfolio/cm-2.jpg", :alt=>"Municipality of Central Manitoulin website on laptop"}

  .l-module.boma
    .l-container.txt-emph.txt-center
      %h1.header--grey “Since the launch of our re-designed website, we have received nothing but compliments regarding the eye-catching design and ease of navigation. Bureau were excellent to work with and exceptional at meeting the distinct needs of a municipal website. I highly recommend their services!”
      %i –Amanda Gunner, Economic Development Officer, The Municipality of Central Manitoulin

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Come home to the heart of it all.
      %p.project-paragraph Focusing on delivering an efficient but relevant site, we ensured the online presence was mobile responsive and search-engine optimized. As such, visitors and residents of Central Manitoulin are equally able to use their preferred device and preferred search engine to quickly find exactly what they seek. Emphasizing Central Manitoulin's tourism, the quick-loading and easily navigable site also ensures visitors spend less money on data roaming and more at Central Manitoulin's businesses.

    .l-container--wide.txt-center
      %img.image{:src=>"img/portfolio/cm-3.jpg", :alt=>"Municipality of Central Manitoulin website on mobile"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/cm-4.jpg", :alt=>"Municipality of Central Manitoulin website on tablet"}

  .l-module
    %a{:href=>"http://www.rgdontario.com/2013/07/03/case-study-bureau-design-provides-efficient-navigation-and-quick-information-access-for-municipal-website.php", :target=>"blank"}
      .l-container.txt-center
        %img.image{:src=>"img/portfolio/cm-5.jpg", :alt=>"RGD logo"}
      .l-container--narrow.txt-center.project-paragraph
        %i Case Study: Design from Bureau provides efficient navigation and quick information access for municipal website

  .l-module--wide
    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















