---
title: "Centre Culturel Frontenac - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.culturel
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Centre Culturel Frontenac
        %h2.intro-subhead.txt-white Our team's native familiarity with both French and English puts us at a distinct advantage. Unlike other firms who outsource translation hopefully, their management unable to vet the translated language for error and relevance, our youthful group is able to review texts in both languages at every level.
        %i.txt-white Visual identity design / Brand collateral / Website design and development (Wordpress CMS) / Social media integration
  
  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/ccf_2.jpg"}

  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/ccf_1.jpg"}
    .l-container--narrow
      %h2.header--grey No language in either tongue escapes our offices without serious traction.
      %p.project-paragraph It's for exactly such reasons that our work with le Carrefour was noticed by other leading francophone organizations in the province such as Kingston's Centre culturel Frontenac (CCF.) Sensing the need to update their brand and enhance their online presence, they came to Bureau with a request and stayed with us for our solution.
      %p.project-paragraph Bureau provided le CCF with a new identity that reflects their modern approach to providing Kingston with services and entertainment. User friendly for staff and visitors alike, le CCF's new site allows them to stay current through easy blog and news updates, online ticket sales and a malleable format which allows each aspect of the site to be customized without difficulty. Bureau's design offers le CCF the ability to respond quickly to new information and trends, so keeping power where it belongs: in the client's able hands.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/ccf_3.jpg"}

    .l-container--narrow
      %p.project-paragraph Le CCF's decision to team up with our firm has produced hard results rather than some vague aesthetic improvement, demonstrated in a measurable rise in ticket sales and increased use of their services.  

  .l-module.grey-bg
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/ccf_4.jpg"}  
    .l-container--narrow
      .l-module--wide
        = partial "project-like"



= partial "project-crosslink"



















