---
title: "City Of Greater Sudbury - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.boma
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header City of Greater Sudbury
        %h2.intro-subhead We created everything from the posters, hand outs, signage and website for the event. We developed a circle theme that envelops everything the Sudbury community stands for. This circle theme was taken further and applied to other events as well.
        %i branding / web design / poster design
  
  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/city_1.jpg"}

  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/city_2.jpg"}
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph At the Sudbury Café (September 14 – 18, 2011), Musagetes gathered more than 40 artists, designers, activists, architects, intellectuals, researchers, students, residents and community groups from around the world to learn from Sudbury and contribute to the discussions already taking place here.
      %p.project-paragraph At the Sudbury Café (September 14 – 18, 2011), Musagetes gathered more than 40 artists, designers, activists, architects, intellectuals, researchers, students, residents and community groups from around the world to learn from Sudbury and contribute to the discussions already taking place here.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/city_3.jpg"}


  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/city_4.jpg"}   

  .l-module--spaced.grey-bg
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph At the Sudbury Café (September 14 – 18, 2011), Musagetes gathered more than 40 artists, designers, activists, architects, intellectuals, researchers, students, residents and community groups from around the world to learn from Sudbury and contribute to the discussions already taking place here.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/city_5.jpg"}

  .l-module
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/city_6.jpg"}  
    .l-container--narrow
      .l-module--wide
        = partial "project-like"



= partial "project-crosslink"



















