---
title: "Thank you - Bureau"
---

- @body_class = 'page-thanks'
- @page_class = ''

%section.l-module--spaced
  .l-container--wide.txt-center 
    %h1.header--grey Thanks for talking to us
    %h2.intro-subhead
      We'll try and get back to you within 24 hours. 
  .l-container--wide.txt-center 
    %a.btn-primary{:href=>"index.html"}
      %span Back to Bureau
