---
title: "East Ottawa Midwives Marketing Case Study"
description: "When East Ottawa Midwives approached us to create new branding we knew their visual identity had to say a lot with a little."
---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.ottawa
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white East Ottawa Midwives
        %h2.intro-subhead.txt-white No longer simply an 'alternative' practice held back by popular misconception and misunderstanding, midwifery professionals have become a popular option for those who prefer to deliver in the familiar comfort of their homes rather than strange and sterile surroundings of a hospital.
        %i.txt-white Visual identity design / Brand collateral / Brand standards guide / Website design and development (Wordpress CMS)
  

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Women helping women.
      %p.project-paragraph We chose the crescent for several reasons. When East Ottawa Midwives first approached us to create new branding which would set them apart from a multitude of similar birthing firms in the Ottawa area, we knew their visual identity had to say a lot with a little. Our design, which features two embracing crescent moons, provides the brand with that crucial emotional connection needed to make the East Ottawa Midwives stand out.
      %p.project-paragraph As the form of a new moon, the crescent represents new life. Thinking about the warm glow produced by the moon's reflected light, we were reminded of the warmth a new mother feels as an in-home delivery takes place. In fact, the moon has often been displayed as a symbol of women, the subtle connection between the 28-day lunar cycle and menses of the same duration being clear.
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/eom_4.jpg", :alt=>"East Ottawa Midwives logo"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/eom_2.jpg", :alt=>"East Ottawa Midwives business cards and letterhead"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/eom_3.jpg", :alt=>"East Ottawa Midwives website on tablet"}
    .l-container--narrow
      %p.project-paragraph Simple, effective and memorable, we further equipped East Ottawa Midwives with a complete brand standard guide for the approved use of their logo by other organizations, sort of a user manual for the symbol. These efforts and our application of the new branding and identity to their online presence has clearly set them apart.
    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















