---
title: "Freelandt Caldwell Reilly - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.fcr
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Freelandt Caldwell Reilly
        %h2.intro-subhead.txt-white No business can succeed without someone who knows numbers doing a little crunching once in awhile. For top shelf design friendly to the bottom line, Greater Sudbury's most prestigious accounting firm knew who to turn to when it was time to hit 'refresh' on their branding.
        %i.txt-white Visual identity design / Brand collateral
  
  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/fcr_1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Founded on the principle of trust.
      %p.project-paragraph Freelandt Caldwell Reilly LLP have been serving the Sudbury area for years. Keeping pace with other firms of their stature, they needed something which was fresh without being frivolous, attention-grabbing rather than attention-seeking. Blending modern elements with enduring classic form to produce a design unique to their needs, the result was a bold but business-ready graphic which modernized their identity without sacrificing their history.
      %p.project-paragraph We were careful throughout the process to ensure the design struck a proper balance. There was no change in their solid business practices, only a desire to demonstrate to clients that they are constantly improving on their exceptional work. The feedback from FCR and clients alike has been excellent.
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/fcr_2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/fcr_3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/fcr_4.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/fcr_5.jpg"}

    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















