---
title: "Helios - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.helios
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Helios
        %h2.intro-subhead.txt-white From broadsheet to broadcast and blog to business plan. one term is on everyone lips these days: energy efficiency. Helios Developments is a startup company whose mission is to provide both energy independence and energy efficiency to residential and commercial clients alike through their line of solar panel products.
        %i.txt-white Visual identity design / Brand collateral / Merchandise design / Website design and development (Wordpress CMS) / Search engine optimization (SEO)
  

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Building an efficient brand.
      %p.project-paragraph As a new business in an emerging industry, Helios wanted to take deliberate, measured steps in creating brand awareness and building their reputation in Northern Ontario. Knowing that effective branding and marketing which capitalized on our community's extant social conscience and desire for energy efficiency was key to success, they turned to Bureau for creative counsel.
      %p.project-paragraph Our first step was to create a new logo and identity for use in all promotional materials. That logo, which features a stylized 'O' presented as a solar eclipse, immediately establishes Helios as a solar energy company. Building a custom website complete with search engine optimization, our finished product allows them to be easily found by potential customers and makes it easy for those customers to find whatever information they seek.
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/helios_2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/helios_3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/helios_4.jpg"}

  .l-module
    %img.image--fullwidth{:src=>"img/portfolio/helios_1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Finding a sustainable competitive edge.
      %p.project-paragraph Helios has seen fast success due to the quality of their products and the efficacy of our promotional strategy.

    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/helios_5.jpg"}

    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















