---
title: "Hideaway Pictures Marketing Case Study"
description: "Hideaway first approached us when they needed strong marketing to rapidly become a known commodity. We helped generate buzz about their productions."
---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.hideaway
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Hideaway Pictures
        %h2.intro-subhead.txt-white The last decade has seen media services boom in Northern Ontario. Hideaway Pictures is a full service production company based in the region which has helped drive that growth through the creation and development of entertainment including television shows, cinema, music videos and promotional media such as corporate training films and commercials. With a focus on creating lasting cinema in the North, Hideaway provides the business elements necessary to realizing that vision.
        %i.txt-white Visual identity design / Brand collateral / Website design and development (Wordpress CMS) / Search engine optimization (SEO)
  
  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/hideaway_1.jpg", :alt=>"Hideaway Pictures logo"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Filming in Northern Ontario.
      %p.project-paragraph Hideaway first approached us when they needed strong marketing to rapidly become a known commodity, so generating buzz about the productions they continue to bring the region. Also spearheading the Northern Ontario Film Studios initiative, the first major film studio in the region, NOFS wanted to make their presence known in conjunction with Hideaway.
      %p.project-paragraph We met these challenges by delivering Hideaway Pictures a search engine optimized site which situates them as an industry leader in Northern Ontario. Through effective design and clever SEO tactics, Hideaway is consistently at the top of organic rankings for several of their target keywords.

  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/hideaway_2.jpg", :alt=>"Hideaway Pictures website on laptop"}


  .l-module.hideaway
    .l-container.txt-emph.txt-center
      %h1.header--white “Bureau are extremely professional and at the top of their craft. They think outside of the box and bring ideas to the table that can propel your business to a whole new level.”
      %i.txt-white –David Anselmo, Executive Producer, Hideaway Pictures


  .l-module--spaced
    .l-container--narrow
      %h2.header--grey What does all of this mean in plain language? When someone wants to shoot a film in Northern Ontario, Hideaway Pictures lands the job.
      %p.project-paragraph And when the Northern Ontario Film Studios launched, we carefully managed their social media presence to establish an audience that not only remains engaged, but continues to grow daily. From signage to stationery, the branding and identity devised at Bureau can be found wherever they do business today.

    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/hideaway_3.jpg", :alt=>"Hideaway Pictures social media profiles"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/hideaway_4.jpg", :alt=>"Hideaway Pictures social media profiles"}
    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















