---
title: "ICAN-CERD - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.ican
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white ICAN-CERD
        %h2.intro-subhead.txt-white We spend our childhoods envying and longing for the independence we see in adults around us. When we finally obtain that independence, we do anything we can to hang onto it. The Independence Center and Network have made it their goal to ensure that independence doesn't slip from our hands as age, disease and injury soften our grip.
        %i.txt-white Annual report design and layout / Banner and tradeshow displays / Illustration
  
  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/ican-1.jpg"}
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph ICAN-CERD is a nonprofit independent living organization in Sudbury who have been providing the support and resources necessary for independent living since 1977. Feeling the need for a flashier but still substantial graphic accent to their annual reports, they came to Bureau a few years ago seeking a redesign and have stayed with us since.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/ican-2.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/ican-3.jpg"}



  .l-module.ican
    .l-container.txt-emph.txt-center
      %h1.header--white “The work Bureau did was wonderful. They listened to what we wanted and suggested what would work and what wouldn’t. The final product was perfect.”
      %i.txt-white –Johanne Ramsay, Executive Assistant, ICAN-CERD


  .l-module--spaced.grey-bg
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph Using the butterfly as a consistent symbol throughout their reports for some time, we found a way to maintain that basic recognition while injecting it with new life. This is no small matter for a nonprofit, as every public and private dollar is hard-fought. Our redesign made their report grab the eye of whoever reviews it, separating it from the stack and giving them that extra edge.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/ican-4.png"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/ican-5.png"}


  .l-module--spaced
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph Not content with the report's new design alone, we went a step further and created a piece of artwork that could be hung with pride in their boardroom. A butterfly created by weaving bright red string through a backdrop of gleaming nails, the piece illustrated how multiple support points can strengthen a community.
      %p.project-paragraph It's clear then, why ICAN-CERD continue to rely on Bureau for their design needs, including banners and signage for their Sudbury center and portable displays which allow them to shine at trade shows.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/ican-6.png"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/ican-7.png"}

  
    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















