---
title: "ICAN - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.nim
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white ICAN
        %h2.intro-subhead.txt-white NIM is an established leader in Northern Ontario waste management and recycling services. Known throughout the region where mobile garbage bins are even referred to as 'NIMbins,' the company came to Bureau when they needed a modern redesign of their website and a refocusing of their brand which emphasized their efforts toward a clean and beautiful environment unadulterated by waste.
        %i.txt-white Annual report design and layout / Banner and tradeshow displays / Illustration
  
  %img.image--halfwidth{:src=>"img/portfolio/nim_2.jpg"}
  %img.image--halfwidth{:src=>"img/portfolio/nim_4.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph Toward that goal, Bureau developed a website which explains and demonstrates how everyone from individuals to large businesses benefit from the services NIM provides. Our strategy was to sell NIM's vision of a clean and pristine North rather than focusing solely on their services. At the same time, the website still offers a wealth information about those services and even features a detailed but easy to use form for visitors to request quotes.

  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/nim_1.jpg"}


  .l-module.ican
    .l-container.txt-emph.txt-center
      %h1.header--white “The work Bureau did was wonderful. They listened to what we wanted and suggested what would work and what wouldn’t. The final product was perfect.”
      %i.txt-white –Johanne Ramsay, Executive Assistant, ICAN-CERD


  .l-module--spaced
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph Our efforts have produced a measurable increase in the use of their services, helping to ensure their financial security while promoting a better public understanding of their mandate.
    .l-container--wide
      %img.image--fullwidth{:src=>"img/portfolio/nim_3.jpg"}

    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















