---
title: "Bureau - Home"
---

- @body_class = 'page-home'
- @page_class = ''

.l-module
  .l-container
    .video-wrapper
      .video-mask
      <iframe class="home-video" src="http://player.vimeo.com/video/34166985?title=0&amp;byline=0&amp;portrait=0&amp;color=757778&amp;autoplay=1&amp;loop=1"frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
