---
title: "Home - Bureau"
---

- @body_class = 'page-home'
- @page_class = ''



#header-cover
  %section.l-module
    #video-trigger.l-container--full
      .header-video-wrapper
        .video-mask
          %img{:src=>"img/bureau-intro.svg", :width=>"1500", :height=>"845"}
        %img.video-poster-header{:src=>"img/video-poster2.jpg", :width=>"1389", :height=>"614"}  
        <video webkit-playsinline id="home-video--intro"class="home-video--intro" width="1368" height="769" autoplay="autoplay" poster="img/video-poster2.jpg" loop="true"><source src="videos/Bureau_homepage.mp4" type="video/mp4" /><source src="videos/Bureau_homepage.oggtheora.ogg" type="video/ogg"/><source src="videos/Bureau_homepage.webmsd.webm" type="video/webm"/><object type="application/x-shockwave-flash" data="flash/player.swf"><param name="allowfullscreen" value="true"><param name="allowscriptaccess" value="always"><param name="flashvars" value="file=videos/Bureau_homepage.mp4"><!--[if IE]><!--><param name="movie" value="flash/player.swf"><!--<![endif]--><img src="img/video-poster2.jpg" width="1389" height="614" alt="Video"></object></video>'
      %h2.home-introtext Today's marketplace demands bold moves. You may have a great product or service, but if your customers can’t find it they'll be forced to go elsewhere. <a href="services.html">Be found.</a>
  .l-module
    .l-container.arrow-wrap
      .home-arrow#home-arrow
        %img{:src=>"img/home-arrow.svg", :width=>"48", :height=>"48"}
%section.l-module--spaced.grey-bg#specialty
  .l-container.txt-center
    %header.txt-center
      %h1.header--red We specialize in the business of:
    %article.specialty.specialty-search#specialty-one
      %img{:src=>"img/home-search.svg", :width=>"140", :height=>"140"}
      %h2.subhead--grey Getting you found.
      %p We are highly skilled in communications. We'll make it simple for your customers to find you, we'll drive traffic to increase your base and we'll ensure you stand far above the competition. How? We might start with a brand audit to determine whether or not we need to create or refresh your <a href="services.html">visual identity</a>, or even just imbue it with greater <a href="services.html">collateral</a>. Maybe you need new <a href="services.html">packaging design</a>, <a href="services.html">new signage</a> or other <a href="services.html">wayfinding material</a>. Perhaps you're on the right visual track but need some language <a href="services.html">translated</a> to connect with your entire market. Through providing all of these services plus <a href="services.html">content development</a>, in-house <a href="services.html">web hosting</a> and topping it off our <a href="services.html">search engine optimization</a> expertise? We've got you covered.
      .dotted-arrow
  
    %article.specialty#specialty-two
      %img.specialty-market{:src=>"img/home-market.svg", :width=>"140", :height=>"140"}
      %h2.subhead--grey Marketing your product/service.
      %p You've got something great, but it takes innovative <a href="services.html">strategy</a> complete with an array of supporting services to ensure your product makes it from the shelf to the customer's hands. Our arsenal is stocked with <a href="services.html">innovative branding</a>, <a href="services.html">traditional marketing</a>, <a href="services.html">digital marketing</a>, and <a href="services.html">social marketing</a> methods (including <a href="services.html">video and audio production</a> and <a href="services.html">event planning</a>) which will take you from point A to points beyond. 

      %p We don't just do <a href="services.html">web design</a>, <a href="services.html">web development</a>, <a href="services.html">responsive design</a>, <a href="services.html">search engine optimization</a>, and <a href="services.html">social marketing</a>, we bring them to life through <a href="services.html">interactive</a> digital technology like stellar <a href="services.html">app development</a> and smooth <a href="services.html">e-commerce</a> platforms. Sometimes the digital approach isn't enough, though, so we also design and print literature from eye-catching <a href="services.html">newsletters</a> to <a href="services.html">magazines</a> and <a href="services.html">books</a>. We're leaders in <a href="services.html">concept and campaign development</a> with the awards to prove it. 
      .dotted-arrow

    %article.specialty#specialty-three
      %img{:src=>"img/home-money.svg", :width=>"140", :height=>"140"}
      %h2.subhead--grey Making you money.
      %p Once we have everything else in place, we'll use our command of <a href="services.html">strategic development</a> and <a href="services.html">marketing planning</a> to turn short-term success into long-term security. We even offer <a href="services.html">standards guides</a>, <a href="services.html">consulting</a>, <a href="services.html">workshops and training</a> which help unite your workforce and your strategy while teaching vital skills that ensure maximum realization of your goals. 

      %p You can be confident your message is received by the right audience and your mission is a total success as you watch your traffic and revenue increase. We don't create potential, we realize it and deliver results. 



%section.l-module--spaced.border-bottom
  .l-container
    .video-wrapper
      <iframe id="videotarget" class="home-video" src="" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      #videotrigger
        %img{:src=>"img/video-poster.jpg", :width => "1280", :height => "720"}    

%section.l-module--spaced
  .l-container--list
    %h1.header--grey.txt-center 
      %a.grey-link{:href=>"work.html"}
        %span Our work
    %ul.project-thumbnails
      %li.palladino
        %a{:href=>"palladino-auto-group.html"}
          %img{:src=>"img/logos/palladinoautogroup.svg", :width=>"397", :height=>"257"}
      %li.lu
        %a{:href=>"laurentian-university.html"}
          %img{:src=>"img/logos/laurentianuniversity.svg", :width=>"397", :height=>"257"}
      %li.musagetes
        %a{:href=>"musagetes.html"}
          %img{:src=>"img/logos/musagetesfoundation.svg", :width=>"397", :height=>"257"}
      %li.helios
        %a{:href=>"helios.html"}
          %img{:src=>"img/logos/helios.svg", :width=>"397", :height=>"257"}
      %li.carte
        %a{:href=>"carte-blanche-films.html"}
          %img{:src=>"img/logos/carteblanchefilms.svg", :width=>"397", :height=>"257"}
      %li.bird
        %a{:href=>"bird-kingdom.html"}
          %img{:src=>"img/logos/birdkingdom.png", :width=>"397", :height=>"257"}
      %li.carrefour
        %a{:href=>"carrefour.html"}
          %img{:src=>"img/logos/carrefour.svg", :width=>"397", :height=>"257"}
      %li.tno
        %a{:href=>"tno.html"}
          %img{:src=>"img/logos/tno.svg", :width=>"397", :height=>"257"}
      %li.fcr
        %a{:href=>"fcr.html"}
          %img{:src=>"img/logos/fcr.svg", :width=>"397", :height=>"257"}
  .l-container--wide.txt-center.more-work
    <a href="work.html">See more of our work</a>

= partial "blog-teaser"
= partial "project-crosslink"



