---
title: "Bureau - Home"
---

- @body_class = 'page-home'
- @page_class = ''
#header-cover
  %section.l-module
    #video-trigger.l-container--full
      .video-wrapper
        .video-mask
        #ytplayer.home-video--intro
        :javascript
          var tag = document.createElement('script');
          tag.src = "https://www.youtube.com/player_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
          var player;
          function onYouTubeIframeAPIReady() {
            player = new YT.Player('ytplayer', {
              playerVars: { 
                'autoplay': 1, 
                'end': 65,
                'controls': 0, 
                'loop': 1, 
                'enablejsapi': 1, 
                'autohide': 1,
                'modestbranding': 1,
                'playlist': 'ubtuKcFPGmA'
              },
              videoId: 'ubtuKcFPGmA', 
              events: {
              'onReady': onPlayerReady,
              }
              
              });
            }
          function onPlayerReady(event) { 
              event.target.setPlaybackQuality("small");
          }
      %h2.home-introtext Today's marketplace demands bold moves. You may have a great product or service, but if your customers can’t find it they'll be forced to go elsewhere.
  .l-module
    .l-container.arrow-wrap
      .home-arrow#home-arrow
        %img{:src=>"img/home-arrow.svg"}

%section.l-module--spaced.grey-bg#specialty
  .l-container
    %header.txt-center
      %h1.header--red We specialize in the business of:
    %article.specialty.specialty-search#specialty-one
      %img{:src=>"img/home-search.svg"}
      %h2.subhead--grey Getting you found
      %p With extensive web design, web development, responsive design, search sngine optimization, and social marketing services, we will help you get found, drive traffic, and rise you above your competition.
      .dotted-arrow
    %article.specialty#specialty-two
      %img.specialty-market{:src=>"img/home-market.svg"}
      %h2.subhead--grey Marketing your product
      %p With extensive web design, web development, responsive design, search sngine optimization, and social marketing services, we will help you get found, drive traffic, and rise you above your competition.
      .dotted-arrow
    %article.specialty#specialty-three
      %img{:src=>"img/home-money.svg"}
      %h2.subhead--grey Making you more money
      %p With extensive web design, web development, responsive design, search sngine optimization, and social marketing services, we will help you get found, drive traffic, and rise you above your competition.

%section.l-module--spaced.border-bottom
  .l-container
    .video-wrapper
      <iframe id="videotarget" class="home-video" src="" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      #videotrigger
        %img{:src=>"img/video-poster.jpg"}    

%section.l-module--wide
  .l-container--list
    %a{:href=>"#"}
      %h1.header--grey.txt-center Our work
    %ul.project-thumbnails
      %li.palladino
        %a{:href=>"#"}
          %img{:src=>"img/logos/palladinoautogroup.svg"}
      %li.lu
        %a{:href=>"#"}
          %img{:src=>"img/logos/laurentianuniversity.svg"}
      %li.musagetes
        %a{:href=>"musagetes.html"}
          %img{:src=>"img/logos/musagetesfoundation.svg"}
      %li.helios
        %a{:href=>"#"}
          %img{:src=>"img/logos/helios.svg"}
      %li.carte
        %a{:href=>"#"}
          %img{:src=>"img/logos/carteblanchefilms.svg"}
      %li.bird
        %a{:href=>"#"}
          %img{:src=>"img/logos/birdkingdom.png"}
      %li.carrefour
        %a{:href=>"#"}
          %img{:src=>"img/logos/carrefour.svg"}
      %li.tno
        %a{:href=>"#"}
          %img{:src=>"img/logos/tno.svg"}
      %li.fcr
        %a{:href=>"#"}
          %img{:src=>"img/logos/fcr.svg"}
  .l-container--wide.txt-center.more-work
    <a href="work.html">See more of our work</a>

= partial "blog-teaser"
= partial "project-crosslink"



