---
title: "Koopdekour - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.koop
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Koopdekour
        %h2.intro-subhead.txt-white For any new business entering a saturated and highly competitive market, an advanced strategy and strong visual identity are crucial. Toronto-based fashion and accessories firm Koupdekoor understood this from the beginning. A play on the French expression 'coup de cœur,' essentially meaning love at first sight, the business' name aptly describes the feeling customers seeing their products for the first time experience.
        %i.txt-white Visual identity design / Website design and development (Shopify) / Social media integration
  

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Love at first sight.
      %p.project-paragraph Not content with simply having a clever name, however, the company has proven their ingenuity runs deep by launching as an exclusively online business. This strategy means they avoid the costly overhead and limited reach of a physical store, allowing them to direct their savings to creating a strong visual identity and attractive website which engages customers and encourages repeat visits.

  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/kdk-1.jpg"}

  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/kdk-2.jpg"}


  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Shop 'til you drop.
      %p.project-paragraph We worked closely with the Koopdekour crew to develop that identity and create a smooth virtual shopping experience no physical store can match. Whether visiting from the comfort of home or sitting on the beach with an iPad, the strength of Bureau's e-commerce technology and the beauty of the website on which it functions have already created a loyal group of repeat customers, setting Koupdekoor firmly on the path to success.

    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/kdk-3.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/kdk-4.jpg"}
    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















