---
title: "Pathstone - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.pathstone
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Pathstone
        %h2.intro-subhead.txt-white Our knowledge and treatment of mental health has come a long way in recent decades. Niagara based mental health clinic Pathstone ably represents that progress, but their former website failed to communicate it as well as they believed a site could. We agreed.
        %i.txt-white Website design and development (Drupal CMS) / Social media integration

  .l-module--spaced
    .l-container--narrow.txt-center
      %img.image{:src=>"img/portfolio/pathstone-1.jpg"}
    .l-container--narrow
      %h2.header--grey Mental health is a sensitive subject.
      %p.project-paragraph Bureau addressed this issue by delivering them a new website which took the needs of their client base into account. Understanding the sensitivity of their mandate, we put the utmost care into the new website's development. Clear and concise, the new site is friendly to both visitor and staff use alike. 


    .l-container--wide.txt-center
      %img.image{:src=>"img/portfolio/pathstone-2.jpg"}


    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/pathstone-3.jpg"}
    .l-container--wide.txt-center
      %img.image{:src=>"img/portfolio/pathstone-4.jpg"}

  .l-module      
    %img.image--fullwidth{:src=>"img/portfolio/pathstone-7.jpg"}

  .l-module--wide.grey-bg
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/pathstone-6.png"}
    .l-container--narrow
      %h2.header--grey Standing on the shoulders of giants.
      %p.project-paragraph Effectively communicating the wide range of services they offer, all departments of Pathstone are able to edit and add to each section which ensures information is relevant and up to date. We've improved their ability to connect with the individuals they serve by fully integrating the website with their social media channels for ease of contact.

    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















