---
title: "We're a digital communication firm headquartered in Sudbury, Ontario."
description: "As Northern Ontario's fastest growing firm, boasting over 100 clients in less than 4 years, we specialize in marketing, branding, and social media."
---

- @body_class = 'page-profile'
- @page_class = ''
%section.l-module.border-bottom
  .bureau-image
    %h1.header--white.profile-header.txt-center We are Bureau.
  .l-module--wide
    .l-container--wide 
      %article.two-thirds.fl.profile-intro
        %h1.subhead--grey
          We're a digital communication firm headquartered in Sudbury, Ontario, and we're pleased to meet you.
        %p
          Youthful, knowledgeable, resourceful and creative, our team is in touch with and understands the latest technologies and behaviors. We don't just know the trends, we set them. As communications change at an incredible pace, we're skilled in making sense of the latest and greatest, identifying and harnessing their potential and using that knowledge to increase your revenue. 

        %p
          As Northern Ontario's fastest growing marketing firm, boasting a roster of over 100 clients in less than four years, we specialize in formulating strategies which combine traditional marketing and branding with emerging social media. As design leaders, we understand the importance of results-oriented creative work.  
        %a{:href=>"services.html"}
          %span See our entire list of services.

      %img.one-third.fr{:src=>"img/profile-logos.jpg", :alt=>"Companies We Work With"}  

%section.l-module--wide
  .l-container--thin
    %h1.subhead--grey.txt-center Our team
  .l-container--list
    %article.people
      %img{:src=>"img/profile-8.jpg", :alt=>"Frank Chartrand"}
      %h2 Frank Chartrand RGD
      %p Account Executive
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      .follow-btns
        <a href="https://www.twitter.com/frankchartrand" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @frankchartrand</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/profile/view?id=18111298", :target=>"blank"}
          %img{:src=>"img/linkedin.png"}

    %article.people
      %img{:src=>"img/profile-7.jpg", :alt=>"Terrie Barksey"}
      %h2 Terrie Barksey
      %p Creative Director
      %a{:href=>"mailto:terrie@bureau.ca"}
        %span terrie@bureau.ca
      .follow-btns
        <a href="https://twitter.com/terriebarksey" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @terriebarksey</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/in/terriebarksey", :target=>"blank"}
          %img{:src=>"img/linkedin.png"}

    %article.people
      %img{:src=>"img/profile-5.jpg", :alt=>"Real Fortin"}
      %h2 Réal Fortin RGD
      %p Senior Consultant
      %a{:href=>"mailto:real@bureau.ca"}
        %span real@bureau.ca
      .follow-btns
        <a href="https://twitter.com/rfortin" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @rfortin</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/in/after55", :target=>"blank"}
          %img{:src=>"img/linkedin.png"}

    %article.people
      %img{:src=>"img/profile-4.jpg", :alt=>"Matt Southern"}
      %h2 Matt Southern
      %p Digital Strategist
      %a{:href=>"mailto:matt@bureau.ca"}
        %span matt@bureau.ca
      .follow-btns
        <a href="https://twitter.com/mattsouthern" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @mattsouthern</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  
        %a.linked-in{:href=>"http://www.linkedin.com/pub/matt-southern/36/18a/568", :target=>"blank"}
          %img{:src=>"img/linkedin.png"}



%section.l-module--wide.grey-bg
  .l-container--thin
    %h1.subhead--grey.txt-center MANIFESTO
  .l-container--wide 
    %ol.manifesto-list
      %li
        %h2 Difference
        %p In a sea of conformity, innovation and challenge lead to success. 
      %li
        %h2 Adaptation
        %p All life on Earth shares a common reality - adaptation equals prosperity. Always keep an umbrella in your bag.

      %li
        %h2 Challenge
        %p What is easily obtained is easily lost, the most valuable assets are the most difficult to possess.
      %li
        %h2 Fun
        %p Life without joy is just plain boring. Laugh and sing loudly, dance and run passionately, make your heart beat a little more quickly every day.
      %li
        %h2 Revenue
        %p Too many businesses speak of revenue in hushed terms. Talk money. If you don’t, you aren’t in business.
      %li
        %h2 Method
        %p Before the first story was told, we created language. Before the first seafarers discovered new land, they built ships. Before the first astronaut reached space, we built rockets.
      %li
        %h2 Respect
        %p Respect is something to be practiced rather than simply stated. It is a philosophy etched in action rather than words.
      %li
        %h2 Relevance
        %p To shape our future, we must know our past and understand the present.
      %li
        %h2 Creativity
        %p Invention and innovation distinguish the exceptional from the mediocre.
      %li
        %h2 Work
        %p Hard work turns inspiration into invention projects anew.

    




= partial "project-crosslink"



