---
title: "Bureau - Profile"
---

- @body_class = 'page-profile'
- @page_class = ''
%section.l-module.border-bottom
  .bureau-image
    %h1.header--grey.profile-header We are Bureau
  .l-module--wide
    .l-container--wide 
      %article.two-thirds.fl
        %h1.subhead--grey
          We are a Canadian communications firm headquartered in Sudbury, Ontario.
        %p
          We have a formidable advantage in being a part of today’s generation, entrenched in all of the new technologies and social behaviours. We are witnessing communication being turned upside down, while making sense of it all and harnessing its potential. 

        %p
          Bureau is Sudbury’s fastest growing marketing firm, with a roster of over 80 clients in just under 4 years, specializing in creating results for its clients. Bureau utilizes a formula combining traditional marketing and branding with emerging forms of social media. As a leader in the design world, Bureau understands the importance of results-based creative work.
        %a{:href=>"services.html"}
          %span See our entire list of services

      %img.one-third.fr{:src=>"img/profile-logos.jpg"}  

%section.l-module--wide
  .l-container--thin
    %h1.subhead--grey.txt-center Our team
  .l-container--list 
    %article.people
      %img{:src=>"img/profile-8.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  

    %article.people
      %img{:src=>"img/profile-6.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  


    %article.people
      %img{:src=>"img/profile-5.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  


    %article.people
      %img{:src=>"img/profile-4.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  


    %article.people
      %img{:src=>"img/profile-7.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  

    %article.people
      %img{:src=>"img/profile-2.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  

    %article.people
      %img{:src=>"img/profile-3.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  


%section.l-module--wide.grey-bg
  .l-container--thin
    %h1.subhead--grey.txt-center MANIFESTO
  .l-container--wide 
    %ol.manifesto-list
      %li
        %h2 Dare to be different
        %p You'll be noticed and talked about.
      %li
        %h2 Seek out change
        %p Being and doing the same makes it impossible to innovate.
      %li
        %h2 Push the envelope (always)
        %p Coasting means you’re going downhill.
      %li
        %h2 Make it fun
        %p You'll be noticed and talked about.
      %li
        %h2 Talk money
        %p If you aren’t, you’re not in business.
      %li
        %h2 Process is the box
        %p Use it regularly and step out of it daily.
      %li
        %h2 Respect is the secret
        %p Respect your team, respect your client and respect yourself.
      %li
        %h2 Young is a state of mind
        %p We only age when we choose to. Release your inner child.
      %li
        %h2 Make it fun
        %p You'll be noticed and talked about.
      %li
        %h2 Be inspired
        %p Listen to music and create art. As Emma Goldman said, <i>“If I can’t dance, I don’t want to be part of your revolution.”</i>
      %li
        %h2 Be a citizen of the world
        %p Travel as much as possible. Visiting different cultures allows you to approach projects anew.
      %li
        %h2 Planning is like breathing
        %p Failing to plan means that you’re planning to fail.
      %li
        %h2 On success
        %p We will only be successful if you are successful. Let’s both aim for the stars.
      %li
        %h2 Creativity comes in the form of a spark
        %p It takes the right people to start the fire.


    




= partial "project-crosslink"



