---
title: "Bureau - Profile"
---

- @body_class = 'page-profile'
- @page_class = ''
%section.l-module--wide.border-bottom
  .l-container--wide
    %h1.header--grey We are Bureau
    %img.profile-img{:src=>"img/profile-1.jpg"}
  .l-container--thin 
    %article.two-thirds.fl
      %h1.subhead--grey
        We are a Canadian communications firm headquartered in Sudbury, Ontario.
      %p
        We have a formidable advantage in being a part of today’s generation, entrenched in all of the new technologies and social behaviours. We are witnessing communication being turned upside down, while making sense of it all and harnessing its potential. 

      %p
        Bureau is Sudbury’s fastest growing marketing firm, with a roster of over 80 clients in just under 4 years, specializing in creating results for its clients. Bureau utilizes a formula combining traditional marketing and branding with emerging forms of social media. As a leader in the design world, Bureau understands the importance of results-based creative work.
      %a{:href=>"services.html"}
        %span See our entire list of services

    %img.one-third.fr{:src=>"img/profile-logos.jpg"}  

%section.l-module--wide
  .l-container--thin
    %h1.subhead--grey.txt-center Our team
  .l-container--list 
    %article.people
      %img{:src=>"img/profile-2.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  

    %article.people
      %img{:src=>"img/profile-2.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  


    %article.people
      %img{:src=>"img/profile-2.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  


    %article.people
      %img{:src=>"img/profile-2.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  


    %article.people
      %img{:src=>"img/profile-2.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  

    %article.people
      %img{:src=>"img/profile-2.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  

    %article.people
      %img{:src=>"img/profile-2.jpg"}
      %h2 Frank M. Chartrand, R.G.D
      %p Founder
      %a{:href=>"mailto:frank@bureau.ca"}
        %span frank@bureau.ca
      %a{:href=>"http://www.frankchartrand.com"}
        %span frankchartrand.com
      <a href="https://twitter.com/ScottSavarie" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @ScottSavarie</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>  


        

= partial "project-crosslink"



