---
title: "RE/MAX - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.remax
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white RE/MAX
        %h2.intro-subhead.txt-white Real estate is a tough business. Buyers and sellers alike demand much from their agents, and Niagara Realtor Ted Boldt wanted to boost his profile and sales with a new website which both demonstrated his willingness to go the extra mile and enticed visitors to return. 
        %i.txt-white Website design and development (Drupal CMS) / Social media integration
  
  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/remax-1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey House hunting isn't easy.
      %p.project-paragraph Buying a home can prove a complicated process for most people, so Ted wanted a site which allowed him to simplify things. He needed the ability to quickly and easily create new listings while ensuring he established an ideal comfort level with the buyer by providing as much information as possible.


    .l-container--wide.txt-center
      %img.image{:src=>"img/portfolio/remax-2.jpg"}

    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/remax-3.jpg"}
    .l-container--narrow
      %h2.header--grey Making significant connections.
      %p.project-paragraph Our response was to produce a website which features a platform that allows Ted to effortlessly add as much content to a listing as a buyer might need to know, all integrated with data pulled directly from the well-known MLS real estate system. Text, videos and photos alike can be added and edited to paint the perfect picture of his listings and match the seller with the ideal buyer. Connecting the website to his social media presence, he now connects easily yet in a significant way with both clients and potential buyers.

    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















