---
title: "RGD Ontario - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.palladino
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white RGD Ontario
        %h2.intro-subhead.txt-white As a design firm, it was a particular pleasure for us to work with RGD Ontario. We assisted on a collaboration between RGD Ontario and the Sudbury Design Society called LateralThinkers which is a virtual, eco-friendly and thought-provoking design conference broadcast from Sudbury with satellite venues in Vancouver, Ottawa and Toronto.

        %i.txt-white Event strategy / Event promotion / Event coordination / Website design and development (Wordpress CMS) / Design of posters and printed material
  
  .l-module 
    %img.image--fullwidth{:src=>"img/portfolio/rgd-1.jpg"}

  .l-module--spaced
    .l-container--narrow
      %h2.header--grey Connecting new ideas.
      %p.project-paragraph Helping to promote and execute LateralThinkers for three consecutive years, we created a concept based on networking, sustainability, collaborative endeavours and a range of novel thought. Tired of the typical symbolism used to communicate the design process, we devised new ways to represent the key elements of brainstorming and bringing thought to reality free from the weight of cliche.
      %p.project-paragraph Northern Ontario's first design conference, internationally renowned designers have delivered live presentations via Skype to a diverse audience of their contemporaries. Those speakers have included industry leaders such as Wally Olins of Saffron in the UK, American illustrator Frank Chimero, Paddy Harrington of Bruce Mau Design and Indigo, Germany's Erik Spiekermann of Edenspiekermann, Paula Scher of New York City's Pentagram and Australian Vince Frost of Frost Design.

    .l-container--wide.txt-center
      %img.image{:src=>"img/portfolio/rgd-2.jpg"}

    .l-container.txt-center
      %img{:src=>"img/portfolio/rgd-3.jpg"}
  .l-module--wide.grey-bg
    .l-container--narrow
      %h2.header--grey Inspiring the next generation.
      %p.project-paragraph Our goal in spearheading this initiative alongside RGD Ontario was to provide both inspiration and information to students, letting them know about the myriad opportunities available through pursuing a design career. It seems to have worked, with many of those students going on to enjoy successful careers doing something they love. 

    .l-container--wide.txt-center
      %img.image{:src=>"img/portfolio/rgd-4.jpg"}

    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/rgd-5.jpg"}

    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















