---
title: "Services - Bureau"
---

- @body_class = 'page-services'
- @page_class = ''

%section.l-module--spaced.border-bottom
  .l-container
    %header.txt-center
      %h1.header--grey We love what we do
      %h2.intro-subhead We develop dynamic design anchored in strategy and research. We believe in a collaborative approach to marketing, working closely with our clients to design complete experiences.
%section.l-module--spaced
  .l-container.txt-center
    %article.specialty
      %img{:src=>"img/services-devices.svg", :width=>"140", :height=>"140"}
      %h2.header--red Digital
      %ul
        %li Web design
        %li Web development
        %li Interactive
        %li SEO
        %li User interface design
        %li Social marketing
        %li Digital marketing
        %li App development
        %li eCommerce
        %li Web hosting
 
    %article.specialty
      %img{:src=>"img/services-speech.svg", :width=>"140", :height=>"140"}
      %h2.header--red Communication
      %ul
        %li Visual identity &amp; collateral
        %li Video production
        %li Packaging design
        %li Magazines &amp; books
        %li Architectural rendering
        %li Wayfinding &amp; signage
        %li Newsletters
        %li Content development
        %li Translation
        %li Printing

    %article.specialty
      %img{:src=>"img/services-gears.svg", :width=>"140", :height=>"140"}
      %h2.header--red Strategy
      %ul
        %li Communication planning
        %li Marketing planning
        %li Strategic development
        %li Workshops* and training
        %li Campaign development
        %li Concept &amp; production
        %li Standards guides
        %li Brand audit
        %li Consultation
        %li Event planning
  .l-container.txt-center.services-note
    %aside
      %p <span>*</span> We are available for workshops and speaking engagements of numerous topics including branding, social marketing, and more. Workshops start at $3,000 per day. <a href="worksheet.html">Get in touch to see how we can help you.</a>


= partial "blog-teaser"
= partial "project-crosslink"













