---
title: "St-Andrews - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module--spaced.standrews
    %img.image--fullwidth{:src=>"img/portfolio/standrews_1.jpg"}

    .l-container--narrow.project-intro
      %header
        %h1.header.txt-white St-Andrews
        %h2.intro-subhead.txt-white For those of us who have tried getting in touch with one business only to find we'd instead reached a company of a similar name, the frustration such confusion can produce is familiar. Imagine, then, how much greater that frustration is for the businesses themselves. 
        %i.txt-white branding / web design / poster design
  

  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/standrews_2.jpg"}
    .l-container--narrow
      %h2.header--grey How we brought a community of artists, designers, activists together
      %p.project-paragraph St. Andrew's Place and St. Andrew's Church are two separate organizations under the same umbrella, so the challenge of distinguishing them from one another in the public mind was even greater. Fortunately, we love a good challenge here at Bureau.
      %p.project-paragraph Sharing a building (but not the same mission) at 111 Larch Street in Sudbury, we needed a carefully cultivated strategy to separate their practices while maintaining the elements which unite them. We had to refresh their image and remind Sudbury of the excellent services they offered right in the heart of the city.
      %p.project-paragraph We first created a symbol which invoked an urban feel which could be used by both organizations. In order for them to reclaim and maintain their relevance, we went further in modernizing their image, creating new branding which was recognized in Design Edge Magazine as one of Canada's best identity redesigns of 2011.
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/standrews_3.jpg"}
 
  .l-module
    %img.image--fullwidth{:src=>"img/portfolio/standrews_4.jpg"}
  .l-module
    %img.image--fullwidth{:src=>"img/portfolio/standrews_5.jpg"}

  .l-module.standrews
    .l-container.txt-emph.txt-center
      %h1.header--white "While many logos seek energy and movement, this relogo exudes tranquility and reflection. The modified capital A is somehow reminiscent of a church steeple. The blue cross finishes the latter and its particular shade gives the symbol its quiet feel. The lightweight Gotham logotype adds a contemporary note, balancing the serif A. This relogo demonstrates that a religious institution can have a contemporary logo that strikes the proper balance between the decorum required and good design."
      %i.txt-white –Phillip Unger, Method Branding and the Ontario College of Art and Design

  .l-module--spaced
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/standrews_6.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/standrews_7.jpg"}
    .l-container--wide.txt-center
      %img{:src=>"img/portfolio/standrews_8.jpg"}
    .l-container--narrow
      %h2.header--grey We couldn't be prouder of those accolades.
      %p.project-paragraph Not content with simply refreshing their branding, however, we complimented those efforts with signage, banners for the building and a new website and social media presence which simply and succinctly communicates their services. With that Bureau designed branding showcased on the facade of their centrally located home in downtown Sudbury, the result of our efforts is an increased and still increasing awareness and use of their services, not to mention a clarity where the distinction between St. Andrew's Place and St. Andrew's Church are concerned. We continue to serve all of their marketing and design needs.
    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















