---
title: "Théâtre du Nouvel-Ontario - Bureau"

---

- @body_class = 'page-work-detail'
- @page_class = ''

%section
  .l-module.tno
    .l-container.project-intro
      %header.txt-emph.two-thirds
        %h1.header.txt-white Théâtre du Nouvel-Ontario
        %h2.intro-subhead.txt-white Le Théâtre du Nouvel-Ontario were Northern Ontario's first francophone theatre group, boasting a 40+ year history of entertaining the region. We first started working with TNO on the occasion of their 40th anniversary, using a regional tradition of placing 40 flamingos on a friends lawn when they celebrate their 40th birthday as inspiration.
        %i.txt-white Strategy / Conceptualization and storyboards for advertisements / Filming / Editing and production

  .l-module--spaced
    .l-container--narrow.txt-center
      %img{:src=>"img/portfolio/tno_1.jpg"}
    .l-container--narrow
      %h2.header--grey Pink flamingos.
      %p.project-paragraph We created a versatile piece that could be used on traditional and new media alike, painting the flamingos green as a simple way to incorporate the brand and the campaign, complete with custom-made PANTONE aerosol cans.

    .l-container
      .video-wrapper--project  
        <iframe class="home-video" src="http://player.vimeo.com/video/28937349?title=0&amp;byline=0&amp;portrait=0&amp;color=7ac142" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      .video-wrapper--project
        <iframe class="home-video" src="http://player.vimeo.com/video/49210935?title=0&amp;byline=0&amp;portrait=0&amp;color=7ac142" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    .l-container--narrow
      %h2.header--grey Making a splash.
    %p.project-paragraph Théâtre du Nouvel-Ontario has relied on Bureau for three years now, and in that time we've produced their television ads and social media videos including a spot centered around the aforementioned flamingo theme. With green flamingos popping up in distinct locations throughout Greater Sudbury, this guerrilla-style endeavor created a buzz around the city which gave traction to the ads even before they aired. Subsequent campaigns have included custom soundtracks created by our firm and many other creative touches designed to grab the viewer's attention without letting go until they're seated at a TNO production.   
    .l-container--narrow
      = partial "project-like"



= partial "project-crosslink"



















