---
title: "Website design and marketing solutions for Sudbury, Ontario businesses"
description: "Case studies of work we have done for businesses in Sudbury and Northern Ontario. Projects include website design, branding, marketing, and print."
---

- @body_class = 'page-work'
- @page_class = ''

%section.l-module--wide
  .l-container--wide
    %h1.header--grey.txt-center Our work
    %h2.intro-subhead.txt-center 
      We turn potential customers into repeat customers. 
      %a{:href=>"services.html"}
        %span See our services.
  .l-container--list
    %ul.project-thumbnails
      %li.fcr
        %a{:href=>"fcr.html"}
          %img{:src=>"img/logos/fcr.svg", :width=>"397", :height=>"257", :alt=>"FCR Logo"}
      %li.cafe
        %a{:href=>"cafe-petit-gateau.html"}
          %img{:src=>"img/logos/cafe.svg", :width=>"397", :height=>"257", :alt=>"Cafe Petit Gateau Logo"}
      %li.helios
        %a{:href=>"helios.html"}
          %img{:src=>"img/logos/helios.svg", :width=>"397", :height=>"257", :alt=>"Helios Developments Logo"}
      %li.carte
        %a{:href=>"carte-blanche-films.html"}
          %img{:src=>"img/logos/carteblanchefilms.svg", :width=>"397", :height=>"257", :alt=>"Carte Blanche Films Logo"}
      %li.lu
        %a{:href=>"laurentian-university.html"}
          %img{:src=>"img/logos/laurentianuniversity.svg", :width=>"397", :height=>"257", :alt=>"Laurentian University Logo"}
      %li.palladino
        %a{:href=>"palladino-auto-group.html"}
          %img{:src=>"img/logos/palladinoautogroup.svg", :width=>"397", :height=>"257", :alt=>"Palladino Auto Group Logo"}
      %li.musagetes
        %a{:href=>"musagetes.html"}
          %img{:src=>"img/logos/musagetesfoundation.svg", :width=>"397", :height=>"257", :alt=>"Musagetes Logo"}
      %li.bird
        %a{:href=>"bird-kingdom.html"}
          %img{:src=>"img/logos/birdkingdom.png", :width=>"397", :height=>"257", :alt=>"Bird Kingdom Logo"}
      %li.carrefour
        %a{:href=>"carrefour.html"}
          %img{:src=>"img/logos/carrefour.svg", :width=>"397", :height=>"257", :alt=>"Carrefour Francophone Logo"}
      %li.tno
        %a{:href=>"tno.html"}
          %img{:src=>"img/logos/tno.svg", :width=>"397", :height=>"257", :alt=>"TNO Logo"}
      %li.boma
        %a{:href=>"city-of-greater-sudbury.html"}
          %img{:src=>"img/logos/sudbury.png", :width=>"397", :height=>"257", :alt=>"City Of Greater Sudbury Logo"}
      %li.standrews
        %a{:href=>"st-andrews.html"}
          %img{:src=>"img/logos/standrews.svg", :width=>"397", :height=>"257", :alt=>"St. Andrews Logo"}
      %li.ican
        %a{:href=>"ican.html"}
          %img{:src=>"img/logos/ican.svg", :width=>"397", :height=>"257", :alt=>"ICAN Logo"}
      %li.remax
        %a{:href=>"remax.html"}
          %img{:src=>"img/logos/remax.svg", :width=>"397", :height=>"257", :alt=>"Remax Logo"}
      %li.ottawa
        %a{:href=>"east-ottawa-midwives.html"}
          %img{:src=>"img/logos/eastottawamidwives.svg", :width=>"397", :height=>"257", :alt=>"East Ottawa Midwives Logo"}
      %li.boma
        %a{:href=>"boma.html"}
          %img{:src=>"img/logos/bomaafrica.svg", :width=>"397", :height=>"257", :alt=>"Boma La Moma Logo"}
      %li.koop
        %a{:href=>"koopdekour.html"}
          %img{:src=>"img/logos/koopdekour.png", :width=>"397", :height=>"257", :alt=>"Koopdekour Logo"}
      %li.rgd
        %a{:href=>"rgd-ontario.html"}
          %img{:src=>"img/logos/rgdontario.svg", :width=>"397", :height=>"257", :alt=>"RGD Logo"}
      %li.pathstone
        %a{:href=>"pathstone.html"}
          %img{:src=>"img/logos/pathstone.svg", :width=>"397", :height=>"257", :alt=>"Pathstone Mental Health Logo"}
      %li.pilates
        %a{:href=>"pilates-pro.html"}
          %img{:src=>"img/logos/pilatespro.svg", :width=>"397", :height=>"257", :alt=>"Pilates Pro Logo"}
      %li.culturel
        %a{:href=>"centre-culturel-frontenac.html"}
          %img{:src=>"img/logos/ccf.svg", :width=>"397", :height=>"257", :alt=>"Centre Culturel Frontenac Logo"}
      %li.hideaway
        %a{:href=>"hideaway-pictures.html"}
          %img{:src=>"img/logos/hideawaypictures.svg", :width=>"397", :height=>"257", :alt=>"Hideaway Pictures Logo"}
      %li.boma
        %a{:href=>"central-manitoulin.html"}
          %img{:src=>"img/logos/manitoulin.png", :width=>"397", :height=>"257", :alt=>"Central Manitoulin Logo"}
      %li.nim
        %a{:href=>"nim.html"}
          %img{:src=>"img/logos/nim.svg", :width=>"397", :height=>"257", :alt=>"Nim Disposals Logo"}

= partial "project-crosslink"