---
title: "Work - Bureau"
---

- @body_class = 'page-work'
- @page_class = ''

%section.l-module--wide
  .l-container--wide
    %h1.header--grey.txt-center Our work
    %h2.intro-subhead.txt-center 
      We help brands get discovered by their future customers. 
      %a{:href=>"services.html"}
        %span See our services.
  .l-container--list
    %ul.project-thumbnails
      %li.palladino
        %a{:href=>"#"}
          %img{:src=>"img/logos/palladinoautogroup.svg", :width=>"397", :height=>"257"}
      %li.lu
        %a{:href=>"#"}
          %img{:src=>"img/logos/laurentianuniversity.svg", :width=>"397", :height=>"257"}
      %li.musagetes
        %a{:href=>"musagetes.html"}
          %img{:src=>"img/logos/musagetesfoundation.svg", :width=>"397", :height=>"257"}
      %li.helios
        %a{:href=>"#"}
          %img{:src=>"img/logos/helios.svg", :width=>"397", :height=>"257"}
      %li.carte
        %a{:href=>"#"}
          %img{:src=>"img/logos/carteblanchefilms.svg", :width=>"397", :height=>"257"}
      %li.bird
        %a{:href=>"#"}
          %img{:src=>"img/logos/birdkingdom.png", :width=>"397", :height=>"257"}
      %li.carrefour
        %a{:href=>"#"}
          %img{:src=>"img/logos/carrefour.svg", :width=>"397", :height=>"257"}
      %li.tno
        %a{:href=>"#"}
          %img{:src=>"img/logos/tno.svg", :width=>"397", :height=>"257"}
      %li.fcr
        %a{:href=>"#"}
          %img{:src=>"img/logos/fcr.svg", :width=>"397", :height=>"257"}
      %li.boma
        %a{:href=>"#"}
          %img{:src=>"img/logos/sudbury.png", :width=>"397", :height=>"257"}
      %li.cafe
        %a{:href=>"#"}
          %img{:src=>"img/logos/cafe.svg", :width=>"397", :height=>"257"}
      %li.standrews
        %a{:href=>"#"}
          %img{:src=>"img/logos/standrews.svg", :width=>"397", :height=>"257"}
      %li.ican
        %a{:href=>"#"}
          %img{:src=>"img/logos/ican.svg", :width=>"397", :height=>"257"}
      %li.remax
        %a{:href=>"#"}
          %img{:src=>"img/logos/remax.svg", :width=>"397", :height=>"257"}
      %li.ottawa
        %a{:href=>"#"}
          %img{:src=>"img/logos/eastottawamidwives.svg", :width=>"397", :height=>"257"}
      %li.boma
        %a{:href=>"#"}
          %img{:src=>"img/logos/bomaafrica.png", :width=>"397", :height=>"257"}
      %li.koop
        %a{:href=>"#"}
          %img{:src=>"img/logos/koopdekour.png", :width=>"397", :height=>"257"}
      %li.rgd
        %a{:href=>"#"}
          %img{:src=>"img/logos/rgdontario.svg", :width=>"397", :height=>"257"}
      %li.pathstone
        %a{:href=>"#"}
          %img{:src=>"img/logos/pathstone.svg", :width=>"397", :height=>"257"}
      %li.pilates
        %a{:href=>"#"}
          %img{:src=>"img/logos/pilatespro.svg", :width=>"397", :height=>"257"}
      %li.culturel
        %a{:href=>"#"}
          %img{:src=>"img/logos/ccf.svg", :width=>"397", :height=>"257"}
      %li.hideaway
        %a{:href=>"#"}
          %img{:src=>"img/logos/hideawaypictures.svg", :width=>"397", :height=>"257"}
      %li.boma
        %a{:href=>"#"}
          %img{:src=>"img/logos/manitoulin.png", :width=>"397", :height=>"257"}
      %li.nim
        %a{:href=>"#"}
          %img{:src=>"img/logos/nim.svg", :width=>"397", :height=>"257"}

= partial "project-crosslink"