---
title: "Bureau - Work"
---

- @body_class = 'page-work'
- @page_class = ''

%section.l-module--wide
  .l-container--wide
    %h1.header--grey.txt-center What we do
    %h2.intro-subhead.txt-center 
      We help brands get discovered by their future customers. 
      %a{:href=>"services.html"}
        %span See Our Services
  .l-container--list
    %ul.project-thumbnails
      %li.palladino
        %a{:href=>"#"}
          %img{:src=>"img/logos/palladinoautogroup.svg"}
      %li.lu
        %a{:href=>"#"}
          %img{:src=>"img/logos/laurentianuniversity.svg"}
      %li.musagetes
        %a{:href=>"musagetes.html"}
          %img{:src=>"img/logos/musagetesfoundation.svg"}
      %li.helios
        %a{:href=>"#"}
          %img{:src=>"img/logos/helios.svg"}
      %li.carte
        %a{:href=>"#"}
          %img{:src=>"img/logos/carteblanchefilms.svg"}
      %li.bird
        %a{:href=>"#"}
          %img{:src=>"img/logos/birdkingdom.png"}
      %li.carrefour
        %a{:href=>"#"}
          %img{:src=>"img/logos/carrefour.svg"}
      %li.tno
        %a{:href=>"#"}
          %img{:src=>"img/logos/tno.svg"}
      %li.fcr
        %a{:href=>"#"}
          %img{:src=>"img/logos/fcr.svg"}
      %li.palladino
        %a{:href=>"#"}
          %img{:src=>"img/logos/palladinoautogroup.svg"}
      %li.lu
        %a{:href=>"#"}
          %img{:src=>"img/logos/laurentianuniversity.svg"}
      %li.musagetes
        %a{:href=>"#"}
          %img{:src=>"img/logos/musagetesfoundation.svg"}
      %li.helios
        %a{:href=>"#"}
          %img{:src=>"img/logos/helios.svg"}
      %li.carte
        %a{:href=>"#"}
          %img{:src=>"img/logos/carteblanchefilms.svg"}
      %li.bird
        %a{:href=>"#"}
          %img{:src=>"img/logos/birdkingdom.png"}
      %li.carrefour
        %a{:href=>"#"}
          %img{:src=>"img/logos/carrefour.svg"}
      %li.tno
        %a{:href=>"#"}
          %img{:src=>"img/logos/tno.svg"}
      %li.fcr
        %a{:href=>"#"}
          %img{:src=>"img/logos/fcr.svg"}

= partial "project-crosslink"