.l-fullwidth
  width: 100%
  margin: 0 auto


.l-container, %l-container
  width: 100%
  max-width: 1280px
  margin: 0 auto
  padding: $l-l
  

.l-container--thin
  @extend %l-container
  padding: $l-s
