#{headings(all)}
  +helvetica-bold


p
  +helvetica-light
  color: $c-darkgrey
  line-height: 1.625

.subhead--grey
  color: $c-darkgrey
  font-size: $f-m
  line-height: $f-xl

.header--red
  color: $c-red
  font-size: $f-l
  font-weight: 100


.header--grey
  color: $c-darkgrey
  font-size: $f-xl
  text-align: center
  margin: 0  
  line-height: 2


.txt-center
  text-align: center  
.txt-bold
  font-weight: 900  